<div ng-controller="jobseekermainpage">
<section class="sptopbanner banner2tb">
    <div class="container">
         <div class="slide-banner-home col-md-12">
            <div class="col-md-7 row">
                <h2>تخصص یا مهارت شما چیست؟</h2>
                <p class="color-p">    
                    سامانه های صدف، Hub یا بستری است که در آن امکان ارائه تمامی سرویس¬ها و خدمات HR که منجر به بهره این حوزه میسر خواهد بودلب<br/>
                    تحقق این هدف و د که این سامانه دارای ویژگی¬های خاصی باش: ب
                </p><br/>
				             <div class="full pull-right">
                    <p class="pull-right">نمونه عبارت: </p>
<div class="h4title whitecolor" start-timeout="2000" start-callback="myStartCallback()" end-callback="myCallback()" type-speed="20" back-speed="20" type-strings="[

                '<bسلام</b>^350 متن جهت تست^500',
                'میتوانید^500<strong>جستجو کنید</strong>!^1000',
                'این یک ویژگی است^500',
                'به همراه  <i>انیمیشن</i>!^1000',
                '^1000',
                'خیلی  <u>راحت و </u> زیبا^500',
                'با همراه رنگ بندی <code>های متنوع </code>^750 و جذاب^500',
                '^250کیفیت را تجربه کنید^2000',
                'و این <strong>بهترین کار است</strong>^400.^500.^550.^550!'

            ]" html-mode="" typed=""></div>
                </div>
				            <form name="searchmahratform2" novalidate ng-submit="searchmahratform2.$valid &&Searchmahratfun2(searchmaharat2)">
				<div class="col-md-6" style="padding-right: 0;">
  <input class="form-control jostojoazmon" name="searchmaharat2" ng-model="searchmaharat2"  placeholder="جستجو مهارت" type="text" size="100" aria-invalid="false" style="">
                 <button class="form-control-feedback fa fa-search seabtnok" type="submit">
                    </button>
                </div>
				            </form>
				          <div class="col-md-6">
                    <div class="row">
                        <button  ng-click="showalljobs()" type="button" class="btn btn-green pull-right">همه پیشنهادات کاری</button>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>
<section class="statistics-home">
   <div class="container">
      <div class="show-grid">
         <div class="col-sm-6 col-md-4-5 col-lg-1-5 border-left-right" >
            <img width="55" height="auto" src="/assets/images/statistics1.svg" alt="">
            <div class="statistics-info">
               <p class="number">{{statistic.job_seeker_count}}</p>
               <p class="title fontmedium">نیروی کارجو</p>
            </div>
         </div>        
		 <div class="col-sm-6 col-md-4-5 col-lg-1-5 border-left-right" >
            <img width="55" height="auto" src="/assets/images/statistics2.svg" alt="">
            <div class="statistics-info">
               <p class="number">{{statistic.employer_count}}</p>
               <p class="title fontmedium">شرکت/سازمان</p>
            </div>
         </div>	
		 <div class="col-sm-6 col-md-4-5 col-lg-1-5 border-left-right" >
            <img width="55" height="auto" src="/assets/images/statistics3.svg" alt="">
            <div class="statistics-info">
               <p class="number">{{statistic.job_count}}</p>
               <p class="title fontmedium">موقعیت شغلی</p>
            </div>
         </div>	
		 <div class="col-sm-6 col-md-4-5 col-lg-1-5 border-left-right" >
            <img width="55" height="auto" src="/assets/images/statistics4.svg" alt="">
            <div class="statistics-info">
               <p class="number">{{statistic.service_provider_count}}</p>
               <p class="title fontmedium">کارگزار خدمات</p>
            </div>
         </div>		
		 <div class="col-sm-6 col-md-4-5 col-lg-1-5 border-left-right" >
            <img width="55" height="auto" src="/assets/images/statistics5.svg" alt="">
            <div class="statistics-info">
               <p class="number">{{statistic.research_count}}</p>
               <p class="title fontmedium">فرصت پژوهشی</p>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="samaneh-sadaf">
   <div class="row">
      <div class="col-md-4 bg-samaneh">
         <img src="/assets/images/samaneh-sadaf.svg" alt="">
      </div>
      <div class="col-md-7 text-samaneh">
         <h2>سامانه صدف؛ یکـ راهکار برایـ شما</h2>
         <p>
            سامانه صدف، Hub یا بستری است که در آن امکان ارائه تمامی سرویس¬ها و خدمات HR که منجر به بهره برداری بهینه از سرمایه انسانی می گردد با حضور و انتفاع تمامی بازیگران این حوزه میسر خواهد بود
         </p>
         <p>
            تحقق این هدف و چشم انداز در صورتی محقق می گردد که این سامانه دارای ویژگی¬های خاصی باشد که دارا بودن آن ویژگی¬ها در گام اول شروط لازم را جهت تحقق این چشم انداز برآورده نموده و در گام بعد این ویژگی ها با به وجود آوردن مزیت های رقابتی برای این سامانه شروط کافی جهت موفقیت این سامانه را نیز فراهم می آورد.
         </p>
         <p>
            یا بستری است که در آن امکان ارائه تمامی سرویس¬ها و خدمات HR که منجر به بهره برداری بهینه از سرمایه انسانی می گردد با حضور و انتفاع تمامی بازیگران این حوزه میسر خواهد بود
         </p>
         <p>
            تحقق این هدف و چشم انداز در صورتی محقق می گردد که این سامانه دارای ویژگی¬های خاصی باشد که دارا بودن آن ویژگی¬ها در گام اول شروط لازم را جهت تحقق این چشم انداز برآورده نموده و در گام بعد این ویژگی ها با به وجود آوردن مزیت های رقابتی برای این سامانه شروط کافی جهت موفقیت این سامانه را نیز فراهم می آورد
         </p>
         <button type="button" class="btn btn-warning btn-md pull-right">تکمیل پروفایل</button>
         <button type="button" class="btn btn-warning btn-md pull-right">انتخاب مسیر</button>
         <div class="chevron-right pull-left">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 43.1 63.8" style="enable-background:new 0 0 43.1 63.8;" xml:space="preserve">
               <polygon class="st0" points="0,10.8 9.2,20 10.8,21.5 21.5,32.3 16.5,37.3 0.8,53 11.6,63.8 27.3,48 43.1,32.3 
                  33.8,23.1 21.5,10.8 21.5,10.8 10.8,0 "/>
            </svg>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 43.1 63.8" style="enable-background:new 0 0 43.1 63.8;" xml:space="preserve">
               <polygon class="st0" points="0,10.8 9.2,20 10.8,21.5 21.5,32.3 16.5,37.3 0.8,53 11.6,63.8 27.3,48 43.1,32.3 
                  33.8,23.1 21.5,10.8 21.5,10.8 10.8,0 "/>
            </svg>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 43.1 63.8" style="enable-background:new 0 0 43.1 63.8;" xml:space="preserve">
               <polygon class="st0" points="0,10.8 9.2,20 10.8,21.5 21.5,32.3 16.5,37.3 0.8,53 11.6,63.8 27.3,48 43.1,32.3 
                  33.8,23.1 21.5,10.8 21.5,10.8 10.8,0 "/>
            </svg>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 43.1 63.8" style="enable-background:new 0 0 43.1 63.8;" xml:space="preserve">
               <polygon class="st0" points="0,10.8 9.2,20 10.8,21.5 21.5,32.3 16.5,37.3 0.8,53 11.6,63.8 27.3,48 43.1,32.3 
                  33.8,23.1 21.5,10.8 21.5,10.8 10.8,0 "/>
            </svg>
         </div>
      </div>
      <div class="col-md-1"></div>
   </div>
</section>
<section class="progress-home">
   <div class="container">
      <h2 class="bluecolor  fontmedium">چطور پیشنهادات کاری خوب دریافت کنید؟</h2>
      <div class="stepwizard">
         <div class="stepwizard-row">
            <div class="stepwizard-step col-md-4">
               <button type="button" class="btn btn-default btn-circle">|</button>
               <div class="pic-progress1 active"></div>
               <h4 class="fontbold">ایجاد پروفایل کاربری</h4>
               <p class="h5title fontlight">
                  برای اضافه نمودن یک پروفایل کافیست ابتدا اقدام به عضویت نموده و وارد حساب کاربری خود بشوید
                  برای آنکه بتوانید برای یک شغل درخواست ثبت کنید می بایست تا حد مشخصی پروفایل کاملی داشته باشید
               </p>
            </div>
            <div class="stepwizard-step col-md-4 waiting">
               <button type="button" class="btn btn-default btn-circle">||</button>
               <div class="pic-progress2"></div>
               <h4 class="fontbold">تکمیل یک رزومه</h4>
               <p class="h5title fontlight">
                  برای اضافه نمودن یک پروفایل کافیست ابتدا اقدام به عضویت نموده و وارد حساب کاربری خود بشوید
                  برای آنکه بتوانید برای یک شغل درخواست ثبت کنید می بایست تا حد مشخصی پروفایل کاملی داشته باشید
               </p>
            </div>
            <div class="stepwizard-step col-md-4">
               <button type="button" class="btn btn-default btn-circle" disabled="disabled">|||</button>
               <div class="pic-progress3"></div>
               <h4 class="fontbold">ارتقای پروفایل به 30 درصد</h4>
               <p class="h5title fontlight">
                  برای اضافه نمودن یک پروفایل کافیست ابتدا اقدام به عضویت نموده و وارد حساب کاربری خود بشوید
                  برای آنکه بتوانید برای یک شغل درخواست ثبت کنید می بایست تا حد مشخصی پروفایل کاملی داشته باشید
               </p>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="ourjobpositions">
   <div class="container">
      <h2 class="col-md-12 col-xs-12 bluecolor fontmedium">موقعیت های شغلی ما:</h2>
      <div class="col-md-4 col-xs-12 jobdetailsbox graycolor" ng-repeat="item in jobsdata">
         <div class="jobdetails fontlight">
            <div class="h6title jobdate graycolor">{{item.created_at | jalaliDate:'jDD / jMMMM / jYY' }}</div>
            <div ng-show="pindedplus" class="pinjob addjob" ng-click="add(item)">
               <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 9.6 9.6" style="enable-background:new 0 0 9.6 9.6;" xml:space="preserve">
                  <path d="M8.9,4.1H5.5V0.7C5.5,0.3,5.2,0,4.8,0C4.4,0,4.1,0.3,4.1,0.7v3.4H0.7C0.3,4.1,0,4.4,0,4.8c0,0.4,0.3,0.7,0.7,0.7h3.4v3.4c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V5.5h3.4c0.4,0,0.7-0.3,0.7-0.7C9.6,4.4,9.3,4.1,8.9,4.1L8.9,4.1z M8.9,4.1"/>
               </svg>
            </div> 
            <div ng-show="pindedcheck" class="pinjob removejob" ng-click="remove(item)"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="row rowonejob">
               <div class="col-md-4 col-xs-12 centerjobrespon">
                  <div class="companylogo col-md-12 col-xs-12">
                     <img src="{{item.employer.avatar}}" >
                     <md-tooltip
                        md-direction="top">
                        {{item.employer.fa_name}}
                     </md-tooltip>
                  </div>
                  <div class="jobrateuser col-md-12 col-xs-12">
                     <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>
                  </div>
                  <div class="jobratesystem col-md-12 col-xs-12">
                     <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>
                  </div>
               </div>
               <div class="col-md-8 col-xs-12 paddingjobrespon">
                  <div class="h2title bluecolor jobname fontmedium">{{item.title}}</div>
                  <div class="h5title graycolor joblocations fontlight"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.city}}</div>
                  <div class="h4title bluecolor jobfield">{{item.education}}</div>
                  <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='full_time'}">
                     <div class="fontlight">
                        تمام وقت
                     </div>
                  </div>
                  <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='part_time'}">
                     <div class="fontlight">
                        پاره وقت
                     </div>
                  </div>
                  <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='kar_amuzi'}">
                     <div class="fontlight">
                        کارآموزی			
                     </div>
                  </div>
                  <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='karvarzi'}">
                     <div class="fontlight">
                        کاروندی
                     </div>
                  </div>
               </div>
            </div>
            <div class="row rowtwojob">
               <div class="col-md-6 requestforcooperationjob">
                  <button ng-click="requestjob(item)" ng-show="requestshow" type="button" class="btn greenbtn fontmedium"><span>درخواست همکاری</span></button>
                  <button  ng-click="derequestjob(item)" ng-show="derequestshow" type="button" class="btn greenbtn dereq fontmedium"><span>لغو درخواست</span></button>
               </div>
               <div class="col-md-6 readmorejob">
                  <button  ng-click="showajob(item)" type="button" class="btn greenbtnreverse algnbtnmd fontmedium"><span>مطالعه بیشتر </span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
               </div>
            </div>
         </div>
      </div>
	     <div class="clearfix"></div>
      <a class="cursorpointer" ng-click="showalljobs()" class="col-md-12">
         <div class="see-all-jobs"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> همه پیشنهادها</div>
      </a>
   </div>
</div>
<section class="certificate">
   <div class="container">
      <div class="row">
         <div class="col-md-7 certificate-detail">
            <img width="42%" height="auto" src="/assets/images/arrow-bo.svg" alt="">
            <h1>
               به
               <span>گواهینامه های مهارتی</span>
               <p>مجهز شوید</p>
            </h1>
            <p class="color-p">    
               سامانه های صدف، Hub یا بستری است که در آن امکان ارائه تمامی سرویس¬ها و خدمات HR که منجر به بهره این حوزه میسر خواهد بودلب 
               تحقق این هدف و د که این سامانه دارای ویژگی¬های خاصی باش: 
            </p>
            <form name="searchmahratform" novalidate ng-submit="searchmahratform.$valid &&Searchmahratfun(searchmaharat)">
               <div class="full pull-right typewrite2">
                  <p class="pull-right">نمونه عبارت: </p>
                  <div class="h5title graycolor" start-timeout="2000" start-callback="myStartCallback()" end-callback="myCallback()" type-speed="20" back-speed="20" type-strings="[
                     '<bسلام</b>^350 متن جهت تست^500',
                     'میتوانید^500<strong>جستجو کنید</strong>!^1000',
                     'این یک ویژگی است^500',
                     'به همراه  <i>انیمیشن</i>!^1000',
                     '^1000',
                     'خیلی  <u>راحت و </u> زیبا^500',
                     'با همراه رنگ بندی <code>های متنوع </code>^750 و جذاب^500',
                     '^250کیفیت را تجربه کنید^2000',
                     'و این <strong>بهترین کار است</strong>^400.^500.^550.^550!'
                     ]" html-mode="" typed=""></div>
               </div>
               <div class="col-md-5" style="padding-right: 0;">
                  <input class="form-control jostojoazmon" name="searchmaharat" ng-model="searchmaharat"  placeholder="جستجو مهارت" type="text" size="100" aria-invalid="false" style="">
                 <button class="form-control-feedback fa fa-search seabtnok" type="submit">
                    </button>
               </div>
            </form>
         </div>
         <div class="col-md-5 text-left">
            <img width="92%" height="auto" src="/assets/images/certificate.svg" alt="">
         </div>
      </div>
   </div>
</section>
<section class="up-click">
   <a href="#" class="scrollToTop"><i class="fa fa-chevron-up" aria-hidden="true"></i>  </a>      
</section>
</div>