<!DOCTYPE html>
<html>
   <head>
      <title>سامانه صدف</title>
      <meta charset="utf-8" />
      <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
      <link href="assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
      <link rel="stylesheet" href="assets/plugins/angular-material/angular-material.min.css"/>
      <link href="assets/plugins/bootstrap/css/bootstrap-rtl.css" rel="stylesheet" />
      <link href="assets/plugins/ng-img-crop/ng-img-crop.css" rel="stylesheet" />
	  <link href="assets/plugins/ui-select/select.css" rel="stylesheet" />
      <link href="assets/plugins/angular-typed/angular-typed.css" rel="stylesheet" />
      <link href="assets/plugins/angular-rateyo/jquery.rateyo.min.css" rel="stylesheet" />
      <link href="assets/css/styles.css?ver=1" rel="stylesheet" />
      <link href="assets/css/responsive.css" rel="stylesheet" />
      <script src="assets/plugins/angular/angular.min.js"></script>
      <script src="assets/plugins/angular-ui-route/angular-ui-router.min.js"></script>
      <script src="assets/plugins/angular-animate/angular-animate.min.js"></script>
      <script src="assets/plugins/angular-aria/angular-aria.min.js"></script>
      <script src="assets/plugins/angular-route/angular-route.js"></script>
	  <script src="assets/plugins/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="assets/plugins/ui-bootstrap/ui-bootstrap.min.js"></script>
	  <script src="assets/plugins/ui-select/select.js"></script>
      <script src="assets/plugins/angular-material/angular-material.min.js"></script>
      <script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
      <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/plugins/moment/moment.js"></script>
      <script src="assets/plugins/moment/moment-jalaali.js"></script>
      <script src="assets/plugins/ng-file-upload/ng-file-upload-shim.js"></script>
      <script src="assets/plugins/ng-file-upload/ng-file-upload.js"></script>
      <script src="assets/plugins/ng-img-crop/ng-img-crop.js"></script>
      <script src="assets/plugins/roundProgress/roundProgress.min.js"></script>
      <script src="assets/plugins/angular-typed/angular-typed.js"></script>
      <script src="assets/plugins/angular-rateyo/jquery.rateyo.min.js"></script>
      <script src="assets/plugins/angular-rateyo/angular-rateyo.js"></script>
      <script src="assets/plugins/ngStorage/ngStorage.min.js"></script>
      <script src="assets/js/home.js?ver=1"></script>
      <script src="assets/js/ctrl1.js"></script>
      <script src="assets/js/ctrl2.js"></script>
      <script src="assets/js/ctrl3.js"></script>
      <script src="assets/js/ctrl4.js"></script>
      <script src="assets/js/ctrl5.js"></script>
      <script src="assets/js/ctrl6.js"></script>
      <script src="assets/js/ctrl7.js"></script>
      <script src="assets/js/ctrl8.js"></script>
      <script src="assets/js/ctrl9.js"></script>
      <script src="assets/js/ctrl10.js"></script>
      <script src="assets/js/ctrl11.js"></script>
      <script src="assets/js/ctrl12.js"></script>
      <script src="assets/js/ctrl13.js"></script>
      <script src="assets/js/ctrl14.js"></script>
      <script src="assets/js/ctrl15.js"></script>
      <script src="assets/js/ctrl16.js"></script>
      <script src="assets/js/ctrl17.js"></script>
      <script src="assets/js/ctrl18.js"></script>
      <script src="assets/js/ctrl19.js"></script>
      <script src="assets/js/ctrl20.js"></script>
      <script src="assets/js/ctrl21.js"></script>
      <script src="assets/js/ctrl22.js"></script>
      <script src="assets/js/script.js"></script>
      <base href="/ISadaf/">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">
   </head>
   <body ng-app="sadaf-reg-ads" ng-controller="home">
      <header>
         <div class="container">
            <div class="row">
               <nav class="navbar">
                  <div class="container-fluid">
                     <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                        <img width="150" height="auto" src="assets/images/logo.svg" alt="">
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                     </div>
                     <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav"  ng-if="ShowForJS()">
                           <li><a class="cursorpointer" ng-click="gotoprofilepagejs()">ثبت رزومه</a></li>
                           <li><a class="cursorpointer" ng-click="gotojobalbum()">آلبوم مشاغل</a></li>
                           <li><a class="cursorpointer" ng-click="gotojobpage()" >آگهی های شغلی</a></li>
                           <li><a class="cursorpointer" ng-click="gotosppage()" >کارگزاران صدف</a></li>
                        </ul>
						<ul class="nav navbar-nav" ng-if="ShowForEMP()">
                           <li><a class="cursorpointer"  ng-click="gotoadsjob()" >آگهی یک شغل</a></li>
                           <li><a class="cursorpointer"  ng-click="gotosearchdat()">جستجوی دیتابیس</a></li>
                           <li><a class="cursorpointer"  ng-click="gotocrearesarch()" >ثبت یک پژوهش</a></li>
                           <li><a class="cursorpointer"  ng-click="gotosppage()" >کارگزاران صدف</a></li>
                        </ul>
						<ul class="nav navbar-nav" ng-if="ShowForSP()">
                           <li><a class="cursorpointer" ng-click="gotojobpage()" >آگهی های شغلی</a></li>
                           <li><a class="cursorpointer" ng-click="gotoemppage()" >کارفرمایان برتر</a></li>
                           <li><a class="cursorpointer" ng-click="gotojobalbum()">آلبوم مشاغل</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-left style-25">
                           <li ng-click="gotoemppage()" ><button type="button" class="btn btn-info btn-sm" >ورود سازمان ها</button></li>
                           <li ng-class="{ active  : isActivelogin , hide : isHidelogin}"><a  class="cursorpointer"  data-toggle="modal" data-target="#ShowPopuplogin" ><i class="fa fa-user" aria-hidden="true"></i> عضویت/ورود به سامانه</a></li>
                           <li  ng-if="ShowForJS()" class="dropdown user-login-menu"  ng-class="{ active  : isActiveafterlogin , hide : isHideafterlogin}">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> {{profiledetaflogin.fullname}} <img src="{{profiledetaflogin.avatar}}" title="{{profiledetaflogin.fullname}}" alt="{{profiledetaflogin.fullname}}"/></a>
                              <ul class="dropdown-menu">
                                 <li><a class="cursorpointer"  ng-click="gotodashboard()">داشبورد</a></li>
                                 <li><a class="cursorpointer" ng-click="gotoprofilepage()">پروفایل</a></li>
                                 <li><a class="cursorpointer"  ng-click="logoutuser()">خروج</a></li>
                              </ul>
                           </li>
						   <li  ng-if="ShowForEMP()" class="dropdown user-login-menu"  ng-class="{ active  : isActiveafterlogin , hide : isHideafterlogin}">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> {{profiledetaflogin.fa_name}} <img src="{{profiledetaflogin.avatar}}" title="{{profiledetaflogin.fa_name}}" alt="{{profiledetaflogin.fa_name}}"/></a>
                              <ul class="dropdown-menu">
                                 <li><a class="cursorpointer"  ng-click="gotodashboard()">داشبورد</a></li>
                                 <li><a class="cursorpointer" ng-click="gotoprofilepage()">پروفایل</a></li>
                                 <li><a class="cursorpointer"  ng-click="logoutuser()">خروج</a></li>
                              </ul>
                           </li>
						   <li  ng-if="ShowForSP()" class="dropdown user-login-menu"  ng-class="{ active  : isActiveafterlogin , hide : isHideafterlogin}">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span> {{profiledetaflogin.fa_name}} <img src="{{profiledetaflogin.avatar}}" title="{{profiledetaflogin.fa_name}}" alt="{{profiledetaflogin.fa_name}}"/></a>
                              <ul class="dropdown-menu">
                                 <li><a class="cursorpointer"  ng-click="gotodashboard()">داشبورد</a></li>
                                 <li><a class="cursorpointer" ng-click="gotoprofilepage()">پروفایل</a></li>
                                 <li><a class="cursorpointer"  ng-click="logoutuser()">خروج</a></li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                     <div id="ShowPopuplogin" class="modal modal-md loginpopup textcenter" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content " style="float: right;width: 100%;background: none;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);box-shadow: 0 0px 0px rgba(0,0,0,0);border: 0;">
                              <div style="
                                 margin: 0 85px;
                                 background: rgba(230, 230, 230, 0.92);
                                 border-radius: 3px;
                                 float: right;
                                 ">
                                 <div style="
                                    margin: 0 60px;
                                    ">
                                    <div class="socialprofile" style="
                                       margin: 15px 0 0;
                                       ">
                                       <a class="linkedin" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                       <a class="telegram" href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                                       <a class="googleplus" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium" style="margin: 5px 0 15px;"> ورود به سامانه</div>
                                    <form name="loginform" novalidate ng-submit="loginform.$valid &&Loginsc(UserName,Pass)">
                                       <div class="col-md-12 col-xs-12">
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="UserName" ng-model="UserName" placeholder="نام کاربری/ایمیل"><br>
                                          <input class="inputloginreg fontmedium greencolor"  type="text" name="Pass" ng-model="Pass" placeholder="رمز عبور"><br>
                                       </div>
                                       <div class="col-md-6 col-xs-12 h5title fontmedium textright cursorpointer"><a class="ozvnismlp" ng-click="showreges()">عضو نیستم</a></div>
                                       <div class="col-md-6 col-xs-12 h5title fontmedium textleft"><a class="forgotpasslp" data-toggle="modal" data-target="#ShowPopupForgetPass">رمز عبورم را فراموش کردم</a></div>
                                       <div class="col-md-12 col-xs-12" style="padding: 15px;">
                                          <button type="submit" class="btn bluebtn">ورود</button>
                                    </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
					                <div id="ShowPopupRegsJs" class="modal modal-md loginpopup textcenter" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content " style="float: right;width: 100%;background: none;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);box-shadow: 0 0px 0px rgba(0,0,0,0);border: 0;">
                              <div style="
                                 margin: 0 85px;
                                 background: rgba(230, 230, 230, 0.92);
                                 border-radius: 3px;
                                 float: right;
                                 ">
                                 <div style="
                                    margin: 0 60px;
                                    ">
                                    <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium" style="margin: 15px 0;">عضویت</div>
                                    <form name="personFormjs" novalidate ng-submit="personFormjs.$valid &&RegisteryJS(UserNameJS,PhoneJS,PassJS,FullNameJS,EmailJS,MeliCodeJS)">
                                      <div style="color:Red" ng-show="personFormjs.UserNameJS.$dirty&&personFormjs.UserNameJS.$error.pattern">Please Enter Valid Email</div>
                                        <div style="color:Red" ng-show="personFormjs.FullNameJS.$dirty&&personFormjs.FullNameJS.$error.pattern">Please Enter Valid Email</div>
                                        <div style="color:Red" ng-show="personFormjs.EmailJS.$dirty&&personFormjs.EmailJS.$error.pattern">Please Enter Valid Email</div>
                                        <div style="color:Red" ng-show="personFormjs.PhoneJS.$dirty&&personFormjs.PhoneJS.$error.pattern">Please Enter Valid Email</div>
                                        <div style="color:Red" ng-show="personFormjs.PassJS.$dirty&&personFormjs.PassJS.$error.pattern">Please Enter Valid Email</div>
                                        <div style="color:Red" ng-show="MeliCodeReq">sdlkcmskdmkd Enter Valid Email</div>

                                       <div class="col-md-12 col-xs-12">
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="UserNameJS" ng-model="UserNameJS" placeholder="نام کاربری" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="FullNameJS" ng-model="FullNameJS" placeholder="نام و نام خانوادگی" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="MeliCodeJS" ng-model="MeliCodeJS" placeholder="کد ملی" ng-change="valichengemelicode()" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="EmailJS" ng-model="EmailJS" placeholder="ایمیل"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="PhoneJS" ng-model="PhoneJS" placeholder="شماره موبایل" ng-pattern="/^989[0-9]{9}$/" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="PassJS"  ng-model="PassJS" placeholder="رمز عبور" ng-pattern="/^.{6,}$/"  required><br>
                                       </div>
                                       <div class="col-md-12 col-xs-12 h5title fontmedium textright">
                                          <md-checkbox class="h5title fontmedium bluecolor moafeghchebox" ng-model="sdsd" aria-label="Checkbox 1"> با <a href="" class="underline">قوانین</a> سامانه موافقم </md-checkbox>
                                       </div>
                                       <div class="col-md-12 col-xs-12" style="padding: 15px;">
                                          <button type="submit" class="btn bluebtn">ثبت نام</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
               <div id="ShowPopupRegsEMP" class="modal modal-md loginpopup textcenter" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content " style="float: right;width: 100%;background: none;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);box-shadow: 0 0px 0px rgba(0,0,0,0);border: 0;">
                              <div style="
                                 margin: 0 85px;
                                 background: rgba(230, 230, 230, 0.92);
                                 border-radius: 3px;
                                 float: right;
                                 ">
                                 <div style="
                                    margin: 0 60px;
                                    ">
                                    <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium" style="margin: 15px 0;">عضویت</div>
                                    <form name="personFormemp" novalidate ng-submit="personFormemp.$valid &&RegisteryEMP(UserNameEMP,PhoneEMP,PassEMP,FullNameEMP,EmailEMP)">
                                       <!-- <div style="color:Red" ng-show="personForm.UserName.$dirty&&personForm.UserName.$error.pattern">Please Enter Valid Email</div>
                                          <div style="color:Red" ng-show="personForm.FullName.$dirty&&personForm.FullName.$error.pattern">Please Enter Valid Email</div>
                                          <div style="color:Red" ng-show="personForm.Email.$dirty&&personForm.Email.$error.pattern">Please Enter Valid Email</div>
                                          <div style="color:Red" ng-show="personForm.Phone.$dirty&&personForm.Phone.$error.pattern">Please Enter Valid Email</div>
                                          <div style="color:Red" ng-show="personForm.Pass.$dirty&&personForm.Pass.$error.pattern">Please Enter Valid Email</div> -->
                                       <div class="col-md-12 col-xs-12">
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="UserNameEMP" ng-model="UserNameEMP" placeholder="نام کاربری" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="FullNameEMP" ng-model="FullNameEMP" placeholder="نام شرکت" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="EmailEMP" ng-model="EmailEMP" placeholder="ایمیل"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="PhoneEMP" ng-model="PhoneEMP" placeholder="شماره موبایل" ng-pattern="/^989[0-9]{9}$/" required><br>
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="PassEMP"  ng-model="PassEMP" placeholder="رمز عبور" ng-pattern="/^.{6,}$/"  required><br>
                                       </div>
                                       <div class="col-md-12 col-xs-12 h5title fontmedium textright">
                                          <md-checkbox class="h5title fontmedium bluecolor moafeghchebox" ng-model="sdsd" aria-label="Checkbox 1"> با <a href="" class="underline">قوانین</a> سامانه موافقم </md-checkbox>
                                       </div>
                                       <div class="col-md-12 col-xs-12" style="padding: 15px;">
                                          <button type="submit" class="btn bluebtn">ثبت نام</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

					<div id="ShowPopupForgetPass" class="modal modal-md loginpopup textcenter" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content " style="float: right;width: 100%;background: none;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);box-shadow: 0 0px 0px rgba(0,0,0,0);border: 0;">
                              <div style="
                                 margin: 0 85px;
                                 background: rgba(230, 230, 230, 0.92);
                                 border-radius: 3px;
                                 float: right;
                                 ">
                                 <div style="
                                    margin: 0 60px;
                                    ">
                                    <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium" style="margin: 15px 0;">بازیابی رمز عبور</div>
                                    <form name="personForm" novalidate ng-submit="personForm.$valid &&ForgotPass(Phone)">
                                       <div class="col-md-12 col-xs-12">
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="Phone" ng-model="Phone" placeholder="موبایل" required><br>
                                       </div>
                                       <div class="col-md-12 col-xs-12" style="padding: 15px;">
                                          <button type="submit" class="btn bluebtn">بازیابی</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="ShowPopupactivecode" class="modal modal-md loginpopup textcenter" role="dialog">
                        <div class="modal-dialog">
                           <div class="modal-content " style="float: right;width: 100%;background: none;-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);box-shadow: 0 0px 0px rgba(0,0,0,0);border: 0;">
                              <div style="
                                 margin: 0 85px;
                                 background: rgba(230, 230, 230, 0.92);
                                 border-radius: 3px;
                                 float: right;
                                 ">
                                 <div style="
                                    margin: 0 60px;
                                    ">
                                    <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium" style="margin: 15px 0;">کد ورود</div>
                                    <form name="activecodeform" novalidate ng-submit="activecodeform.$valid &&activecode(Activecodeph)">
                                       <div class="col-md-12 col-xs-12">
                                          <input class="inputloginreg fontmedium greencolor" type="text" name="Activecodeph" ng-model="Activecodeph" placeholder="کد ارسالی به شماره شما" required><br>
                                       </div>
                                       <div class="col-md-12 col-xs-12" style="padding: 15px;">
                                          <button type="submit" class="btn bluebtn">ورود</button>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      </header>

      <div data-ng-view=""></div>

      <footer>
         <div class="footer" id="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-2  col-md-2 col-sm-3 col-xs-12">
                     <h3> اطلاعات بیشتر: </h3>
                     <ul>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> درباره ما </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> تماس با ما </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> نمونه های مشابه </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> آیین نامه ها </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> همکاری با ما </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> پشتیبانی صدف </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> پیوندها </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-3 col-xs-12">
                     <h3> ما را دنبال کنید: </h3>
                     <ul>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> لینکدین </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> تلگرام </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> اینستاگرام </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> فیسبوک </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-3 col-xs-12">
                     <h3> دسترسی سریع: </h3>
                     <ul>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> سوالات متداول </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> مدیریت کارفرمایان </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> مدیریت کارگزاران </a> </li>
                        <li ng-class="{ active  : isActive('/')}"> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> شکایات و گزارشات تخلف </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-2  col-md-2 col-sm-3 col-xs-12">
                     <h3> تماس با پشتیبانی: </h3>
                     <ul>
                        <li><i class="fa fa-angle-left" aria-hidden="true"></i> 02166909921 </li>
                     </ul>
                     <h3> ایمیل پشتیبانی: </h3>
                     <ul>
                        <li> <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i> info@sadaf.ir </a> </li>
                     </ul>
                  </div>
                  <div class="col-lg-4  col-md-3 col-sm-12 col-xs-12">
                     <ul>
                        <li>
                          <form name="messageform" novalidate ng-submit="messageform.$valid &&SendMessToAdmin(titlemesadmin,bodymesadmin)">
                           <div class="input-append newsletter-box form-group">
                              <input type="text" class="full form-control" ng-model="titlemesadmin" placeholder="موضوع پیام">
                              <textarea class="form-control" rows="5" id="comment" ng-model="bodymesadmin"  placeholder="متن پیام "></textarea>
                              <button class="btn" type="submit"> ارسال </button>
                           </div>
                          </form>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container">
               <p class="text-center fontlight"> Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017-2018 </p>
            </div>
         </div>
      </footer>
   </body>
</html>
