   <div ng-controller="postajobscenarios">
   <div class="container search-scenarios">
    <div class="row">
        <div class="col-md-12 col-xs-12 h1title bluecolor fontmedium">بسته های آگهی شغلی</div>
        <div class="col-md-12 col-xs-12 h5title graycolor">تحقق این هدف و چشم انداز در صورتی محقق می گردد که این سامانه دارای ویژگی¬های خاصی باشد که دارا بودن آن ویژگی¬ها در گام اول شروط لازم را جهت تحقق این چشم انداز برآورده نموده و در گام بعد این ویژگی ها با به وجود آوردن مزیت های رقابتی برای این سامانه شروط کافی جهت موفقیت این سامانه را نیز فراهم می آورد.  </div>
			        <div class="box-price">
			        <div class="col-md-3 {{x.classoff}}" ng-repeat="x in adspackages">
            <div class="box-price-one  {{x.class}}">
                <div class="h2title fontbold bluecolor">{{x.name}}</div>
                <p class="graycolor">{{x.desshort}}</p>
                <p class="detail-2 h2title darkgraycolor">{{x.price}} <span ng-hide="x.price == 'رایگان'">ريال</span></p>
                <button  ng-click="gotocreatejob()" type="button" class="btn btn-primary btn-lg h4title fontmedium">در خواست این محصول</button>
                <p class="detail-3 h6title">{{x.desshort2}}</p>
                <p  ng-repeat="x in x.description"class="detail-4 h5title graycolor">{{x.title}}</p>
                <a href="" class="fontbold h5title">رزرو این محصول</a>
            </div>
        </div>
        </div>
        </div>
    </div>
			
			<div class="container khasadspakage">
        <div class="khasnemagaghi" ng-repeat="prod in prodList">
				<div class="col-md-4 col-xs-12">
							    <span class="khasneagdtitlch">
													  <md-checkbox ng-model="orders.prods.prod[prod.title]" aria-label="Checkbox {{$index}}">{{prod.title}}</md-checkbox>
 
			<i ng-if="prod.toltip" class="fa fa-info-circle" aria-hidden="true"> <md-tooltip
              md-direction="top">
              {{prod.toltip}}
            </md-tooltip></i>
</span>
          
   						</div>

															<div class="col-md-4 col-xs-8 kasneagdet h5title">

{{prod.descr}}
</div>

<div class="col-md-4 col-xs-2 textright bluecolor">
<span class="agahikhas2">{{prod.price}}</span>
<span> ریال</span>
</div>    
           
            
        </div>   
        
		
        <div class="col-md-12">
            <div class="full-price">
                <div class="col-md-9 p-l-20">
                    <span>هزینه کل سرمایه گذاری:</span>
                    <span class="pull-left">{{totalkhaskardanagahi()}} ریال</span>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn greenbtn pull-left">تایید و ادامه <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
	
	<div class="clearfix"></div>
</div>