   <div ng-controller="postajobscenarios">
   <div class="container search-scenarios">
    <div class="row">
        <div class="col-md-12 col-xs-12 h1title bluecolor fontmedium">بسته های آگهی شغلی</div>
        <div class="col-md-12 col-xs-12 h5title graycolor">به منظور پاسخگوئی به نیاز کارفرمایان بسته های گوناگونی جهت درج آگهی در اختیار کارفرمایان قرار گرفته است. این بسته ها از منظر تعداد آگهی، خدمات ویژه آگهی و مدت زمان ماندگاری آگهی دسته بندی شده و با قیمت های مختلف در اختیار شما قرار می گیرد.
</div>
			        <div class="box-price">
			        <div class="col-md-3" ng-class="{select: x == selectedjobpack , noselect: x != selectedjobpack}" ng-repeat="x in AddJobPack">
            <div class="box-price-one" ng-class="{active : x.title == 'بسته رایگان'}">
                <div class="h2title fontbold bluecolor">{{x.title}}</div>
                <p class="graycolor">{{x.all_count}} آگهی {{x.day_duration}} روزه</p>
                <p ng-if="x.off == '0'" class="detail-2 h2title darkgraycolor">رایگان</p>
                <p ng-if="x.off != '0'" class="detail-2 h2title darkgraycolor">{{x.off}}</p>
                <button ng-hide="buypack[$index]" ng-click="selectjobpack(x,$index)" type="button" class="btn btn-primary btn-lg h4title fontmedium">انتخاب بسته</button>
                <button ng-show="botbuypack[$index]" ng-click="selectjobpack(x,$index)" type="button" class="btn btn-primary btn-lg h4title fontmedium">انصراف</button>                <p class="detail-3 h6title">{{x.description}}</p>
                <p class="detail-4 h5title graycolor" ng-bind-html="x.content|trustAsHtml"></p>
                <!-- <a href="" class="fontbold h5title">رزرو این محصول</a> -->
            </div>
          </div>
        </div>
        </div>
    </div>
			
			<div class="container khasadspakage jobpackkhas">
        <div class="khasnemagaghi" ng-repeat="prod in prodList">
				<div class="col-md-3 col-xs-12">
							    <span class="khasneagdtitlch">
													  <md-checkbox ng-model="orders.prods.prod[prod.id]" aria-label="Checkbox {{$index}}">{{prod.title}}</md-checkbox>
 
			<i class="fa fa-info-circle" aria-hidden="true"> <md-tooltip
              md-direction="top">
              {{prod.description}}
            </md-tooltip></i>
</span>
          
   						</div>

															<div class="col-md-5 col-xs-8 kasneagdet h5title">
(برای تمامی آگهی های خریداری شده)
</div>

<div class="col-md-4 col-xs-2 textright bluecolor">
<span class="agahikhas2">{{prod.off}}</span>
<span> ریال</span>
</div>    
           
            
        </div>   

    {{orders}}
    {{orders.prods}}
    {{orders.prods.prod}}
    {{jobpackforsend}}


        <div class="col-md-12">
            <div class="full-price">
                <div class="col-md-9 p-l-20">
                    <span>هزینه کل سرمایه گذاری:</span>
                    <span class="pull-left">{{totalkhaskardanagahi()}} ریال</span>
                </div>
                <div class="col-md-3">
                    <button type="button" ng-click="ConfirmBtn()" class="btn greenbtn pull-left">تایید و ادامه <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
	
	<div class="clearfix"></div>
</div>
