
<div ng-controller="companydashboardpage">



  <div class="dashboard">

    <div class="container">



      <h1 class="h1title bluecolor">

        <span class="fontmedium">داشبورد مدیریتی</span>

    </h1>

      <div class=" col-md-3 col-xs-3 dashboardmenu nopaddingright">

        <ul class="rmenu nopaddingright">

          <li><a class="topborderradius" ng-class="{active: activeTabF == 'tab1'}" ng-click="activeTabF='tab1'">وضعیت فعلی</a></li>

          <li><a ng-class="{active: activeTabF == 'tab2'}" ng-click="activeTabF='tab2'">اعلانات</a></li>

          <li><a ng-class="{active: activeTabF == 'tab3'}" ng-click="activeTabF='tab3'">مدیریت آگهی های شغلی</a></li>

          <li><a ng-class="{active: activeTabF == 'tab4'}" ng-click="activeTabF='tab4'">مدیریت افراد متقاضی</a></li>

          <li><a ng-class="{active: activeTabF == 'tab5'}" ng-click="activeTabF='tab5'">کارجویان ذخیره شده</a></li>

          <li><a ng-class="{active: activeTabF == 'tab6'}" ng-click="activeTabF='tab6'">کارگزاران مرتبط</a></li>

          <li><a ng-class="{active: activeTabF == 'tab7'}" ng-click="activeTabF='tab7'">صندوق پیام من</a></li>

          <li><a ng-class="{active: activeTabF == 'tab8'}" ng-click="activeTabF='tab8'" class="botborderradius">تراکنش های مالی من</a></li>

        </ul>

        <ul class="setting nopaddingright">

          <li><a class="borderradius" ng-class="{active: activeTabF == 'tab9'}" ng-click="activeTabF='tab9'"><i class="fa fa-cog" aria-hidden="true" style="padding-left: 10px;"></i>تنظیمات</a></li>

        </ul>

      </div>



      <div class="col-md-9 col-xs-9 boxcontent">



        <div class="profilestatuscurrent" ng-show="activeTabF=='tab1'">



          <div class="col-md-12  col-xs-12">

            <div class="col-md-12  col-xs-12 userinforbox">



              <div class="col-md-2 col-xs-12 profileimg primppg14tone">

                <div class="profileimgcl">

                  <img src="{{avatar}}">

                <!-- </div> -->

              </div>

                <a data-toggle="modal" data-target="#ShowPopupcharticonuserstatus">

                <div class="charticonuserstatus col-md-12 col-xs-3">

                  <i class="fa fa-align-right" aria-hidden="true"></i>

                  <span>مشاهده جزئیات</span>

                </div>

                </a>

                <div data-toggle="modal" data-target="#ShowPopupcharticonuserstatus" class="jobrateuser col-md-12 col-xs-12">

                <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>

              </div>

                <div data-toggle="modal" data-target="#ShowPopupcharticonuserstatus" class="jobratesystem col-md-12 col-xs-12">

                <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>

              </div>

              </div>





            <div id="ShowPopupcharticonuserstatus" class="modal modal-md" role="dialog">

              <div class="modal-dialog lgdlogmodal">

                <div class="modal-content " style="float: right;width: 100%;">

                  <div class="modal-header" style="border: 0;padding-bottom: 0;"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                    <span class="h2title bluecolor fontmedium">آمار و اطلاعات تفکیکی سوران ارقام فناور</span>

                    </div>

                  <div class="modal-body">

                    <div class="backgrounde6">

                      <div class="clearfix" style="padding: 9px 0;"></div>

                      <div class="col-md-6 col-xs-12">

                        <div class="row">

                          <span class="col-md-7 h5title">میانگین امتیازات کاربران:</span>

                          <span class="col-md-3 h5title">4.2 از 5</span>

                          <span class="col-md-2 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange1" ng-model="showonestarrating1" read-only="showonestaroptions1.readOnly" options="showonestaroptions1"></rate-yo></span>

                        </div>

                      </div>

                      <div class="col-md-6 col-xs-12">

                        <div class="row">

                          <span class="col-md-4 h5title">میانگین امتیازات شما:</span>

                          <span class="col-md-3 h5title">4.2 از 5</span>

                          <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange1" ng-model="showmulstarrating1" read-only="showmulstaroptions1.readOnly" options="showmulstaroptions1"></rate-yo></span>

                        </div>

                      </div>

                      <div class="clearfix"></div>

                      <div class="col-md-6 col-xs-12">

                        <div class="row">

                          <span class="col-md-12 h5title">میانگین امتیازات کارفرمایان:</span>

                        </div>

                      </div>

                      <div class="col-md-6 col-xs-12">

                        <div class="row">

                          <span class="col-md-4 h5title"></span>

                          <span class="col-md-3 h5title">7.2 از 10 </span>

                          <span class="col-md-5 h5title">

                            <rate-yo on-set="set" on-change="showmulrectanchange1" ng-model="showmulrectanrating1" read-only="showmulrectanoptions1.readOnly" options="showmulrectanoptions1"></rate-yo>

	                         </span>

                        </div>

                      </div>



                      <div class="clearfix"></div>



                    </div>

                    <div class="col-md-6 col-xs-12 backgroundf2">

                      <div class="h5title fontbold darkgraycolor" style="padding: 15px 0;">امتیاز سیستمی</div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-4 h5title">محیط کاری</span>

                        <span class="col-md-3 h5title">7.2 از 10 </span>

                        <span class="col-md-5 h5title">

                          <rate-yo on-set="set" on-change="showmulrectanchange2" ng-model="showmulrectanrating2" read-only="showmulrectanoptions2.readOnly" options="showmulrectanoptions2"></rate-yo>

	                       </span>

                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-4 h5title">مدیریت</span>

                        <span class="col-md-3 h5title">7.2 از 10 </span>

                        <span class="col-md-5 h5title">

                          <rate-yo on-set="set" on-change="showmulrectanchange3" ng-model="showmulrectanrating3" read-only="showmulrectanoptions3.readOnly" options="showmulrectanoptions3"></rate-yo>

	                       </span>

                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-4 h5title">حقوق و مزایا</span>

                        <span class="col-md-3 h5title">7.2 از 10 </span>

                        <span class="col-md-5 h5title">

                          <rate-yo on-set="set" on-change="showmulrectanchange4" ng-model="showmulrectanrating4" read-only="showmulrectanoptions4.readOnly" options="showmulrectanoptions4"></rate-yo>

	                       </span>

                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-4 h5title">امکان رشد</span>

                        <span class="col-md-3 h5title">7.2 از 10 </span>

                        <span class="col-md-5 h5title">

                            <rate-yo on-set="set" on-change="showmulrectanchange5" ng-model="showmulrectanrating5" read-only="showmulrectanoptions5.readOnly" options="showmulrectanoptions5"></rate-yo>

	                         </span>

                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-4 h5title">محیط کاری</span>

                        <span class="col-md-3 h5title">7.2 از 10 </span>

                        <span class="col-md-5 h5title">

                          <rate-yo on-set="set" on-change="showmulrectanchange6" ng-model="showmulrectanrating6" read-only="showmulrectanoptions6.readOnly" options="showmulrectanoptions6"></rate-yo>

	               </span>

                      </div>



                    </div>



                    <div class="col-md-6 col-xs-12">

                      <div class="h5title fontbold darkgraycolor" style="padding: 15px 0;">امتیاز کارجویان</div>

                      <div class="h5title fontlight darkgraycolor" style="position: absolute;left: 45px;top: 20px;border-bottom: 1px solid #56ace0;">امتیازات شما</div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-3 h5title linehigh15">محیط کاری</span>

                        <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                        <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange2" ng-model="showonestarrating2" read-only="showonestaroptions2.readOnly" options="showonestaroptions2"></rate-yo></span>

                        <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange2" ng-model="showmulstarrating2" read-only="showmulstaroptions2.readOnly" options="showmulstaroptions2"></rate-yo></span>



                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-3 h5title linehigh15">مدیریت</span>

                        <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                        <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange3" ng-model="showonestarrating3" read-only="showonestaroptions3.readOnly" options="showonestaroptions3"></rate-yo></span>

                        <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange3" ng-model="showmulstarrating3" read-only="showmulstaroptions3.readOnly" options="showmulstaroptions3"></rate-yo></span>



                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-3 h5title linehigh15">حقوق و مزایا</span>

                        <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                        <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange4" ng-model="showonestarrating4" read-only="showonestaroptions4.readOnly" options="showonestaroptions4"></rate-yo></span>

                        <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange4" ng-model="showmulstarrating4" read-only="showmulstaroptions4.readOnly" options="showmulstaroptions4"></rate-yo></span>



                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-3 h5title linehigh15">امکان رشد</span>

                        <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                        <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange5" ng-model="showonestarrating5" read-only="showonestaroptions5.readOnly" options="showonestaroptions5"></rate-yo></span>

                        <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange5" ng-model="showmulstarrating5" read-only="showmulstaroptions5.readOnly" options="showmulstaroptions5"></rate-yo></span>



                      </div>

                      <div class="row" style="margin-bottom: 15px;">

                        <span class="col-md-3 h5title linehigh15">محیط کاری</span>

                        <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                        <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange6" ng-model="showonestarrating6" read-only="showonestaroptions6.readOnly" options="showonestaroptions6"></rate-yo></span>

                        <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange6" ng-model="showmulstarrating6" read-only="showmulstaroptions6.readOnly" options="showmulstaroptions6"></rate-yo></span>



                      </div>



                    </div>



                  </div>

                  <div class="clearfix"></div>



                </div>

              </div>

            </div>

            <div class="col-md-8  col-xs-12 userinfor">

              <div class="h2title bluecolor companyname fontmedium">{{fa_name}}</div>

              <span class="h4title graycolor companysaham fontlight">({{business_type}})
	               <!-- <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
              </span>

              <div class="h3title bluecolor companyslogan fontlight">{{motto}}
                <!-- <a href=""><i class="fa fa-pencil" aria-hidden="true"></i></a> -->
              </div>

              <div class="editprofile"><button type="button" ng-click="gotoprofilepage()" class="btn bluebtn fontmedium"><span>ویرایش پروفایل</span></button></div>

              <div class="socialprofile notuser" ng-repeat="x in socials">

                <a href="{{x.url}}" class="{{x.social.name}}" ng-style="{'background-image':'url({{x.social.logo}})'}">
                  <md-tooltip md-direction="top">{{x.social.fa_name}}</md-tooltip>
                </a>

              </div>
              </div>


              <div class="col-md-2  col-xs-12 profilestatus">

                <div class="profilestatusprogress">{{ preciseCurrent || current }}%</div>

                <round-progress max="max" current="current" color="url(#gradient)" bgcolor="#999999" radius="100" stroke="30" rounded="false" clockwise="true" responsive="true" duration="2000" animation="easeInOutQuart" animation-delay="0" on-render="showPreciseCurrent">

                  <svg>

                    <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">

                        <stop offset="5%"  stop-color="#005B97"/>

                          <stop offset="95%" stop-color="#29B473"/>

                        </linearGradient>

                      </svg></round-progress>

                <div class="profilestatustext h4title bluecolor fontmedium">وضعیت پروفایل</div>



              </div>


          </div>



          <div class="clearfix"></div>



          <div class="col-md-2 h4title graycolor fontmedium">وضعیت کاربری</div>

          <div class="col-md-10 h4title greencolor fontmedium">فعال</div>



          <div class="clearfix"></div>





          <div class="col-md-2 h4title graycolor fontmedium" style="line-height: 38px;">وضعیت بسته ها</div>

          <div ng-repeat="package in advertisements">

            <div class="col-md-2"></div>

            <div class="col-md-10 h5title graycolor fontbold">

              <div class="col-md-12 packagesstatus">

                <span>{{package.advertisement.title}}</span> |

                <span class="greencolor">فعال </span> |

                <span>{{package.advertisement.all_count}} عدد آگهی شغلی</span> |

                <span>{{package.remaining}} عدد باقیمانده</span>

              </div>

            </div>

          </div>

          <div class="clearfix"></div>



          <div class="col-md-2 h4title graycolor linehigh30 fontmedium">خدمات کارفرمایی</div>

          <div class="col-md-10 preminfor">

            <a class="credit-card" ng-class="{'greencolor': padash == true ,'graycolor': padash == false }">
              <md-tooltip md-direction="top">پاداش</md-tooltip><i class="fa fa-credit-card" aria-hidden="true"></i></a>

            <a class="gift" ng-class="{'greencolor': advantage == true ,'graycolor': advantage == false }">
              <md-tooltip md-direction="top">مزایا</md-tooltip><i class="fa fa-gift" aria-hidden="true"></i></a>

            <a class="life-ring" ng-class="{'greencolor': vaam == true ,'graycolor': vaam == false }">
              <md-tooltip md-direction="top">وام</md-tooltip><i class="fa fa-life-ring" aria-hidden="true"></i></a>

            <a class="fa-shieldic" ng-class="{'greencolor': assurance == true ,'graycolor': assurance == false }">
              <md-tooltip md-direction="top">بیمه</md-tooltip><i class="fa fa-shield" aria-hidden="true"></i></a>

          </div>



          <div class="clearfix"></div>



          <div class="col-md-2 h4title graycolor linehigh40 fontmedium">ارتقـای پروفایل</div>

          <!-- <div class="col-md-10 h5title whitecolor"><button type="button" class="btn upgradeprofile greenbtn fontmedium"><i class="fa fa-share-square-o" aria-hidden="true"></i><span>تایید حساب کاربری</span></button>

</div>
 -->


          <!-- <div class="clearfix"></div>

<div class="clearfix"></div>
 -->


          <!-- <div class="col-md-8 h4title graycolor onsmsdiv linehigh40">          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">تبلیغات مابین آگهی ها<span class="onsmsprice">500,000 تومان </span></md-checkbox></div>

<div class="col-md-4 h5title"><button type="button" class="btn increasecredit greenbtnreverse fontmedium"><span>درخواست تبلیغات</span></button>

</div>
 -->


          <div class="clearfix"></div>



          <div class="col-md-12 col-xs-12 profilebanner"><span>.:محــــل تبلیـــــغات:.</span></div>

          <div class="clearfix"></div>

        </div>


        </div>

        <div ng-show="activeTabF=='tab2'">

          <div class="notificationrow graycolor {{item.newnotificationclass}}" ng-repeat="item in notificationdata.slice(((notificationcurrentPage-1)*notificationitemsPerPage), ((notificationcurrentPage)*notificationitemsPerPage))">

            <div class="col-md-1 notificationicon">

              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

            </div>

            <div class="col-md-11 nopaddingright notificationcontent">

              <div ng-bind-html="item.title|trustAsHtml"></div>

            </div>

          </div>

          <div class="col-md-12 col-xs-12 paginationcenter" style="background: #E1E2E5;">

            <ul uib-pagination boundary-links="true" total-items="notificationtotalItems" ng-model="notificationcurrentPage" ng-change="notificationpageChanged()" items-per-page="notificationitemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
              first-text="&laquo;" last-text="&raquo;"></ul>

          </div>
        </div>



        <div ng-show="activeTabF=='tab3'">

          <span class="col-md-12 " style="margin-top: 15px;">

<!-- <div class="row">

 <div class="col-md-1 col-xs-12"  style="line-height: 28px;" ><span class="graycolor">جستجو</span></div>



        <div class="col-md-11 col-xs-12 daterangefilterjobpos">

          <span>	از تاریخ </span>

          <select tabindex="1" ng-model="fromdatemonth">

            <option value="مرداد">تیر</option>

            <option value="مرداد">مرداد</option>

          </select>

          <select tabindex="1" ng-model="fromdateyears">

            <option value="96">96</option>

          </select>

          <span>	   تا تاریخ </span>

          <select tabindex="1" ng-model="todatemonth">

            <option value="بهمن">بهمن</option>

          </select>

          <select tabindex="1" ng-model="todateyears">

            <option value="97">97</option>

          </select>





        </div>

      </div> -->

      </span>

      <div class="col-md-6 jobdetailsbox graycolor" ng-repeat="item in jobsaveddata.slice(((jobsavedcurrentPage-1)*jobsaveditemsPerPage), ((jobsavedcurrentPage)*jobsaveditemsPerPage))">

				<div class="jobdetails fontlight">

          <div class="h6title jobdate graycolor">{{item.created_at | jalaliDate:'jDD / jMMMM / jYY' }}</div>
<div class="pinjob removejob delicon" ng-click="removejob(item)" role="button" tabindex="0"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
          <div class="row rowonejob">

            <div class="col-md-4 col-xs-12 centerjobrespon">

              <div class="companylogo col-md-12 col-xs-12">

                <img src="{{item.employer.avatar}}">

                <md-tooltip md-direction="top">

                  {{item.employer.fa_name}}

                </md-tooltip>

              </div>

              <div class="jobrateuser col-md-12 col-xs-12">

                <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>

              </div>

              <div class="jobratesystem col-md-12 col-xs-12">

                <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>

              </div>

            </div>

            <div class="col-md-8 col-xs-12 paddingjobrespon">

              <div class="h2title bluecolor jobname fontmedium">{{item.title}}</div>

              <div class="h5title graycolor joblocations fontlight"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.city}}</div>

              <div class="h4title bluecolor jobfield">{{item.education}}</div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='FULL_TIME'}">

                <div class="fontlight">

                  تمام وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='PART_TIME'}">

                <div class="fontlight">

                  پاره وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KAR_AMUZI'}">

                <div class="fontlight">

                  کارآموزی

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KARVARZI'}">

                <div class="fontlight">

                  کارورزی

                </div>

              </div>

            </div>

          </div>

					<div class="row rowtwojob textcenter">

		<!-- <div class="col-md-6 requestforcooperationjob">

		<button type="button" class="btn greenbtn fontmedium"><span>ویرایش آگهی</span></button>

</div> -->

<div class="col-md-12 readmorejob">

<button  ng-click="HideJob(item)" type="button" class="btn greenbtnreverse fontmedium"><span>پنهان نمودن آگهی</span></button>

</div>

</div>

        </div>


      </div>





      <div class="col-md-12 paginationcenter">

        <ul uib-pagination boundary-links="true" total-items="jobsavedtotalItems" ng-model="jobsavedcurrentPage" ng-change="jobsavedpageChanged()" items-per-page="jobsaveditemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
          last-text="&raquo;"></ul>

      </div>

    </div>



    <div ng-show="activeTabF=='tab4'">



      <div class="col-md-12 managingjobadshead">

        <div class="row">



          <div class="col-md-4 graycolor" style="color: #4D4D4D;line-height: 28px;">

            عنوان آگهی خود را انتخاب نمایید:

          </div>



          <div class="col-md-8">

            <select style="width: 100%;" ng-model="managingjobadsfilter">

<option  value="">همه</option>

<option  ng-repeat="x in filterdatejosdata"  value="{{x.name}}">{{x.name}} | تاریخ آگهی: {{x.date}}</option>

</select>

          </div>

        </div>

      </div>





      <div class="col-md-12">

        <div class="col-md-12 managingjobadsbox">

          <div class="row">



            <div class="col-md-2 h5title graycolor" style="line-height: 28px;">

              دسته بندی بر اساس

            </div>



            <div class="col-md-3">

              <select style="    width: 100%;

    border-color: #eaedf1;

    border-radius: 2px;

    background: #eaedf1;" ng-model="managingjobadsorderby">

<option  ng-repeat="x in data"  value="-date">زمان درخواست</option>

</select>

            </div>

          </div>

          <div class="clearfix" style="padding: 10px 0;"></div>



          <div class="row">

            <div class="managingjobadsboxhead textcenter bluecolor">

              <div class="col-md-5 col-xs-5 fontmedium">افراد درخواست داده</div>

              <div class="col-md-2 col-xs-2 fontmedium">وضعیت</div>

              <div class="col-md-5 col-xs-5 fontmedium">اقدام</div>

              <div class="clearfix" style="padding: 5px 0;"></div>

            </div>



            <div class="col-md-12 jobseekerrow" ng-repeat="jobseeker in jobseekers.slice(((jobseekerscurrentPage-1)*jobseekersitemsPerPage), ((jobseekerscurrentPage)*jobseekersitemsPerPage)) | filter : {tag: managingjobadsfilter}: false | orderBy:managingjobadsorderby">

	<div class="row ">

	<div class="col-md-5 col-xs-5 ">

			<span class="pinjob addjob col-md-1 col-xs-1 " ng-click="addtobookmark(jobseeker) "><svg version="1.1 " id="Layer_1 " xmlns="http://www.w3.org/2000/svg " xmlns:xlink="http://www.w3.org/1999/xlink " x="0px " y="0px "viewBox="0 0 9.6 9.6 " style="enable-background:new
              0 0 9.6 9.6; " xml:space="preserve "><path d="M8.9,4.1H5.5V0.7C5.5,0.3,5.2,0,4.8,0C4.4,0,4.1,0.3,4.1,0.7v3.4H0.7C0.3,4.1,0,4.4,0,4.8c0,0.4,0.3,0.7,0.7,0.7h3.4v3.4c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V5.5h3.4c0.4,0,0.7-0.3,0.7-0.7C9.6,4.4,9.3,4.1,8.9,4.1L8.9,4.1z
              M8.9,4.1 "/></svg></span>


			<span class="jobseekerpicture col-md-3 "><img src="{{jobseeker.job_seeker.avatar}} "/></span>

			<span class="jobseekername bluecolor col-md-7 fontmedium ">{{jobseeker.job_seeker.fullname}}</span>

			<span class="jobseekertag graycolor h5title col-md-7 ">{{jobseeker.job_seeker.email}}</span>

	</div>

	<div class="col-md-2 col-xs-2 textcenter ">

    <span ng-if="jobseeker.status == 'new'" ng-class="{ 'greencolor': jobseeker.status=='پیام داده شد' } " class="jobseekerstatus bluecolor h5title col-md-12 fontmedium ">جدید</span>

    <span class="jobseekerdate graycolor h6title col-md-12 "> {{ jobseeker.updated_at | jalaliDate:'jDD / jMMMM / jYY' }}</span>


	</div>

<div class="col-md-5 col-xs-5 textcenter " style="padding-top: 7px; ">

        <span class="jobseekersendmass graycolor h6title col-md-4 col-xs-4 " ng-click=""> <i class="fa fa-envelope-o " aria-hidden="true "></i><br>پیام به کارجو</span>

        <span class="jobseekerviewprofile graycolor h6title col-md-4 col-xs-4 " ng-click=""><i class="fa fa-eye " aria-hidden="true "></i> <br>مشاهده پروفایل</span>

        <span class="jobseekerdownloadprofile graycolor h6title col-md-4 col-xs-4 " ng-click=""><i class="fa fa-file-pdf-o " aria-hidden="true "></i> <br>دانلود پرو فایل</span>

		</div>

	</div>

	</div>



	</div>

	</div>







		<div class="col-md-12 ">

    <ul uib-pagination boundary-links="true " total-items="jobseekerstotalItems " ng-model="jobseekerscurrentPage " ng-change="jobseekerspageChanged() "  items-per-page="jobseekersitemsPerPage " class="pagination-sm " previous-text="&lsaquo;
              " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; "></ul>

</div>

</div>

</div>



 <div ng-show="activeTabF=='tab5' ">

<div style="margin-top: 15px; "> 						<div class="col-md-1 col-xs-12 "  style="line-height: 28px; " ><span class="graycolor ">جستجو</span></div>



						<div class="col-md-11 col-xs-12 ">

						<div class="input-group ">



                <input type="text " class="form-control searchinput " size="100 " ng-model="searchinjobse ">

 <span class="input-group-btn searchinputbtn " ng-click="sendsearchinjobse() ">

                    <button class="btn btn-default " type="button "><span class="fa fa-search "></span></button>

                </span></div>







            </div>

</div>

<div class="col-md-12 col-xs-12 " style="padding-top: 15px; ">

    <div class="col-md-12 managingjobadsbox ">

		      <div class="row ">



<div class="col-md-2 h5title graycolor " style="line-height: 28px; " >

	 دسته بندی بر اساس

         </div>



	 <div class="col-md-3 ">

<select style="width: 100%; "  ng-model="managingjobadsorderby " >

<option  value="-date ">زمان درخواست</option>

</select>

    </div>

    </div>

	<div class="clearfix " style="padding: 10px 0; "></div>



    <div class="row ">

	<div class="managingjobadsboxhead textcenter bluecolor ">

			<div class="col-md-5 col-xs-5 fontmedium ">افراد درخواست داده</div>

			<div class="col-md-2 col-xs-2 fontmedium ">وضعیت</div>

			<div class="col-md-5 col-xs-5 fontmedium ">اقدام</div>

<div class="clearfix " style="padding: 5px 0; "></div>

    </div>

    <div class="col-md-12 jobseekerrow " ng-repeat="jobseeker in jobseekersaved.slice(((jobseekersavedcurrentPage-1)*jobseekersaveditemsPerPage), ((jobseekersavedcurrentPage)*jobseekersaveditemsPerPage)) ">

	<div class="row ">

	<div class="col-md-5 col-xs-5 ">

			<span class="pinjob removejob col-md-1 col-xs-1 " ng-click="removejobseekerbookmark(jobseeker) "><i class="fa fa-times " aria-hidden="true "></i></span>

			<span class="jobseekerpicture col-md-3 col-xs-3 "><img src="{{jobseeker.job_seeker.avatar}}"/></span>

			<span class="jobseekername bluecolor col-md-7 col-xs-7 fontmedium ">{{jobseeker.job_seeker.fullname}}</span>

			<span class="jobseekertag graycolor h5title col-md-7 col-xs-7 ">{{jobseeker.job_seeker.email}}</span>

	</div>

	<div class="col-md-2 col-xs-2 textcenter ">

        <span ng-if="jobseeker.status == 'new'" ng-class="{ 'greencolor': jobseeker.status=='پیام داده شد' } " class="jobseekerstatus bluecolor h5title col-md-12 fontmedium ">جدید</span>

        <span class="jobseekerdate graycolor h6title col-md-12 "> {{ jobseeker.bookmarked_at | jalaliDate:'jDD / jMMMM / jYY' }}</span>

	</div>

<div class="col-md-5 col-xs-5 textcenter " style="padding-top: 7px; ">

        <span class="jobseekersendmass graycolor h6title col-md-3 col-xs-3 " ng-click=""> <i class="fa fa-envelope-o " aria-hidden="true "></i><br>پیام به کارجو</span>

        <span class="jobseekerviewprofile graycolor h6title col-md-3 col-xs-3 " ng-click=""><i class="fa fa-eye " aria-hidden="true "></i> <br>مشاهده پروفایل</span>

        <span class="jobseekerdownloadprofile graycolor h6title col-md-3 col-xs-3 " ng-click=""><i class="fa fa-file-pdf-o " aria-hidden="true "></i> <br>دانلود پرو فایل</span>

        <span class="jobseekersearchlog graycolor h6title col-md-3 col-xs-3 " ng-click=""><i class="fa fa-info " aria-hidden="true "></i> <br>جزئیات جستجو</span>

		</div>

	</div>

	</div>



	</div>

	</div>

	</div>







		<div class="col-md-12 ">

    <ul uib-pagination boundary-links="true " total-items="jobseekersavedtotalItems " ng-model="jobseekersavedcurrentPage " ng-change="jobseekersavedpageChanged() "  items-per-page="jobseekersaveditemsPerPage " class="pagination-sm " previous-text="&lsaquo;
              " next-text="&rsaquo; " first-text="&laquo; " last-text="&raquo; "></ul>

</div>

</div>



 <div ng-show="activeTabF=='tab6' ">

 			            <div class="clearfix "></div>

<div class="evaluationbrokershead textcenter ">

			<div class="col-md-4 col-xs-4 graycolor ">حوزه های مختلف</div>

			<div class="col-md-4 col-xs-4 graycolor ">کارگزار پیشفرض</div>

			<div class="col-md-4 col-xs-4 graycolor ">تغییرات</div>

            <div class="clearfix "></div>

</div>

<div class="basicinformationeb textcenter ">

			<div class="col-md-4 col-xs-4 bluecolor fontmedium " style="direction: ltr; ">(اطلاعات اولیه (رزومه </div>

			<div class="col-md-4 col-xs-4 "><img ng-if="bibroker.length> 0" class="img brokericonimg" src="{{bibroker}}"><span ng-if="!bibroker" class="graycolor">انتخاب نشده</span></div>

            <div class="col-md-4 col-xs-4 "><button type="button" class="btn graybtn" ng-click="toggleDetailsbi('basicinformationeb')"><span>تغییر کارگزار پیشفرض</span></button></div>

            <div class="clearfix"></div>



            <div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="basicinformationeb==biselbroker.shown">

              <div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>

              <div class="row">

                <div class="col-md-12 col-xs-12">

                  <div class="brokersem" ng-repeat="broker in brokers">

                    <md-tooltip md-direction="top">

                      {{broker.kargozarname}}

                    </md-tooltip>

                    <img class="img brokericonimg" ng-class="{active: broker == selectbibroker}" src="{{broker.kargozaricon}}" ng-click="selectbibrokerfun(broker)">

                  </div>

                </div>

              </div>

              <button type="button" class="btn greenbtn fontmedium" ng-click="savebibroker(x)"><span>ذخیره</span></button>



            </div>





          </div>

          <div class="personalityevaluationseb textcenter">

            <div class="col-md-4 col-xs-4 bluecolor fontmedium">ارزیابی های شخصیت</div>

            <div class="col-md-4 col-xs-4 "><img ng-if="pebroker.length > 0" class="img brokericonimg" src="{{pebroker}}"><span ng-if="!pebroker" class="graycolor">انتخاب نشده</span></div>

            <div class="col-md-4 col-xs-4 "><button type="button" class="btn graybtn" ng-click="toggleDetailspe('personalityevaluationseb')"><span>تغییر کارگزار پیشفرض</span></button></div>

            <div class="clearfix"></div>



            <div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="personalityevaluationseb==peselbroker.shown">

              <div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>

              <div class="row">

                <div class="col-md-12 col-xs-12">

                  <div class="brokersem" ng-repeat="broker in brokers">

                    <md-tooltip md-direction="top">

                      {{broker.kargozarname}}

                    </md-tooltip>

                    <img class="img brokericonimg" ng-class="{active: broker == selectpebroker}" src="{{broker.kargozaricon}}" ng-click="selectpebrokerfun(broker)">

                  </div>

                </div>

              </div>

              <button type="button" class="btn greenbtn fontmedium" ng-click="savepebroker(x)"><span>ذخیره</span></button>



            </div>

          </div>

          <div class="certificateeb textcenter">

            <div class="col-md-4 col-xs-4  bluecolor fontmedium">گواهینامه های مهارتی</div>

            <div class="col-md-4 col-xs-4 "><img ng-if="ccbroker.length > 0" class="img brokericonimg" src="{{ccbroker}}"><span ng-if="!ccbroker" class="graycolor">انتخاب نشده</span></div>

            <div class="col-md-4 col-xs-4 "><button type="button" class="btn graybtn" ng-click="toggleDetailscc('certificateeb')"><span>تغییر کارگزار پیشفرض</span></button></div>

            <div class="clearfix"></div>



            <div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="certificateeb==ccselbroker.shown">

              <div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>

              <div class="row">

                <div class="col-md-12 col-xs-12">

                  <div class="brokersem" ng-repeat="broker in brokers">

                    <md-tooltip md-direction="top">

                      {{broker.kargozarname}}

                    </md-tooltip>

                    <img class="img brokericonimg" ng-class="{active: broker == selectccbroker}" src="{{broker.kargozaricon}}" ng-click="selectccbrokerfun(broker)">

                  </div>

                </div>

              </div>

              <button type="button" class="btn greenbtn fontmedium" ng-click="saveccbroker(x)"><span>ذخیره</span></button>



            </div>

          </div>

          <div class="competencyappraisal textcenter">

            <div class="col-md-4 col-xs-4  bluecolor fontmedium">ارزیابی های شخصیت</div>

            <div class="col-md-4 col-xs-4 "><img ng-if="cabroker.length > 0" class="img brokericonimg" src="{{cabroker}}"><span ng-if="!cabroker" class="graycolor">انتخاب نشده</span></div>

            <div class="col-md-4 col-xs-4 "><button type="button" class="btn graybtn" ng-click="toggleDetailsca('competencyappraisal')"><span>تغییر کارگزار پیشفرض</span></button></div>

            <div class="clearfix"></div>



            <div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="competencyappraisal==caselbroker.shown">

              <div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>

              <div class="row">

                <div class="col-md-12 col-xs-12">

                  <div class="brokersem" ng-repeat="broker in brokers">

                    <md-tooltip md-direction="top">

                      {{broker.kargozarname}}

                    </md-tooltip>

                    <img class="img brokericonimg" ng-class="{active: broker == selectcabroker}" src="{{broker.kargozaricon}}" ng-click="selectcabrokerfun(broker)">

                  </div>

                </div>

              </div>

              <button type="button" class="btn greenbtn fontmedium" ng-click="savecabroker(x)"><span>ذخیره</span></button>



            </div>

          </div>





        </div>



        <div ng-show="activeTabF=='tab7'" class="mymessagebox">

          <div class="clearfix"></div>



          <ul class="nav nav-tabs">

            <li ng-class="{active: activeTab == 'inbox'}">

              <a class="mymessageboxtab" ng-click="activeTab='inbox'">صندوق دریافت</a>

            </li>

            <li ng-class="{active: activeTab == 'sent'}">

              <a class="mymessageboxtab" ng-click="activeTab='sent'">پیام های ارسال شده</a>

            </li>

            <li ng-class="{active: activeTab == 'compose'}">

              <a class="mymessageboxtab" ng-click="activeTab='compose'">ایجاد پیام</a>

            </li>

          </ul>

          <div class="mymessageboxdet col-md-12 col-xs-12 ">

            <div ng-show="activeTab=='inbox'" class="">

              <div ng-hide="isreceiveVisible">

                <div class="emailrow" ng-repeat="email in emails" ng-click="showreceivemail(email)">

                  <span class="col-md-1 col-xs-1 emailicon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>

                  <span class="col-md-9 col-xs-9 emailminides fontmedium">{{ email.subject }}<br><span class="h6title fontlight">{{ email.from }}</span></span>

                  <span class="col-md-2 col-xs-2 emaildate textleft">{{ email.time }}<br>{{ email.date }}</span>

                </div>

              </div>

              <div ng-show="isreceiveVisible">

                <div class="modal-header">

                  <span class="col-md-1 col-xs-1 emailicon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>

                  <span class="col-md-9 col-xs-9 emailminides fontmedium">{{ selectedreceiveEmail.subject }}<br><span class="h6title fontlight">{{ selectedreceiveEmail.from }}</span></span>

                  <span class="col-md-2 col-xs-2 emaildate textleft">{{ selectedreceiveEmail.time }}<br>{{ selectedreceiveEmail.date }}</span>

                </div>

                <div class="modal-body">

                  {{selectedreceiveEmail.body}}

                </div>

                <div class="modal-footer">

                  <a class="btn removeemail darkgraybtn" ng-click="removereceiveemail(selectedreceiveEmail)"><i class="fa fa-trash-o" aria-hidden="true"></i> حذف</a>

                  <a class="btn replayemail greenbtn" ng-click="replayereceivemail(selectedreceiveEmail)">پاسخ به پیام</a>

                  <a class="btn backtomail bluebtn" ng-click="backtoreceivemail()">بازگشت    <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>

                </div>

              </div>

            </div>



            <div ng-show="activeTab=='sent'">

              <div ng-hide="issentVisible">

                <div class="emailrow" ng-repeat="email in sentEmails" ng-click="showsentmail(email)">

                  <span class="col-md-1 col-xs-1 emailicon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>

                  <span class="col-md-9 col-xs-9 emailminides fontmedium">{{ email.subject }}<br><span class="h6title fontlight">{{ email.to }}</span></span>

                  <span class="col-md-2 col-xs-2 emaildate textleft">{{ email.time }}<br>{{ email.date }}</span>

                </div>

              </div>

              <div ng-show="issentVisible">

                <div class="modal-header">

                  <span class="col-md-1 col-xs-1 emailicon"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></span>

                  <span class="col-md-9 col-xs-9 emailminides fontmedium">{{ selectedsentEmail.subject }}<br><span class="h6title fontlight">{{ selectedsentEmail.to }}</span></span>

                  <span class="col-md-2 col-xs-2 emaildate textleft">{{ selectedsentEmail.time }}<br>{{ selectedsentEmail.date }}</span>

                </div>

                <div class="modal-body">

                  {{selectedsentEmail.body}}

                </div>

                <div class="modal-footer">

                  <a class="btn removeemail darkgraybtn fontmedium" ng-click="removesentmail(selectedsentEmail)"><i class="fa fa-trash-o" aria-hidden="true"></i> حذف</a>

                  <a class="btn replayemail greenbtn fontmedium" ng-click="replayesentmail(selectedsentEmail)">پاسخ به پیام</a>

                  <a class="btn backtomail bluebtn fontmedium" ng-click="backtosentmail()">بازگشت    <i class="fa fa-angle-double-left" aria-hidden="true"></i></a>

                </div>

              </div>

            </div>





            <div ng-show="activeTab=='compose'">

              <div class="modal-header">

                <span class="col-md-1 col-xs-3 composetitle graycolor h5title">

  پیام به

		</span>

                <span class="col-md-11 col-xs-9 composeval">

                <input type="text"

                    ng-model="composeEmail.to"><br />

		</span>

                <span class="col-md-1 col-xs-3 composetitle graycolor h5title">

  موضوع

		</span>

                <span class="col-md-11 col-xs-9 composeval">

                <input type="text"

                    ng-model="composeEmail.subject"><br />

		</span>



              </div>

              <div class="modal-body" style="padding: 0;">

                <textarea class="composeEmailbody" rows="10" ng-model="composeEmail.body"></textarea>

              </div>

              <div class="modal-footer" style="margin: 0; text-align: right;">

                <a class="btn greenbtn" ng-click="sendEmail()">ارسال</a>

                <span class="attachmail" ng-click="attachEmail()"><i class="fa fa-paperclip" aria-hidden="true"></i></span>

              </div>

            </div>

          </div>

          <div class="clearfix"></div>



        </div>

        <div ng-show="activeTabF=='tab8'" class="myfinancialtransactions">



          <table class="table table-bordered transactionstable">

            <thead>

              <tr>

                <th>

                  <a ng-click="orderByField='transactionhistory'; reverseSort = !reverseSort">

           تاریخ تراکنش <span ng-if="!orderByField"><i class="fa fa-sort" aria-hidden="true"></i></span> <span ng-show="orderByField == 'transactiontype'"><i class="fa fa-sort" aria-hidden="true"></i></span> <span ng-show="orderByField == 'transactionhistory'"><span ng-show="!reverseSort"><i class="fa fa-caret-up" aria-hidden="true"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down" aria-hidden="true"></i></span></span>

          </a></th>

                <th>

                  <a ng-click="orderByField='transactiontype'; reverseSort = !reverseSort">

            نوع تراکنش <span ng-if="!orderByField"><i class="fa fa-sort" aria-hidden="true"></i></span>  <span ng-show="orderByField == 'transactionhistory'"><i class="fa fa-sort" aria-hidden="true"></i></span> <span ng-show="orderByField == 'transactiontype'"><span ng-show="!reverseSort"><i class="fa fa-caret-up" aria-hidden="true"></i></span><span ng-show="reverseSort"><i class="fa fa-caret-down" aria-hidden="true"></i></span></span>

          </a>

                </th>

                <th>شماره پیگیری</th>

                <th>مبلغ (تومان)</th>

                <th>موجودی (تومان)</th>

                <th>دریافت فاکتور</th>

              </tr>

            </thead>

            <tbody>

              <tr ng-repeat="transaction in mytransactions.slice(((mytransactionscurrentPage-1)*mytransactionsitemsPerPage), ((mytransactionscurrentPage)*mytransactionsitemsPerPage))|orderBy:orderByField:reverseSort">

                <td>{{transaction.transactionhistory}}</td>

                <td>{{transaction.transactiontype}}</td>

                <td>{{transaction.issuetracking}}</td>

                <td ng-class="{'greencolor': transaction.transactiontype == 'واریز',

           'graycolor': transaction.transactiontype == 'واریز ناموفق',

           'redcolor': transaction.transactiontype == 'پرداخت'}">{{transaction.transactionprice}}</td>

                <td ng-class="{'greencolor': transaction.transactiontype == 'واریز',

           'graycolor': transaction.transactiontype == 'واریز ناموفق'}">{{transaction.transactioncredit}}</td>

                <td class="recivefactorlink"><a href="{{transaction.recivefactorlink}}"><i class="fa fa-download h2title" aria-hidden="true"></i></a></td>

              </tr>

            </tbody>

          </table>

          <div class="col-md-6 col-xs-12 textright">

            <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

          </div>



          <div class="col-md-6 col-xs-12 mysetincreasecredit">

            <button type="button" class="btn greenbtn fontmedium"><span>افزایش اعتبار</span></button>

          </div>



        </div>

        <div ng-show="activeTabF=='tab9'" class="mysetting">
          <div class="col-md-12 col-xs-12 h3title bluecolor">
             تغییر رمز عبور
          </div>
          <br>
          <br>
          <form name="chengepasswordform" novalidate class="chengepasswordform" ng-submit="chengepasswordform.$valid &&ChengePassWord(currentpassword,newpassword)">
          <div class="col-md-12 col-xs-12 h4title graycolor">
            رمز فعلی
          </div>
          <div class="col-md-12 col-xs-12 h4title graycolor">
            <input type="text" name="currentpassword" ng-model="currentpassword">
          </div>
          <div class="col-md-12 col-xs-12 h4title graycolor">
            رمز جدید
          </div>
          <div class="col-md-12 col-xs-12 h4title graycolor">
            <input type="text" name="newpassword" ng-model="newpassword">
          </div>
          <div class="col-md-12 col-xs-12">
             <button type="submit" class="btn bluebtn">تغییر رمز</button>
          </div>
          </form>
          <div class="clearfix"></div>
<!--
          <div class="col-md-12 h4title graycolor">

            <md-checkbox ng-model="data.custom111" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>

          </div>

          <div class="clearfix"></div>

          <div class="col-md-12 h4title graycolor">

            <md-checkbox ng-model="data.custom222" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>

          </div>

          <div class="clearfix"></div>

          <div class="col-md-12 h4title graycolor">

            <md-checkbox ng-model="data.custom333" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>

          </div>

          <div class="clearfix"></div>

          <div class="col-md-10 h4title graycolor">

            شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی

          </div>

          <div class="col-md-2 mysettingswitch">

            <md-switch md-invert ng-model="data.sw111" aria-label="Switch 1">

            </md-switch>

          </div>

          <div class="clearfix"></div>

          <div class="col-md-10 h4title graycolor">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح </div>



          <div class="col-md-2 mysettingswitch">

            <md-switch md-invert ng-model="data.sw222" aria-label="Switch 2">

            </md-switch>

          </div>

          <div class="clearfix"></div>

          <div class="col-md-10 h4title graycolor">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح </div>

          <div class="col-md-2 mysettingswitch">

            <md-switch md-invert ng-model="data.sw333" aria-label="Switch 3">

            </md-switch>

          </div> -->

          <div class="clearfix"></div>

          <div class="clearfix"></div>



        </div>



      </div>





    </div>

  </div>










</div>
