  				   <div ng-controller="spmainpage">
<section class="sptopbanner">
    <div class="container">
        <div class="col-md-12">
            <div class="sptopbannerbox">
            <div class="col-md-4" ng-repeat="banner in banners">
                <div class="h2title fontmedium bluecolor sptopbannertitle">{{banner.title}}</div>
                <img src="{{banner.img}}">
                <p>{{banner.text}}</p>
            </div>
            </div>
        </div>
    </div>
</section>

<section class="topcomsadaf">
    <div class="container">
        <span class="col-md-12 col-xs-12 bluecolor h1title">کارگزاران برتر صدف:</span>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6"  ng-repeat="serviceprovider in serviceproviders">
            <a  ng-click="showaemp(serviceprovider)" >
            <div class="col-md-12 company">
                <img src="{{serviceprovider.avatar}}" title="" alt="">
   <div class="jobrateuser col-md-12 col-xs-12">
        <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>
</div>
<div class="jobratesystem col-md-12 col-xs-12">
        <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>
</div>
                <div class="hovercompany">
                    <p class="hover1">{{$index+1}}</p>
                    <p class="hover2">{{$index+1}}</p>
                </div>
            </div>
            </a>
        </div>
   
    </div>
    </div>
</section>

<section class="jointosadaf">
    <div class="container">
        <div class="row">
            <div class="col-md-7 jointosadafdet">
                <img width="42%" height="auto" src="/assets/images/arrow-bo.svg" alt="">
                <h2 class="fontmedium">
به کارگزاران صدف بپیوندید
                </h2>
                <p class="whitecolor">    
                    سامانه های صدف، Hub یا بستری است که در آن امکان ارائه تمامی سرویس¬ها و خدمات HR که منجر به بهره این حوزه میسر خواهد بودلب 
                </p>            
				<p class="whitecolor">    
                    تحقق این هدف و د که این سامانه دارای ویژگی¬های خاصی باش: 
                </p>

                <form name="regserviceprovider" novalidate ng-submit="regserviceprovider.$valid &&RegSp(directphone,organemail)">
                    <input type="text" class="form-control" ng-model="organemail" name="organemail" placeholder="ایمیل سازمانی">
                    <input type="text" class="form-control" ng-model="directphone" name="directphone" placeholder="شماره تماس مستقیم">
					<div class="h5title whitecolor " style="padding-top: 10px;">
					<button type="submit" class="btn greenbtngradi fontmedium">
<span style="padding-left: 10px;">ارسال</span>		
			<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
					</button>
</div>
                </form> 
            </div>
            
        </div>
    </div>
</section>


	</div>