<div ng-show="activeTabF=='tab2'" >
			<div class="notificationrow graycolor {{item.newnotificationclass}}" ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
		<div class="col-md-1 notificationicon">
		<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
</div>
<div class="col-md-11 nopaddingright notificationcontent">
			<div ng-bind-html="item.description|trustAsHtml"></div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12 paginationcenter" style="background: #E1E2E5;">
    <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"  items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>
</div>

