<div ng-show="activeTabF=='tab1'" >
<div class="profilestatuscurrent">
<div class="col-md-2 col-xs-12 profileimg">
<img src="{{logopic}}" >
<a data-toggle="modal" data-target="#ShowPopupUploadLogo" class="titleandicon"> 
<div class="editlogohover"> 
<div class="titleandicon"> 
<i class="fa fa-picture-o" aria-hidden="true"></i> <br> تغییر لوگو
</div>
</div>
 </a> 
</div>
<div id="ShowPopupUploadLogo" class="modal modal-md" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>ویرایش لوگو</h3>
        </div>
        <div class="modal-body">
            <strong>آپلود پروفایل:</strong>
        <button ngf-select ng-model="logopicfile" accept="image/*">
           انتخاب عکس</button>
        <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop area-type="square"  image="logopicfile | ngfDataUrl"                 
            result-image="croppedDataUrl"  ng-init="croppedDataUrl=''">
            </img-crop>
        </div>			
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" ng-click="savelogo(croppedDataUrl, logopicfile.name)">ذخیره</a>
            <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>
        </div>
    </div>
    </div>
    </div>
<div class="col-md-8  col-xs-12 userinfor">
<div class="h2title bluecolor fontmedium">{{fullname}}</div>
<div class="h4title graycolor">{{position}}</div>
<div class="h3title bluecolor fontlight">{{email}}</div>
<div class="socialprofile">
<a class="linkedin" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
<a class="telegram" href=""><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
<a class="googleplus" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
</div>
<div class="col-md-2  col-xs-12 profilestatus">
<div class="profilestatusprogress">{{ preciseCurrent || current }}%</div>
<div class="profilestatusgiftone"><i class="fa fa-gift" aria-hidden="true"></i></div>
<div class="profilestatusgifttwo"><i class="fa fa-gift" aria-hidden="true"></i></div>
<round-progress
    max="max"
    current="current"
    color="url(#gradient)"
    bgcolor="#999999"
    radius="100"
    stroke="30"
    rounded="false"
    clockwise="true"
    responsive="true"
    duration="2000"
    animation="easeInOutQuart"
    animation-delay="0"
	on-render="showPreciseCurrent">		
    <svg>
      <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
      <stop offset="5%"  stop-color="#005B97"/>
      <stop offset="95%" stop-color="#29B473"/>
      </linearGradient>
    </svg></round-progress>
	<div class="profilestatustext h4title bluecolor fontmedium">وضعیت پروفایل</div>

</div>

<div class="clearfix"></div>

<div class="col-md-2 h4title graycolor fontmedium">وضعیت کاربری</div>
<div ng-class="{'greencolor': activestatus == active,'redcolor': activestatus == false}" class="col-md-10 h4title fontmedium">فعال</div>
<div class="clearfix"></div>

<div class="col-md-2 h4title graycolor linehigh30 fontmedium">اطلاعات دسترسی</div>
<div class="col-md-10 preminfor">
<a ng-class="{'greencolor': phone ,'graycolor': phone == null }"  class="mobile" href=""><md-tooltip md-direction="top">{{phone}}</md-tooltip><i class="fa fa-mobile" aria-hidden="true"></i></a>
<a ng-class="{'greencolor': phone ,'graycolor': phone == null }"  class="phone" href=""><md-tooltip md-direction="top">{{phone}}</md-tooltip><i class="fa fa-phone-square" aria-hidden="true"></i></a>
<a ng-class="{'greencolor': address ,'graycolor': address == null }"  class="addressloc" href=""><md-tooltip md-direction="top">{{address}}</md-tooltip><i class="fa fa-building" aria-hidden="true"></i></a>
<a ng-class="{'greencolor': email ,'graycolor': email == null }"  class="mail" href=""><md-tooltip md-direction="top">{{email}}</md-tooltip><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>

<div class="clearfix"></div>

<div class="col-md-2 h4title graycolor linehigh40 fontmedium">ارتقای پروفایل</div>
<div class="col-md-10 h5title whitecolor "><button type="button" class="btn upgradeprofile greenbtn fontmedium"><i class="fa fa-share-square-o" aria-hidden="true"></i><span>ارتقـای پروفایل</span></button>
</div>

<div class="clearfix"></div>
<div class="clearfix"></div>

<div class="col-md-8 h4title graycolor onsmsdiv linehigh40 fontmedium">          <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">فعال نمودن اطلاع رسانی فوری با پیامک <span class="onsmsprice">5000 تومان </span></md-checkbox></div>
<div class="col-md-4 h5title"><button type="button" class="btn increasecredit greenbtnreverse fontmedium"><span>افزایش اعتبار</span></button>
</div>

<div class="clearfix"></div>

<div class="col-md-12 col-xs-12 profilebanner"><span>.:محــــل تبلیـــــغات:.</span></div>
<div class="clearfix"></div>

</div>
</div>