<div ng-show="activeTabF=='tab5'" >
 			            <div class="clearfix"></div>
<div class="evaluationbrokershead textcenter">
			<div class="col-md-4 col-xs-4 graycolor">حوزه های مختلف</div>
			<div class="col-md-4 col-xs-4 graycolor">کارگزار پیشفرض</div>
			<div class="col-md-4 col-xs-4 graycolor">تغییرات</div>
            <div class="clearfix"></div>
</div>
<div class="basicinformationeb textcenter">
			<div class="col-md-4 col-xs-4 bluecolor fontmedium" style="direction: ltr;">(اطلاعات اولیه (رزومه </div>
			<div class="col-md-4 col-xs-4 "><img ng-if="bibroker.length > 0"  class="img brokericonimg" src="{{bibroker}}"><span ng-if="!bibroker" class="graycolor">انتخاب نشده</span></div>
			<div class="col-md-4 col-xs-4"><button type="button" class="btn graybtn"  ng-click="toggleDetailsbi('basicinformationeb')"><span>تغییر کارگزار پیشفرض</span></button></div>
            <div class="clearfix"></div>
			
			<div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="basicinformationeb==biselbroker.shown" >
				<div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="brokersem"  ng-repeat="broker in brokers">
<md-tooltip
              md-direction="top">
              {{broker.kargozarname}}
            </md-tooltip>
<img class="img brokericonimg" ng-class="{active: broker == selectbibroker}" src="{{broker.kargozaricon}}" ng-click="selectbibrokerfun(broker)">
</div>	
								</div>
								</div>
					<button type="button" class="btn greenbtn fontmedium" ng-click="savebibroker(x)"><span>ذخیره</span></button>

				</div>

				
</div>
<div class="personalityevaluationseb textcenter">
			<div class="col-md-4 col-xs-4 bluecolor fontmedium">ارزیابی های شخصیت</div>
			<div class="col-md-4 col-xs-4"><img ng-if="pebroker.length > 0"  class="img brokericonimg" src="{{pebroker}}"><span ng-if="!pebroker" class="graycolor">انتخاب نشده</span></div>
			<div class="col-md-4 col-xs-4"><button type="button" class="btn graybtn"  ng-click="toggleDetailspe('personalityevaluationseb')"><span>تغییر کارگزار پیشفرض</span></button></div>
            <div class="clearfix"></div>
			
			<div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="personalityevaluationseb==peselbroker.shown" >
				<div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="brokersem"  ng-repeat="broker in brokers">
<md-tooltip
              md-direction="top">
              {{broker.kargozarname}}
            </md-tooltip>
<img class="img brokericonimg" ng-class="{active: broker == selectpebroker}" src="{{broker.kargozaricon}}" ng-click="selectpebrokerfun(broker)">
</div>	
								</div>
								</div>
					<button type="button" class="btn greenbtn fontmedium" ng-click="savepebroker(x)"><span>ذخیره</span></button>

				</div>
</div>		
<div class="certificateeb textcenter">
			<div class="col-md-4 col-xs-4 bluecolor fontmedium">گواهینامه های مهارتی</div>
			<div class="col-md-4 col-xs-4"><img ng-if="ccbroker.length > 0"  class="img brokericonimg" src="{{ccbroker}}"><span ng-if="!ccbroker" class="graycolor">انتخاب نشده</span></div>
			<div class="col-md-4 col-xs-4"><button type="button" class="btn graybtn"  ng-click="toggleDetailscc('certificateeb')"><span>تغییر کارگزار پیشفرض</span></button></div>
            <div class="clearfix"></div>
			
			<div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="certificateeb==ccselbroker.shown" >
				<div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="brokersem"  ng-repeat="broker in brokers">
<md-tooltip
              md-direction="top">
              {{broker.kargozarname}}
            </md-tooltip>
<img class="img brokericonimg" ng-class="{active: broker == selectccbroker}" src="{{broker.kargozaricon}}" ng-click="selectccbrokerfun(broker)">
</div>	
								</div>
								</div>
					<button type="button" class="btn greenbtn fontmedium" ng-click="saveccbroker(x)"><span>ذخیره</span></button>

				</div>
</div>	
<div class="competencyappraisal textcenter">
			<div class="col-md-4 col-xs-4 bluecolor fontmedium">ارزیابی های شخصیت</div>
			<div class="col-md-4 col-xs-4 "><img ng-if="cabroker.length > 0"  class="img brokericonimg" src="{{cabroker}}"><span ng-if="!cabroker" class="graycolor">انتخاب نشده</span></div>
			<div class="col-md-4 col-xs-4"><button type="button" class="btn graybtn"  ng-click="toggleDetailsca('competencyappraisal')"><span>تغییر کارگزار پیشفرض</span></button></div>
            <div class="clearfix"></div>
			
			<div class="col-md-12 col-xs-12 boxbrokersele" ng-hide="competencyappraisal==caselbroker.shown" >
				<div class="bluecolor textright fontmedium">کارگزار ارزیابی من در خصوص ارزیابی های شخصیت</div>
<div class="row">
<div class="col-md-12 col-xs-12">
<div class="brokersem"  ng-repeat="broker in brokers">
<md-tooltip
              md-direction="top">
              {{broker.kargozarname}}
            </md-tooltip>
<img class="img brokericonimg" ng-class="{active: broker == selectcabroker}" src="{{broker.kargozaricon}}" ng-click="selectcabrokerfun(broker)">
</div>	
								</div>
								</div>
					<button type="button" class="btn greenbtn fontmedium" ng-click="savecabroker(x)"><span>ذخیره</span></button>

				</div>
</div>	
		

</div>

