<div ng-show="activeTabF=='tab8'"  class="mysetting">
            <div class="clearfix"></div>
            <div class="col-md-12 h4title graycolor">      
			<md-checkbox ng-model="data.custom111" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>
			</div>
       <div class="clearfix"></div>
            <div class="col-md-12 h4title graycolor">      
			<md-checkbox ng-model="data.custom222" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>
			</div>
			       <div class="clearfix"></div>
            <div class="col-md-12 h4title graycolor">      
			<md-checkbox ng-model="data.custom333" aria-label="Checkbox 1">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود</md-checkbox>
			</div>
						       <div class="clearfix"></div>
							               <div class="col-md-10 h4title graycolor">      
    شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی 
</div>
  							               <div class="col-md-2 mysettingswitch">      
 <md-switch md-invert ng-model="data.sw111" aria-label="Switch 1">
  </md-switch>
  </div>
			       <div class="clearfix"></div>    
				   <div class="col-md-10 h4title graycolor">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح </div>

  							               <div class="col-md-2 mysettingswitch">      
 <md-switch md-invert ng-model="data.sw222" aria-label="Switch 2">
  </md-switch>
  </div>
			       <div class="clearfix"></div>		
				   <div class="col-md-10 h4title graycolor">شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح </div>
  							               <div class="col-md-2 mysettingswitch">      
 <md-switch md-invert ng-model="data.sw333" aria-label="Switch 3">
  </md-switch>
  </div>
			       <div class="clearfix"></div>
			       <div class="clearfix"></div>

</div>
