@media only screen and (max-width: 1200px) {
  .statistics-home .col-sm-6 {
    width: 20% !important
  }
  .job-post-detail.company .rating {
    right: 8px !important;
  }
  .create-a-post .card {
    width: 1025px !important
  }
  .style-over {
    overflow: hidden;
    overflow-x: scroll
  }
  .statistics-info {
    width: 100%
  }
  .statistics-home {
    text-align: center
  }
  .statistics-home img {
    float: none !important;
    margin-left: 0;
    margin-bottom: 10px
  }
  .bookmark i {
    right: 6px;
  }
  .rating {
    right: 9px;
  }
  .box-price-one .btn-primary {
    padding: 9px;
  }
  .select2-container {
    width: 100% !important;
  }
  .slide-three-home img {
    height: 56px;
  }
  .slide-three-home h2 {
    font-size: 15px;
  }
  .job-post-detail .rating {
    right: 18px !important;
  }
  .job-post-detail .bookmark i {
    right: 0px !important;
  }
  .dash-pro img {
    height: 100%;
    width: 100%;
  }
  .search-database .action-filter button {
    margin-right: -17px;
  }
  .search-database .bookmark i {
    right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-header {
    width: 100%
  }
  .sty-ert {
    width: 900px !important
  }
  .company .statistics {
    width: 100%;
  }
  .job-post-detail.company .rating {
    right: 22px !important;
  }
  
  .bookmark i {
    right: 18px;
  }
  .dash-pro img {
    float: left;
    height: 250px;
    margin-right: 20px;
    width: 250px;
    margin-top: 23px;
  }
  .job-post-detail .rating {
    right: 0 !important;
  }
  .box-price-one {
    margin-bottom: 30px
  }
  .col-md-offset-2 {
    margin-right: 0 !important;
  }
  .rating {
    right: 41px;
  }
  .checkbox {
    padding-left: 0;
  }
  .action-filter {
    margin-bottom: 30px !important;
  }
  .banner2-home .btn.btn-success24 {
    margin-right: -15px;
    margin-top: 12px;
  }
  .action-filter .rating {
    right: 0px !important;
  }
  .bg-samaneh {
    display: none
  }
  .text-samaneh {
    padding: 20px 30px;
  }
  .samaneh-sadaf {
    padding-bottom: 30px;
  }
  .stepwizard-step p {
    padding: 0 7px;
  }
  .border-dash {
    border: 0 !important;
  }
  .appraisal-style {
    margin-bottom: 15px
  }
  .samaneh-btn {
    padding-top: 0;
  }
  .btn-blue-b {
    margin-bottom: 30px
  }
  .upstream-company .row::before {
    top: 0%;
    width: 0;
  }
}
@media only screen and (max-width: 767px) {
  .statistics-home .col-sm-6 {
    width: 100% !important;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #b3b3b3;
    padding: 20px 0 86px;
  }
  .company .service-dash {
    width: 100%
  }
  .company .job-detail {
    width: 160px
  }
  .full-jobs-buy {
    display: none
  }
  .style-ghi {
    width: 680px !important
  }
  .cardd {
    margin: 4px 15px 0;
  }
  .text-res-s {
    text-align: right;
    margin-left: 15px;
  }
  .pull-left.text-res-s {
    width: 100%;
  }
  .job-more {
    margin-bottom: 20px
  }
  .progress-home h3 {
    font-size: 18px
  }
  .style-fg {
    float: right;
    width: 125px !important;
    margin-bottom: 20px
  }
  .navbar-header {
    width: auto
  }
  .slide-three-home img {
    width: auto
  }
.navbar .navbar-toggle .icon-bar {
  background-color: #333;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: auto;
  position: relative;
  top: 16px;
}
.style-25 {
  display: none
}
.job-post {
  width: 360px;
}
.style-24 {
  display: block !important
}
.rating {
  right: -3px;
}
.chevron-right {
  width: 100%;
  text-align: right;
  margin-top: 20px
}
.bookmark i {
  right: 0px;
}
.text-samaneh button {
  margin: 0 0 20px;
  width: 100%;
}
.stepwizard-step {
  display: block;
  width: 100% !important;
}
.stepwizard-row::before {
  border-bottom: 0;
}
.certificate .text-left {
  text-align: center !important
}
}
@media only screen and (max-width: 467px) {
  .dash-pro img {
    height: auto;
    width: 100%;
  }
  .banner2-home .btn {
    margin-bottom: 10px
  }
  .job-post-title span {
    display: none
  }
}







@media only screen and (max-width: 1200px) {
.typeofcooperation div {
    padding: 0px;
}
.company .jobrateuser {
    padding-left: 25%;
    padding-right: 0;
}
.company .jobratesystem {
    padding-right: 25%;
    padding-left: 0;
}
.companylogo {
    padding: 0;
}
.jobratesystem  {
    padding: 0;
}
.emaildate {
    font-size: 13px;
}
}

@media only screen and (max-width: 992px) {
.col-md-12.col-xs-12.jobdetailsbox .jobratesystem {
    padding-right: 42.5%;
    padding-top: 0;
    padding-bottom: 15px;
}
.col-md-12.col-xs-12.jobdetailsbox .jobrateuser {
    padding-left: 41%;
}
.col-md-6.jobdetailsbox .jobrateuser {
    padding-left: 36%;
}
.col-md-6.jobdetailsbox .jobratesystem {
    padding-right: 38.5%;
}
.typeofcooperation {
    width: calc(100% / 4 - 5px);
}
.profilestatus .round-progress-wrapper {
padding-bottom: 50% !important;
}

.profilestatusgifttwo {
    right: 24%;
	}
	
.profilestatustext {
    left: 33%;
    top: 92%;
}
.profilestatus {
	    margin-bottom: 30px;
}
.onsmsdiv {
	    font-size: 10px;
}
.rowtwojob {
    padding: 15px 15px;
}
.requestforcooperationjob {
    padding-left: 0;
	float: right;
}
.centerjobrespon {
	text-align: center;
}
.jobrateuser span {
    padding-right: 5px;
}
.jobratesystem span {
    padding-right: 0px;
}
.paddingjobrespon {
	    padding: 0 30px;
}
.jobdetailsbox:nth-of-type(2n+2) {
    padding-right: 15px;
}
.backtomail  {
    margin: 0;
    margin-top: 2px;
    text-align: right;
    float: right;
}
.replayemail  {
    margin: 0;
}
.mysetincreasecredit {
    text-align: center;
}
.textright {
    text-align: center;
}
.readmorejob {
    float: left;
}
.emaildate {
    font-size: 10px;
}
.sptopbannerbox div:nth-child(2) {
    border-top: 2.2px dashed #999999;
    border-bottom: 2.2px dashed #999999;
	border-left: 0;
    border-right: 0;
}
q:after {
    bottom: 70px;
}
q:before {
    top: 190px;
}
.serviceprovider .profileimg .profileimgcl {
    margin-right: 0;
}
.serviceprovider .profileimg .charticonuserstatus {
    margin-right: -1px;
    width: 44%;
}
.serviceprovider .profileimg .jobrateuser span {
    padding-right: 1px;
}
.serviceprovider .profileimg .jobratesystem span {
    padding-right: 0px;
}
.serviceprovider .profileimg .starcolor {
    font-size: 24px;
}
.serviceprovider .profileimg .jobratesystemicon {
    width: 8.2px;
    font-size: 25px;
}
.serviceprovider .socialprofile {
    padding: 0px 0 5px !IMPORTANT;
}
.selectdefaultserver {
padding: 0px 15px 15px;
    float: left;
}
.spcontactdet p {
    margin: 0 0 10px !IMPORTANT;
}
.serviceprovider .spcontactdet {
    padding: 15px 0 5px;
}
.services .serve .servetitle {
    padding: 10px 15px 5px;
}
.services .serve {
    padding: 15px;
}
.services .serve .servedesc {
    padding-right: 15px;
}
.ourteam .linkedin i {
    left: 50px;
}
.servicesh1title {
	    padding: 0 15px 15px !important;
}
.spcontactdetbox {
	    padding-left: 15px !important;
}
.spcomment {
	    padding: 45px 15px;
}
.jobcategory {
    width: calc(100% / 1 - 20px);
}

.jobcategorybox {
    width: calc(100%);
}
.daterangefilterjobpos select {
    width: 14%;
    margin: 0 11px;
}
.jobseekername {
    padding-right: 30px;
}
.jobseekertag {
    padding-right: 30px;
}

.jobcategory:nth-of-type(4n+2) .jobcategorybox {
margin-right: 0;
}

.jobcategory:nth-of-type(4n+3) .jobcategorybox {
margin-right: 0;
}

.jobcategory:nth-of-type(4n+4) .jobcategorybox {
margin-right: 0;
}
.upstreamcompany .row::before {
    background: #e6e6e6 none repeat scroll 0 0;
    content: "";
    display: block;
    height: 1px;
    margin: 0 35%;
    position: absolute;
    top: 56%;
    width: 30%;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.assmereq .finaldetwithtestazmonh {
    width: calc(100%);
}
.mavaliboxprice {
	    margin-right: 0%;
    margin-left: 0;
}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
.profilestatus .round-progress-wrapper {
    padding-bottom: 25% !important;
}
.profilestatusgifttwo {
    right: 36%;
}
.profilestatustext {
    left: 42%;
    top: 95%;
}
.ourteam .linkedin i {
    left: 148px;
}
}

@media screen and (max-width: 767px) and (min-width: 600px) {
.profilestatus .round-progress-wrapper {
    padding-bottom: 25% !important;
}
.profilestatusgifttwo {
    right: 36%;
}
.profilestatustext {
    left: 42%;
    top: 95%;
}
.ourteam .linkedin i {
    left: 110px;
}
}

@media screen and (max-width: 600px) and (min-width: 330px) {
.profilestatus .round-progress-wrapper {
    padding-bottom: 35% !important;
}
.profilestatusgifttwo {
    right: 29%;
}
.profilestatustext {
    left: 38%;
    top: 95%;
}
.ourteam .linkedin i {
    left: 37px;
}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
.col-md-12.col-xs-12.jobdetailsbox .jobratesystem {
    padding-right: 45%;
    padding-top: 0;
    padding-bottom: 15px;
}
.col-md-12.col-xs-12.jobdetailsbox .jobrateuser {
    padding-left: 43%;
}
.col-md-6.jobdetailsbox .jobratesystem {
    padding-right: 34%;
}
.col-md-6.jobdetailsbox .jobrateuser {
    padding-left: 30%;
}
.company .jobrateuser {
    padding-left: 8%;
    padding-right: 0;
}

.company .jobratesystem {
    padding-right: 8%;
    padding-left: 0;
}
.rowtwojob {
    padding: 15px 0;
}
.centerjobrespon {
    padding-left: 0;
    width: 100%;
    text-align: center;
}
.jobrateuser span {
    padding-right: 7px;
}
.jobratesystem span {
    padding-right: 0;
}
.paddingjobrespon {
    padding: 0 15px;
    width: 100%;
}

.resarchpage .paddingjobrespon {
    padding: 15px 15px;
    width: 100%;
}
.requestforcooperationjob {
    text-align: right;
}
.readmorejob {
    text-align: left;
}
.userinforbox .profileimg {
    width: 21%;
}
.userinforbox .userinfor {
    width: 62%;
}
.userinforbox .profilestatus {
    width: 17%;
}
.profilestatus .round-progress-wrapper {
    padding-bottom: 100% !important;
}
.profilestatustext {
    left: 15%;
    top: 92%;
}
.sptopbannerbox img {
    width: 250px;
}
.services .serve img {
    width: 213px;
}
.serviceprovider .profileimg {
	width: 20%;
}
.serviceprovider .nopaddinglr {
	width: 80%;
}
.ourteam .linkedin i {
    left: 46px;
}
.assmereq .finaldetwithtestazmonh {
    width: calc(100% / 5 - -20px);
}
}
@media only screen and (min-width: 992px) {
.samaneh-sadaf .row {
    margin-left: auto;
}
.padleftminupzero {
	padding-right:0;
}
.pg6martopdejob {
	    margin-top: -45px;

}
}

@media (min-width: 768px) {
  .modal-dialog.lgdlogmodal {
    width: 850px;
    margin: 30px auto;
  }
}