				   <div ng-controller="createapostpage" class="imgkargozarpg11">

	<div class="sabtagahishog">
						        <div class="container" style="padding-right: 0;">

							<h1 class="h1title bluecolor">
        <span class="fontmedium">ثبت یک آگهی شغلی</span>
    </h1>
	         <div class="tabhead">
                        <ul class="nav nav-tabs">
                            <li><a style="margin-right: 0px;" ng-class="{active: activeTab == 'tab1'}" ng-click="activeTab='tab1'">اطلاعات جایگاه شغلی</a></li>
                            <li><a ng-class="{active: activeTab == 'tab2'}" ng-click="activeTab='tab2'">شرایط احراز شغل</a></li>
                            <li><a ng-class="{active: activeTab == 'tab3'}" ng-click="activeTab='tab3'">ارزیابی روانشناختی</a></li>
                            <li><a ng-class="{active: activeTab == 'tab4'}" ng-click="activeTab='tab4'">ارزیابی مهارتی</a></li>
                            <li><a ng-class="{active: activeTab == 'tab5'}" ng-click="activeTab='tab5'">ارزیابی شایستگی ها</a></li>
                            <li><a ng-class="{active: activeTab == 'tab6'}" ng-click="activeTab='tab6'">خاص نمودن آگهی</a></li>
                            <li><a ng-class="{active: activeTab == 'tab7'}" ng-click="activeTab='tab7'">ارسال آگهی</a></li>
                        </ul>
                </div>

						        <div class="sabtagahishogbox">
				    <div ng-show="activeTab=='tab1'">
 <div class="pgsabtshoglbox">
					        <div class="searchdatabase">
   <div class="searchdatabaser">
														<div class="col-md-6 col-xs-12 exfildsearctwo">

<div class="col-md-4 col-xs-12 exfildsearcfou" style="padding-right: 0;">			
															    <span class="titlefildsear h5title fontmedium">عنوان جایگاه شغلی</span>

								</div>

							<div class="col-md-8 col-xs-12  exfildsearcthe" style="padding-right: 10px;">
								                            <input class="form-control" id="profileshoghl" type="text" size="100"  ng-model="onvanjayghahshoghl"></input>

								</div>

</div>

													<div class="col-md-6 col-xs-12 exfildsearctwo">

											<div class="col-md-5 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">صنعت مربوطه</span>

								</div>

							<div class="col-md-7 col-xs-12">
		  <select class="h5title fontlight" ng-model="selectedsanatmarbote">
<option ng-repeat="x in sanatmarbote" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>

</div>

		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear h5title fontmedium">شرح وظایف این شغل</span>
								</div>
															<div class="col-md-9 col-xs-12">

								                            <input class="form-control addinputtott alewithaddmahar " id="profileshoghl" type="text" size="100" ng-model="formData.inpuvaluemaharatkild"></input>


</div>

<div class="col-md-1 col-xs-12">
                                <a class="btn btn-default addmaharatbtn h6title fontmedium" ng-click="addsharhvazayef()">اضافه</a>

</div>

</div>

		        <div class="searchdatabaser resanakal" ng-repeat="vazife in formData.sharhevazayef"  id="sharhvazifeid{{$index}}">
											<div class="col-md-2 col-xs-1">
								</div>

							<div class="col-md-10 col-xs-12">

								                                <div class="namemaharatkilid">{{vazife.title}}</div>
								                                <div class="removemahartkilid" ng-click="removesharhevazayef($index)">حذف</div>

								</div>


</div>
<!-- {{noehamkari[nohamkar.nameper]}} -->
		       <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">نوع همکاری</span>

								</div>

<div class="col-md-10 col-xs-12" style="
    padding: 0;
    padding-top: 5px;
">							  <md-checkbox class="h5title fontlight" ng-model="tamamvaght" aria-label="Checkbox 1">تمام وقت</md-checkbox>
							  <md-checkbox class="h5title fontlight" ng-model="parevaght" aria-label="Checkbox 2">پاره وقت</md-checkbox>
							  <md-checkbox class="h5title fontlight" ng-model="karamozi" aria-label="Checkbox 3">کارآموزی</md-checkbox>
							  <md-checkbox class="h5title fontlight" ng-model="karvandi" aria-label="Checkbox 4">کاروندی</md-checkbox>







								</div>


</div>

		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">ساعت کاری</span>

								</div>

							<div class="col-md-10 col-xs-12">
  <select class="selecttahsilat saatkari-roz" ng-model="formData.saatkari.roz">
<option ng-repeat="x in satkari" value="{{x.nameper}}">{{x.nameper}}</option>
</select>

		 <select class="selecttahsilat saatkari-sat"  ng-model="formData.saatkari.sataval">
<option ng-repeat="x in times" value="{{x.time}}">{{x.time}}</option>
</select>
		  <span class="h5title fontmedium">الی</span>
		  												  <select  class="selecttahsilat saatkari-sat" ng-model="formData.saatkari.satdovom">
<option ng-repeat="x in times" value="{{x.time}}">{{x.time}}</option>
</select>
								</div>


</div>





	 	        <div class="extrafiltersarda">


	     


	        <div class="searchdatabaser">
														<div class="col-md-6 col-xs-12 exfildsearctwo">

<div class="col-md-4 col-xs-12 exfildsearcfou" style="padding-right: 0;">			
																		    <span class="titlefildsear h5title fontmedium">سابقه کاری</span>

								</div>
								<div class="col-md-8 col-xs-12 exfildsearcthe" style="padding-right: 10px;">
							  <select ng-model="formData.sabeghekari">
<option ng-repeat="x in sabeghekari" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>
					

</div>
</div>

													<div class="col-md-6 col-xs-12 exfildsearctwo">

											<div class="col-md-5 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">حوزه دارای سابقه<span>

								</div>

							<div class="col-md-7 col-xs-12">
					  <select ng-model="formData.hozedaraysabeghe">
<option ng-repeat="x in hozedaraysabeghe" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>

</div>


	        <div class="searchdatabaser">
														<div class="col-md-6 col-xs-12 exfildsearctwo">

<div class="col-md-4 col-xs-12 exfildsearcfou" style="padding-right: 0;">			
																		    <span class="titlefildsear h5title fontmedium">موقعیت در جایگاه سازمانی</span>

								</div>

							<div class="col-md-8 col-xs-12 exfildsearcthe" style="padding-right: 10px;">
				  <select ng-model="formData.mogeatdarjayghah">
<option ng-repeat="x in mogeatdarjayghah" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>

													<div class="col-md-6 col-xs-12 exfildsearctwo">

											<div class="col-md-5 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">واحد سازمانی/معاونت<span>

								</div>

							<div class="col-md-7 col-xs-12">
				  <select ng-model="formData.vahedsazmani">
<option ng-repeat="x in vahedsazmani" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>


</div>
		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">شهر</span>

								</div>

							<div class="col-md-10 col-xs-12">

				  <select ng-model="formData.shahr">
<option ng-repeat="x in shahr" value="{{x.nameper}}">{{x.nameper}}</option>
</select>

								</div>


</div>


<div class="searchdatabaser">
														<div class="col-md-6 col-xs-12 exfildsearctwo">

<div class="col-md-4 col-xs-12 exfildsearcfou" style="padding-right: 0;">			
																		    <span class="titlefildsear h5title fontmedium">محل فعالیت</span>

								</div>

							<div class="col-md-8 col-xs-12 exfildsearcthe" style="padding-right: 10px;">

				  <select ng-model="formData.mahalfaliat">
<option ng-repeat="x in mahalfaliat" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>

													<div class="col-md-6 col-xs-12 exfildsearctwo">

											<div class="col-md-5 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">نوع محل فعالیت<span>

								</div>

							<div class="col-md-7 col-xs-12">
				  <select ng-model="formData.noemahalfaliat">
<option ng-repeat="x in noemahalfaliat" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
								</div>

</div>

</div>

		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">حقوق پایه</span>

								</div>

							<div class="col-md-10 col-xs-12">

				  <select ng-model="formData.hoghogpayeh">
<option ng-repeat="x in hoghogpayeh" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>
								</div>


</div>

		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">بیمه تکمیلی</span>

								</div>

							<div class="col-md-10 col-xs-12">

				  <select ng-model="formData.bimetakmili">
<option ng-repeat="x in daradyanadarad" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>

								</div>


</div>


		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">مزایا</span>

								</div>

							<div class="col-md-10 col-xs-12">

				  <select ng-model="formData.mazaya">
<option ng-repeat="x in daradyanadarad" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>

								</div>


</div>

		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">سنوات</span>

								</div>

							<div class="col-md-10 col-xs-12">
							
				  <select ng-model="formData.sanavat">
<option ng-repeat="x in daradyanadarad" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>

								</div>


</div>

		</div>

		</div>
		

			</div>
			
			<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
			
<a href="#" class="backgam btn h5title fontmedium">« بازگشت به پروفایل</a>
<a  ng-click="activeTab='tab2'"  class="nextgam btn h5title fontmedium">ادامه برای گام بعد »</a>

			</div>
			</div>
		    <div ng-show="activeTab=='tab2'">
 <div class="pgsabtshoglbox">
					        <div class="searchdatabase">

			   <div>

		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear h5title fontmedium">تحصیلات</span>
								</div>
															<div class="col-md-9 col-xs-12">

						<select class="h5title fontlight" data-placeholder="رشته تحصیلی" class="selecttahsilat" tabindex="1" ng-model="formData.reshteselec" style="margin-left: 15px;">
            <option value="مکانیک">مکانیک</option>
          </select>
		  						<select class="h5title fontlight" data-placeholder="گرایش تحصیلی" class="selecttahsilat" tabindex="1" ng-model="formData.grayeshselec" style="margin-left: 15px;">
            <option value="طراحی جامدات">طراحی جامدات</option>
          </select>
		  						<select class="h5title fontlight" data-placeholder="مقطع تحصیلی" class="selecttahsilat" tabindex="1" ng-model="formData.maghtaselec">
            <option value="کارشناسی">کارشناسی</option>
            <option value="کارشناسی ارشد">کارشناسی ارشد</option>
          </select>

</div>

<div class="col-md-1 col-xs-12">
                                <a class="btn btn-default addmaharatbtn h6title fontmedium" ng-click="addtahsilat()">اضافه</a>

</div>

</div>

		        <div class="searchdatabaser resanakal" ng-repeat="tahsil in formData.teahsilat" id="tahsilatid{{$index}}">
											<div class="col-md-2 col-xs-1">
								</div>

							<div class="col-md-10 col-xs-12">

								                                <div class="namemaharatkilid">{{tahsil.reshte}} | {{tahsil.grayesh}} | {{tahsil.magta}} </div>
								                                <div class="removemahartkilid" ng-click="removettahsilat($index)">حذف</div>


								</div>


</div>
</div>
		  

		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear h5title fontmedium">مهارت های کلیدی</span>
								</div>
															<div class="col-md-9 col-xs-12">

								                            <input class="form-control addinputtott alewithaddmahar" id="maharathaykilidiid" type="text" size="100"  ng-model="formData.inpuvaluemaharatkilidi"></input>


</div>

<div class="col-md-1 col-xs-12">
                                <a class="btn btn-default addmaharatbtn h6title fontmedium" ng-click="addmaharatkilidi()">اضافه</a>

</div>

</div>

		        <div class="searchdatabaser resanakal" ng-repeat="maharat in formData.maharatkilidi" id="mahratkilidiid{{$index}}">
											<div class="col-md-2 col-xs-1">
								</div>

							<div class="col-md-10 col-xs-12">

								                                <div class="namemaharatkilid">{{maharat.title}}</div>
								                                <div class="removemahartkilid" ng-click="removemahartkilid($index)">حذف</div>


								</div>


</div>
		  


		        





	 	        <div class="extrafiltersarda">


	     


	        <div class="searchdatabaser">
														<div class="col-md-6 col-xs-12 exfildsearctwo">

<div class="col-md-4 col-xs-12 exfildsearcfou" style="padding-right: 0;">			
																		    <span class="titlefildsear h5title fontmedium">جنسیت</span>

								</div>

							<div class="col-md-8 col-xs-12 exfildsearcthe" style="padding-right: 10px;">
					  <select class="h5title fontlight" ng-model="formData.jensiat">
<option ng-repeat="x in jensiat" value="{{x.nameeng}}">{{x.nameper}}</option>
</select>
								</div>

</div>

													<div class="col-md-6 col-xs-12 exfildsearctwo">

											<div class="col-md-5 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">وضعیت نظام وظیفه<span>

								</div>

							<div class="col-md-7 col-xs-12">
				  <select class="h5title fontlight" ng-model="formData.vaziatnezamvazife">
<option ng-repeat="x in vaziatnezamvazife" value="{{x.nameper}}">{{x.nameper}}</option>
</select>
           
								</div>

</div>

</div>


		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">سن</span>

								</div>

							<div class="col-md-10 col-xs-12">

		  <select class="h5title fontlight" ng-model="formData.sen">
<option ng-repeat="x in sen" value="{{x.nameper}}">{{x.nameper}}</option>
</select>


								</div>


</div>


		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">وضعیت تاهل</span>

								</div>

							<div class="col-md-10 col-xs-12">

		  <select class="h5title fontlight" ng-model="formData.vaziattahol">
<option ng-repeat="x in vaziattahol" value="{{x.nameper}}">{{x.nameper}}</option>
</select>

								</div>


</div>


		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">وضعیت اقامتی</span>

								</div>

							<div class="col-md-10 col-xs-12">

		  <select class="h5title fontlight" ng-model="formData.vaziateghamati">
<option ng-repeat="x in vaziateghamati" value="{{x.nameper}}">{{x.nameper}}</option>
</select>

								</div>


</div>

		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">توضیحات</span>

								</div>

							<div class="col-md-10 col-xs-12">

		    <textarea ng-model="formData.tozihat" style="overflow:auto;resize:none;width: 100%;" rows="8"></textarea>


								</div>


</div>



		        <div class="searchdatabaser">
											<div class="col-md-2 col-xs-12">
																		    <span class="titlefildsear h5title fontmedium">انتخاب کارگزار پیشنهادی
جهت دریافت اطلاعات اولیه</span>

								</div>

							<div class="col-md-10 col-xs-12">

<div class="arzntagimg" style="
">			      
<md-tooltip
              md-direction="top">
             کارگذار تست
            </md-tooltip>
<img class="img" src="assets/images/lk1.png">
									<!-- <div class="detkargoa col-md-6" style=" -->
<!-- ">                                   -->
									<!-- <div class="detkargoar1" style="">      -->
																<!-- <div class="col-md-2 col-xs-12 kargozrmohoimg"> -->

									<!-- <img class="img" src="assets/images/lk1.png"> -->
									<!-- </div> -->
																<!-- <div class="col-md-10 col-xs-12 kargozrmoho"> -->

									<!-- <span class=" h5title fontmedium">ایران تلنت</span> -->
									<!-- <div class="moshahedeprofikargo"> -->
									<!-- <a href="" class="fontlight h6title">مشاهده پروفایل کارگزار</a> -->
									<!-- </div> -->
									<!-- </div> -->

<!-- </div> -->
<!-- <div class="starskargo" style=""> -->
									<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">امتیاز کارجویان</span> -->
<!-- <fieldset class="rating"> -->
                        <!-- <input type="radio" id="star5" name="rating" value="5"><label class="full" for="star5" title="Awesome - 5 stars"></label> -->
                        <!-- <input type="radio" id="star4half" name="rating" value="4 and a half"><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
                        <!-- <input type="radio" id="star4" name="rating" value="4"><label class="full" for="star4" title="Pretty good - 4 stars"></label> -->
                        <!-- <input type="radio" id="star3half" name="rating" value="3 and a half"><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
                        <!-- <input type="radio" id="star3" name="rating" value="3"><label class="full" for="star3" title="Meh - 3 stars"></label> -->
                        <!-- <input type="radio" id="star2half" name="rating" value="2 and a half"><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
                        <!-- <input type="radio" id="star2" name="rating" value="2"><label class="full" for="star2" title="Kinda bad - 2 stars"></label> -->
                        <!-- <input type="radio" id="star1half" name="rating" value="1 and a half"><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
                        <!-- <input type="radio" id="star1" name="rating" value="1"><label class="full" for="star1" title="Sucks big time - 1 star"></label> -->
                        <!-- <input type="radio" id="starhalf" name="rating" value="half"><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
                    <!-- </fieldset><div class="" style=" -->
<!-- "> -->
<!-- </div> -->
					<!-- <span style="">4.6 از 5</span> -->

                                <!-- </div> -->
								
								<!-- <div class="emtiazsab" style=""> -->
									<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">امتیاز کارفرمایان</span> -->
<!-- <div class="rectangular"> -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                    
                    <!-- </div> -->
	
					<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">7.2 از 10</span> -->

                                <!-- </div> -->
                                

<!-- </div>	<!-- <div class="detkargoa col-md-6" style=" -->
<!-- ">                                   -->
									<!-- <div class="detkargoar1" style="">      -->
																<!-- <div class="col-md-2 col-xs-12 kargozrmohoimg"> -->

									<!-- <img class="img" src="assets/images/lk1.png"> -->
									<!-- </div> -->
																<!-- <div class="col-md-10 col-xs-12 kargozrmoho"> -->

									<!-- <span class=" h5title fontmedium">ایران تلنت</span> -->
									<!-- <div class="moshahedeprofikargo"> -->
									<!-- <a href="" class="fontlight h6title">مشاهده پروفایل کارگزار</a> -->
									<!-- </div> -->
									<!-- </div> -->

<!-- </div> -->
<!-- <div class="starskargo" style=""> -->
									<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">امتیاز کارجویان</span> -->
<!-- <fieldset class="rating"> -->
                        <!-- <input type="radio" id="star5" name="rating" value="5"><label class="full" for="star5" title="Awesome - 5 stars"></label> -->
                        <!-- <input type="radio" id="star4half" name="rating" value="4 and a half"><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> -->
                        <!-- <input type="radio" id="star4" name="rating" value="4"><label class="full" for="star4" title="Pretty good - 4 stars"></label> -->
                        <!-- <input type="radio" id="star3half" name="rating" value="3 and a half"><label class="half" for="star3half" title="Meh - 3.5 stars"></label> -->
                        <!-- <input type="radio" id="star3" name="rating" value="3"><label class="full" for="star3" title="Meh - 3 stars"></label> -->
                        <!-- <input type="radio" id="star2half" name="rating" value="2 and a half"><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> -->
                        <!-- <input type="radio" id="star2" name="rating" value="2"><label class="full" for="star2" title="Kinda bad - 2 stars"></label> -->
                        <!-- <input type="radio" id="star1half" name="rating" value="1 and a half"><label class="half" for="star1half" title="Meh - 1.5 stars"></label> -->
                        <!-- <input type="radio" id="star1" name="rating" value="1"><label class="full" for="star1" title="Sucks big time - 1 star"></label> -->
                        <!-- <input type="radio" id="starhalf" name="rating" value="half"><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> -->
                    <!-- </fieldset><div class="" style=" -->
<!-- "> -->
<!-- </div> -->
					<!-- <span style="">4.6 از 5</span> -->

                                <!-- </div> -->
								
								<!-- <div class="emtiazsab" style=""> -->
									<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">امتیاز کارفرمایان</span> -->
<!-- <div class="rectangular"> -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-off"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                        <!-- <i class="rectangular-on"></i>                         -->
                    
                    <!-- </div> -->
	
					<!-- <span style=" -->
    <!-- float: right; -->
<!-- ">7.2 از 10</span> -->

                                <!-- </div> -->
                                

<!-- </div> -->
                                </div>									 <div class="arzntagimg">
								<md-tooltip
              md-direction="top">
             کارگذار تست
            </md-tooltip>
                                    <img class="img" src="assets/images/lk2.png" />
                                </div>
								 <div class="arzntagimg">
								 <md-tooltip
              md-direction="top">
             کارگذار تست
            </md-tooltip>
                                    <img class="img" src="assets/images/lk3.png" />
                                </div>		 <div class="arzntagimg">
								<md-tooltip
              md-direction="top">
             کارگذار تست
            </md-tooltip>
                                    <img class="img" src="assets/images/lk4.png" />
                                </div>		 <div class="arzntagimg">
								<md-tooltip
              md-direction="top">
             کارگذار تست
            </md-tooltip>
                                    <img class="img" src="assets/images/lk5.png" />
                                </div>
		  		 
				  

								</div>


</div>



		</div>

		</div>
		

			</div>
			
			<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
			
<a  ng-click="activeTab='tab1'"  class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
<a  ng-click="activeTab='tab3'"  class="nextgam btn h5title fontmedium">تایید و گام بعد »</a>

			</div>
			</div>
		    <div ng-show="activeTab=='tab3'">

 <div class="pgsabtshoglbox"style="width: 100%;">


		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">نوع آزمون روانشناختی</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">
	  <select class="h5title fontlight" >
<option value="azmonshksiat">آزمون شخصیت</option>
</select>


</div>


</div>
		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">جستجوی آزمون</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">

								                            <input class="form-control jostojoazmon" id="profileshoghl" type="text" size="100" ng-model="searchtabname.nametest"></input>
<i class="form-control-feedback fa fa-search"></i>


</div>


</div>
	
<div class="col-md-12 col-xs-12 flexclassazmon">
<div class="withtestazmonh" ng-repeat="x in azmonshaksiyat | filter:searchtabname">
<div></div>
<div class="btn col-xs-12 testbotto h4title fontlight"   ng-class="{'tringledettest' : x.id==detailslogt3.shown}" ng-click="toggleDetails(x.id)" style="text-align: right;padding-right: 15px;">{{x.nametest}}  </div>
		 <div class="col-md-12 col-xs-12 boxdetclass" ng-show="x.id==detailslogt3.shown">
		 <div class="col-md-9 col-xs-9">
		 <div class="row r1boxdetclass h2title fontmedium">{{x.nametest}}</div>
		 <div class="row r2boxdetclass">{{x.desctest}}</div>
		 <div class="row r3boxdetclass">  
<span>		 
		    <button type="button" class="btn greenbtn addtestvakargo aladdazmonp11" ng-click="addtestvakargo(x)">اضافه نمودن</button>
            <button type="button" class="btn greenbtnreverse">مطالعه بیشتر <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
			</span>
			<span class="geymatkargozarr3">
			    <span class="khasneagdtitlch">	مبلغ سرمایه گذاری:</span>
				<span ng-show="geymatkargozarone" class="kasneaggeyjo">{{ geymatkargozar }}ریال</span>
				<span ng-hide="lotfangeymatkargozarone" class="kasneaggeyjo">لطفا کارگذار را انتخاب کنید</span>
								</div>
		</span>
		 </div>
				<div class="col-md-3 col-xs-3" style="padding-left: 0;">
						 <div class="rownom">
<span class="h4title fontlight" style="
    padding-right: 5px;
">کارگزار مورد نظر:</span>
<span>
									<a href="" class="otherkargozar">بقیه کارگزاران</a>
									</span>
									</div>
<div class="row">
<div class="col-md-12 col-xs-12"  style="padding-top: 15px;">
<div class="kargozarentkhabazimg"  ng-repeat="kargozar in x.kargozarha">
<md-tooltip
              md-direction="top">
              {{kargozar.kargozarname}}
            </md-tooltip>
<img class="img" ng-class="{active: kargozar == selected}" src="{{kargozar.kargozaricon}}" ng-click="showgeymatkargozar(kargozar)">
</div>	
								</div>
								</div>
		 				</div>
				</div>
				</div>
				</div>
				
<div style="padding: 5px 30px;"><hr></div>  

<div class="col-md-12  col-xs-12" style="padding: 0;">
<div class="col-md-6  col-xs-12" style="float: left;text-align: left;padding-left: 30px;">
					  <md-checkbox ng-model="formData.gaboldarkhatkarbararzyabinashode" aria-label="Checkbox 5">قبول درخواست های کاربران ارزیابی نشده</md-checkbox>



		</div>
		<div class="col-md-6  col-xs-12" style="float: right;">
						    <span class="textazmonentekhab  h5title fontmedium">آزمون های انتخاب شده:</span>
		</div>
	
				<div class="col-md-12 col-xs-12 kasneaggeyjo">
		<div class="addwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhab" ng-click="removetestvakargo(x)">
<button class="btn testbotto addedbote" > 
  <span style="float: right;padding-right: 15px;">{{x.nametest}}</span>
   <i class="fa fa-check" style="float: left;padding-left: 15px;"></i>

  </button>
				</div>
				</div>
		
		</div>

		
<div class="col-md-12  col-xs-12" style="
    padding: 15px;
">
<div class="col-md-6  col-xs-12" style="float: left;">
<div class="col-md-7 col-xs-10" style="text-align: left;padding: 0;">	
						    <span class="khasneagdtitlch">	مجموع سرمایه گذاری در این مرحله:</span>
								</div>
<div class="col-md-5 col-xs-2 kasneaggeyjo" style="padding: 0;">
<span class="majmosarmayegozarikhas">{{totalazmonravan()}}</span>
<span> ریال</span>
</div>
		</div>
		
		
		</div>
						</div>

			
	<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
<div class="col-md-2 col-xs-2" style="padding: 0;">
<a  ng-click="activeTab='tab2'"  class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
			</div>

<div class="col-md-8  col-xs-8" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10 mablagrescss" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مبلغ کل تا این مرحله:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="majmosarmayegozarikhas">{{totalazmonravan()}}</span>
<span> ریال</span>
</div>

		</div>
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab4'"  class="nextgam btn h5title fontmedium">تایید و گام بعد »</a>

			</div>
						</div>
						</div>
			    <div ng-show="activeTab=='tab4'">
 <div class="pgsabtshoglbox"style="width: 100%;">


		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">نوع آزمون مهارتی</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">
	  <select class="h5title fontlight" >
<option value="azmonshksiat">آزمون مهارت</option>
</select>


</div>


</div>
		        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">جستجوی آزمون</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">

								                            <input class="form-control jostojoazmon" id="profileshoghl" type="text" size="100" ng-model="searchtabname.nametest"></input>
<i class="form-control-feedback fa fa-search"></i>


</div>


</div>
	
<div class="col-md-12 col-xs-12 flexclassazmon">
<div class="withtestazmonh" ng-repeat="x in azmonmaharat | filter:searchtabname">
<div></div>
<div class="btn col-xs-12 testbotto h4title fontlight"   ng-class="{'tringledettest' : x.id==detailslogt3maharat.shown}" ng-click="toggleDetailsmaharat(x.id)" style="text-align: right;padding-right: 15px;">{{x.nametest}}  </div>
		 <div class="col-md-12 col-xs-12 boxdetclass" ng-show="x.id==detailslogt3maharat.shown">
		 <div class="col-md-9 col-xs-9">
		 <div class="row r1boxdetclass h2title fontmedium">{{x.nametest}}</div>
		 <div class="row r2boxdetclass">{{x.desctest}}</div>
		 <div class="row r3boxdetclass">  
<span>		 
		    <button type="button" class="btn greenbtn addtestvakargo aladdazmonp11" ng-click="addtestvakargomaharat(x)">اضافه نمودن</button>
            <button type="button" class="btn greenbtnreverse">مطالعه بیشتر <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
			</span>
	
		
					<span class="geymatkargozarr3">
			    <span class="khasneagdtitlch">	مبلغ سرمایه گذاری:</span>
				<span ng-show="geymatkargozarone" class="kasneaggeyjo">{{ geymatkargozarmaharat }}ریال</span>
				<span ng-hide="lotfangeymatkargozarone" class="kasneaggeyjo">لطفا کارگذار را انتخاب کنید</span>
								</div>
		</span>
		 </div>
				<div class="col-md-3 col-xs-3" style="padding-left: 0;">
						 <div class="rownom">
<span class="h4title fontlight" style="
    padding-right: 5px;
">کارگزار مورد نظر:</span>
<span>
									<a href="" class="otherkargozar">بقیه کارگزاران</a>
									</span>
									</div>
<div class="row">
<div class="col-md-12 col-xs-12"  style="padding-top: 15px;">
<div class="kargozarentkhabazimg"  ng-repeat="kargozarmaharat in x.kargozarha">
<md-tooltip
              md-direction="top">
              {{kargozarmaharat.kargozarname}}
            </md-tooltip>
<img class="img" ng-class="{active: kargozarmaharat == selectedmaharat}" src="{{kargozarmaharat.kargozaricon}}" ng-click="showgeymatkargozarmaharat(kargozarmaharat)">
</div>	
								</div>
								</div>
		 				</div>
				</div>
				</div>
				</div>
				
<div style="padding: 5px 30px;"><hr></div>  

<div class="col-md-12  col-xs-12" style="padding: 0;">
<div class="col-md-6  col-xs-12" style="float: left;text-align: left;padding-left: 30px;">
					  <md-checkbox ng-model="formData.gaboldarkhatkarbararzyabinashodemaharat" aria-label="Checkbox 6">قبول درخواست های کاربران ارزیابی نشده</md-checkbox>

		 



		</div>
		<div class="col-md-6  col-xs-12" style="float: right;">
						    <span class="textazmonentekhab  h5title fontmedium">آزمون های انتخاب شده:</span>
		</div>
	
				<div class="col-md-12 col-xs-12 kasneaggeyjo">
		<div class="addwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhabmaharat" ng-click="removetestvakargomaharat(x)">
<button class="btn testbotto addedbote" > 
  <span style="float: right;padding-right: 15px;">{{x.nametest}}</span>
   <i class="fa fa-check" style="float: left;padding-left: 15px;"></i>

  </button>
				</div>
				</div>
		
		</div>

		
<div class="col-md-12  col-xs-12" style="
    padding: 15px;
">
<div class="col-md-6  col-xs-12" style="float: left;">
<div class="col-md-7 col-xs-10" style="text-align: left;padding: 0;">	
						    <span class="khasneagdtitlch">	مجموع سرمایه گذاری در این مرحله:</span>
								</div>
<div class="col-md-5 col-xs-2 kasneaggeyjo" style="padding: 0;">
<span class="majmosarmayegozarikhas">{{totalazmonmaharat()}}</span>
<span> ریال</span>
</div>
		</div>
		
		
		</div>
						</div>

			
	<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
<div class="col-md-2 col-xs-2" style="padding: 0;">
<a  ng-click="activeTab='tab3'"  class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
			</div>

<div class="col-md-8  col-xs-8" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10 mablagrescss" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مبلغ کل تا این مرحله:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="majmosarmayegozarikhas">{{ totalazmonravan() + totalazmonmaharat()}}</span>
<span> ریال</span>
</div>

		</div>
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab5'"  class="nextgam btn h5title fontmedium">تایید و گام بعد »</a>

			</div>
						</div>
						</div>
			    <div ng-show="activeTab=='tab5'">
 <div class="pgsabtshoglbox"style="width: 100%;">


<div class="searchdatabaser" style="padding-bottom: 15px;">		
					<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">نوع دسته بندی شایستگی ها</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">
	  <select class="h5title fontlight" >
<option value="azmonshksiat">دسته بندی شایستگی</option>
</select>


</div>


</div>
	<!-- 	        <div class="searchdatabaser">
							<div class="col-md-2 col-xs-12">
							    <span class="titlefildsear-tabazmon  h5title fontmedium">جستجوی آزمون</span>
								</div>
															<div class="col-md-10 col-xs-12 padleftminupzero">

								                            <input class="form-control jostojoazmon" id="profileshoghl" type="text" size="100" ng-model="searchtabname.nametest"></input>
<i class="form-control-feedback fa fa-search"></i>


</div>


</div> -->
	<div style="padding: 5px 30px;"><hr></div>  
	
<div class="col-md-12 col-xs-12 flexclassazmon updatemrboxdeshap">
<div class="col-md-12 col-xs-12 flexclassazmon nopaddinglr" ng-repeat="x in azmonshyestegi"  ng-init="outerIndex = $index">
<span class="col-md-12 col-xs-12 fontmedium h4title bluecolor" style="padding-bottom: 10px;">{{x.partname}}</span>
<div class="withtestazmonh" ng-repeat="x in x.parts">
<div></div>
<div class="btn col-xs-12 testbotto h4title fontlight"   ng-class="{'tringledettest' : x.id==detailslogt3shyestegi.shown}" ng-click="toggleDetailsshyestegi(x.id)" style="text-align: right;padding-right: 15px;">{{x.nametest}}  </div>
		 <div class="col-md-12 col-xs-12 boxdetclass" ng-show="x.id==detailslogt3shyestegi.shown">
		 <div class="col-md-12 col-xs-12">
		 <div class="row r1boxdetclass h2title fontmedium">{{x.nametest}}</div>
		 <div class="row r2boxdetclass">{{x.desctest}}</div>
		 <div class="row r3boxdetclass">  
<span>		 
		    <button type="button" class="btn greenbtn addtestvakargo aladdazmonp11" ng-click="addtestvakargoshyestegi(x , outerIndex)">اضافه نمودن</button>
            <button type="button" class="btn greenbtnreverse">مطالعه بیشتر <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>
			</span>

		
					<span class="selectimportant">
					اهمیت
	<i class="fa fa-info-circle" aria-hidden="true"> <md-tooltip
              md-direction="top">
تست تولتیپ            </md-tooltip></i>
			<select class="h5title fontlight" ng-model="selectimportant">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
</select>
								</div>
		</span>
		 </div>

				</div>
				</div>
				</div>
				</div>
				
<div style="padding: 5px 30px;"><hr></div>  

<div class="col-md-12  col-xs-12" style="padding: 0 0 15px;">
<div class="col-md-6  col-xs-12 customwid40" style="float: left;text-align: right;padding-left: 30px;">

						    <span class="bluecolor  h5title fontmedium">انتخاب کارگزار:</span>
		</div>
		<div class="col-md-6  col-xs-12 customwid60" style="float: right;padding-right: 30px;">
						    <span class="  h5title fontmedium">شایستگی های انتخاب شده:</span>
						    <span class="numberentkhansshp bluecolor  h5title fontmedium">{{formData.testentekhabshyestegi.length}} عدد</span>
		</div>
	
				<div class="col-md-12 col-xs-12 kasneaggeyjo customwid60ksd">
		<div class="addwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhabshyestegi" ng-click="removetestvakargoshyestegi(x  , outerIndex)">
<button class="btn testbotto addedbote" > 
  <span style="float: right;padding-right: 15px;">{{x.nametest}}</span>
   <i class="fa fa-check" style="float: left;padding-left: 15px;"></i>

  </button>
				</div>
				</div>
				<div class="col-md-6  col-xs-12 customwid40">
						<div class="col-md-12  col-xs-12 nopaddinglr">
	<div class="selectkargozarshayes" ng-repeat="kargozarshyestegi in kargozarhashyestegi" ng-click="showgeymatkargozarshyestegi(kargozarshyestegi)">
<div class="kargozarshentkhabazimg"  >
<md-tooltip
              md-direction="top">
              {{kargozarshyestegi.kargozarname}}
            </md-tooltip>
<img class="img" ng-class="{active: kargozarshyestegi == selectedshyestegi}" src="{{kargozarshyestegi.kargozaricon}}">
</div>	

				</div>
				</div>
				<div class="detailskargozarhashyestegich col-md-12 col-xs-12 nopaddinglr" ng-show="showgheymatkargozsp">
				<div class="nopaddinglr col-xs-12 col-md-12" ng-repeat="prod2 in formData.detkargozarhashyestegi">
				<div class="col-md-6 col-xs-6 nopaddinglr">
							    <span class="khasneagdtitlch ">
													  <md-checkbox ng-model="orders2.prod2s.prod2[prod2.packtitle]" aria-label="Checkbox{{$index}}">{{prod2.packtitle}}</md-checkbox>

</span>
   						</div>


<div class="col-md-6 col-xs-12 kasneaggeyjo">
<span class="agahikhas2">{{prod2.packprice}}</span>
<span> ریال</span>
</div>    
           
		</div>
		</div>
		</div>
		
		</div>

		
<!-- <div class="col-md-12  col-xs-12" style="
    padding: 15px;
">
<div class="col-md-6  col-xs-12" style="float: left;">
<div class="col-md-7 col-xs-10" style="text-align: left;padding: 0;">	
						    <span class="khasneagdtitlch">	مجموع سرمایه گذاری در این مرحله:</span>
								</div>
<div class="col-md-5 col-xs-2 kasneaggeyjo" style="padding: 0;">
<span class="majmosarmayegozarikhas">{{totalazmonshyestegi()}}</span>
<span> ریال</span>
</div>
		</div>
		
		
		</div> -->
						</div>

			
	<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
<div class="col-md-2 col-xs-2" style="padding: 0;">
<a  ng-click="activeTab='tab4'"  class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
			</div>

<div class="col-md-8  col-xs-8" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10 mablagrescss" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مبلغ کل تا این مرحله:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="majmosarmayegozarikhas">{{ totalazmonravan() + totalazmonmaharat() + totalazmonshyestegi() }}</span>
<span> ریال</span>
</div>

		</div>
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab6'"  class="nextgam btn h5title fontmedium">تایید و گام بعد »</a>

			</div>
						</div>
						</div>
			    <div ng-show="activeTab=='tab6'">

 <div class="pgsabtshoglbox">
					        <div class="searchdatabaser">

<div class="col-md-12 titledesemkanatkhas">برای انتخاب امکانات خاص برای نمایش آگهی خود از این بخش استفاده نمایددددددد</div>
							  

		        <div class="khasnemagaghi" ng-repeat="prod in prodList">
				<div class="col-md-2 col-xs-12">
							    <span class="khasneagdtitlch">
													  <md-checkbox ng-model="orders.prods.prod[prod.title]" aria-label="Checkbox {{$index}}">{{prod.title}}</md-checkbox>

</span>
   						</div>

															<div class="col-md-8 col-xs-8 kasneagdet h5title">

{{prod.description}}
</div>

<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="agahikhas2">{{prod.gift_count}}</span>
<span> ریال</span>
</div>    
           
            
        </div>     
   


    </div>
	<div style="padding: 5px 30px;"><hr></div>  

<div class="col-md-12  col-xs-12" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مجموع سرمایه گذاری در این مرحله:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="majmosarmayegozarikhas">{{totalkhaskardanagahi()}}</span>
<span> ریال</span>
</div>
		</div>
		
    </div>


			
			<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab5'" class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
			</div>

<div class="col-md-8  col-xs-8" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10 mablagrescss" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مبلغ کل تا این مرحله:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo">
<span class="majmosarmayegozarikhas">{{ totalazmonravan() + totalazmonmaharat() + totalazmonshyestegi() + totalkhaskardanagahi() }}</span>
<span> ریال</span>
</div>

		</div>
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab7'" class="nextgam btn h5title fontmedium">تایید و گام بعد »</a>

			</div>
						</div>
						</div>


			

			    <div ng-show="activeTab=='tab7'">

 <div class="pgsabtshoglbox">
					        <div class="searchdatabaser">

<div class="col-md-12 titledesemkanatkhas" style="
    padding-bottom: 15px;
">هم اکنون می توانید مختصر اطلاعات آگهی خود را مشاهده بفرمایید. پس از تایید و پرداخت مبلغ سرمایه گذاری آگهی شما در لیست آخرین آگهی های سامانه قرار خواهد گرفت
</div>
							  
				<div class="col-md-12 col-xs-12">
    <div class="boxsharagahi">
		        <div class="row" style="padding: 15px 0;">
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch ">عنوان جایگاه شغلی</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.onvanjayghahshoghl}}</div>
   				</div>			
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">ساعت کاری</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title"  ng-if="formData.saatkari.roz && formData.saatkari.sataval && formData.saatkari.satdovom" >{{formData.saatkari.roz}} از ساعت  {{formData.saatkari.sataval}} الی {{formData.saatkari.satdovom}} </div>
   				</div>	
                </div>  	
		        <div class="row" style="padding: 15px 0;">
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">موقعیت در جایگاه سازمانی</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.mogeatdarjayghah}}</div>
   				</div>			
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">صنعت مربوطه</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.selectedsanatmarbote}}</div>
   				</div>	
                </div>  		 
		        <div class="row" style="padding: 15px 0;">
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">جنسیت</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.jensiat}}</div>
   				</div>			
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">وضعیت اقامتی</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.vaziateghamati}}</div>
   				</div>	
                </div>  	
		        <div class="row" style="padding: 15px 0;">
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">سن</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.sen}}</div>
   				</div>			
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">وضعیت تاهل</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.vaziattahol}}</div>
   				</div>	
                </div>			
		        <div class="row" style="padding: 15px 0;">
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">شهر</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.shahr}}</div>
   				</div>			
				<div class="col-md-6 col-xs-12">
				<div class="col-md-6 col-xs-6 khasneagdtitlch h5title fontmedium">وضعیت نظام وظیفه</div>
				<div class="col-md-6 col-xs-6 kasneagdet h5title">{{formData.vaziatnezamvazife}}</div>
   				</div>	
                </div>     
   


    </div>
    </div>



				<div  ng-if="formData.testentekhab.nametest" class="col-md-12 col-xs-12 desfinalpazmonha">
				<div class="col-md-2 col-xs-12 khasneagdtitlch h5title fontmedium">ارزیابی روانشناختی</div>
				<div class="col-md-10 col-xs-12 kasneagdet">
				
						<div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhab">
<div class="btn testbotto finalbotdetres" > 
<md-tooltip
              md-direction="top">
              {{x.nametest}}
            </md-tooltip>
<div class="finalbotdetrestext" > 
  <span class="finalbotdetresname">{{x.nametest  | limitTo: 20 }}</span>
  <span class="finalbotdetressath" ng-if="x.sath">{{x.sath}}</span>
    </div>

  <div class="finalbotdetresimg"><img class="img" src="{{x.iconkargozar}}"></div>

  </div>
				</div>
				
				</div>
   				</div>	
		       
			   				<div ng-if="formData.testentekhabmaharat.nametest" class="col-md-12 col-xs-12 desfinalpazmonha">
				<div class="col-md-2 col-xs-12 khasneagdtitlch h5title fontmedium">ارزیابی مهارتی</div>
				<div class="col-md-10 col-xs-12 kasneagdet">
				
						<div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhabmaharat">
<div class="btn testbotto finalbotdetres" > 
<md-tooltip
              md-direction="top">
              {{x.nametest}}
            </md-tooltip>
<div class="finalbotdetrestext" > 
  <span class="finalbotdetresname">{{x.nametest  | limitTo: 20 }}</span>
  <span class="finalbotdetressath" ng-if="x.sath">{{x.sath}}</span>
    </div>

  <div class="finalbotdetresimg"><img class="img" src="{{x.iconkargozar}}"></div>

  </div>
				</div>
				
				</div>
   				</div>	
				
								<div ng-if="formData.testentekhabshyestegi.nametest"  class="col-md-12 col-xs-12 desfinalpazmonha">
				<div class="col-md-2 col-xs-12 khasneagdtitlch h5title fontmedium">ارزیابی شایستگی</div>
				<div class="col-md-10 col-xs-12 kasneagdet">
				
						<div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in formData.testentekhabshyestegi">
<div class="btn testbotto finalbotdetres" > 
<md-tooltip
              md-direction="top">
              {{x.nametest}}
            </md-tooltip>
<div class="finalbotdetrestext" > 
  <span class="finalbotdetresname">{{x.nametest | limitTo: 20 }}</span>
  <span class="finalbotdetressath" ng-if="x.sath">{{x.sath}}</span>
    </div>

  <div class="finalbotdetresimg"><img class="img" src="{{x.iconkargozar}}"></div>

  </div>
				</div>
				
				</div>
   				</div>	
				
				<div class="col-md-12 col-xs-12 desfinalpazmonha">
				<div class="col-md-2 col-xs-12 khasneagdtitlch h5title fontmedium">توضیحات</div>
				<div class="col-md-10 col-xs-12 kasneagdet h5title " style="padding-right: 30px;">{{formData.tozihat}}</div>
   				</div>	
		  
   				</div>	
   				</div>	


   
	 	       

		
		<div class="col-md-12 col-xs-12 btnsnexbacre"  style="padding: 0px;">
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  ng-click="activeTab='tab6'" class="backgam btn h5title fontmedium">« بازگشت به گام قبل</a>
			</div>

<div class="col-md-8  col-xs-8" style="
    padding: 10px 0 15px;
"><div class="col-md-10 col-xs-10 mablagrescss" style="
    text-align: left;
    padding-left: 0;
">							    <span class="khasneagdtitlch">	مبلغ کل قابل پرداخت:</span>
								</div>
<div class="col-md-2 col-xs-2 kasneaggeyjo mablagrescss">
<span class="majmosarmayegozarikhas">{{ totalazmonravan() + totalazmonmaharat() + totalazmonshyestegi() + totalkhaskardanagahi() }}</span>
<span> ریال</span>
</div>

		</div>
<div class="col-md-2 col-xs-2" style="padding: 0;">

<a  href="#" ng-click="addjobfil()" class="nextgam btn h5title fontmedium">پرداخت و ثبت</a>

			</div>
						</div>
						</div>

	
        </div>


									</div>
									</div>

		
			
			
			
			
			
			
			
			</div>