<div ng-controller="acertificatepage">

  <section class="certificate_banner">

    <div class="container">

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-10 fontultralight certificate_name">
        HTML
      </div>
      <div class="clearfix" style="padding: 20px 0;"></div>

      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 fontbold  h4title nopaddinglr certificate_l1">
        زمان:
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-3 fontlight h4title certificate_l2">
        از 36 ساعت تا 200 ساعت
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 fontmedium h5title certificate_l3">
        (کارگزار خود را انتخاب کنید)
      </div>
      <div class="clearfix"></div>

      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2 fontbold  h4title nopaddinglr certificate_l1">
        مبلغ دوره:
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-3 fontlight h4title certificate_l2">
        از 1,500,000 تا 3,000,000 ریال
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5 fontmedium h5title  certificate_l3">
        (کارگزار خود را انتخاب کنید)
      </div>
      <div class="clearfix" style="padding: 30px 0;"></div>

      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nopaddinglr certificate_reg">

        <button type="button" class="btn certificate_reg_btn h4title fontmedium">ثبت نام در دوره</button>

      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 nopaddinglr certificate_sps">

        <div class="certificate_sp">

          <md-tooltip md-direction="top">کارگزار تست</md-tooltip>

          <img class="img" ng-class="{active: kargozarmaharat == selectedmaharat2}" src="http://up.vbiran.ir/uploads/28248151305181032448_shaygan%20tree.png" ng-click="showgeymatkargozarmaharat2(kargozarmaharat)">

        </div>

      </div>
    </div>

    <div class="certificate_line_benner">
     <div class="container">

        <span ng-click="show_certificate_des = !show_certificate_des">

        <span  ng-show="!show_certificate_des">درباره HTML بیشتر بدانید <i class="fa fa-angle-down" aria-hidden="true"></i></span>

        <span ng-show="show_certificate_des">کمتر بخوانید <i class="fa fa-angle-up" aria-hidden="true"></i></span>

        </span>

      </div>

    </div>

    <div class="certificate_des" ng-class="{show_certificate_des: show_certificate_des}">
      <div class="container">
        <h1 class="fontbold">HTML چیست؟</h1>
        <p>شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه
          فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌ها. شی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی
          طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌هاشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود.</p>
      </div>
      <span ng-click="show_certificate_des = !show_certificate_des" ng-show="show_certificate_des" role="button" tabindex="0" aria-hidden="false" style="float: right; margin-bottom: 5px;">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </span>
    </div>

  </section>

  <section class="certificate_pishniaz">

    <div class="container">

      <h2 class="fontbold">دوره های پیش نیاز دوره HTML :</h2>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

      <div class="certificate_btn5 col-xs-12" ng-repeat="x in pishniyaz">
        <div class="btn testbotto finalbotdetres pishniyazbtn">
          <md-tooltip md-direction="top">
            {{x.title}}
          </md-tooltip>
          <div class="finalbotdetrestext">
            <span class="fontlight h5title"><span>{{x.title | limitTo: 20 }}</span></span>
          </div>
        </div>

      </div>
    </div>

    </div>

  </section>

  <section class="certificate_soon">

    <div class="container">

      <h2 class="fontbold">دوره های پیشنهادی نزدیک: </h2>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

      <div class="certificate_btn5 col-xs-12" ng-repeat="x in soon">
        <div class="btn testbotto finalbotdetres ">
          <md-tooltip md-direction="top">
            {{x.title}}
          </md-tooltip>
          <div class="finalbotdetrestext">
            <span class="fontlight h5title"><span>{{x.title | limitTo: 20 }}</span></span>
          </div>
          <div  class="finalbotdetresimg"><img class="img" src="{{x.img}}"></div>
        </div>
      </div>
    </div>

    </div>

  </section>


</div>
