<div ng-controller="jobseekerprofilepage" class="jobseekerprofilepage">

  <div class="container">

    <div class="col-md-12  col-xs-12 serviceprovider">

      <div class="col-md-10 nopaddinglr">

        <div class="col-md-10  col-xs-12 userinfor">

          <div ng-if="ShowForJS()" class="pinjob addjob companyname" ng-click="add(item)" role="button" tabindex="0"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9.6 9.6" style="enable-background:new 0 0 9.6 9.6;" xml:space="preserve"><path d="M8.9,4.1H5.5V0.7C5.5,0.3,5.2,0,4.8,0C4.4,0,4.1,0.3,4.1,0.7v3.4H0.7C0.3,4.1,0,4.4,0,4.8c0,0.4,0.3,0.7,0.7,0.7h3.4v3.4c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V5.5h3.4c0.4,0,0.7-0.3,0.7-0.7C9.6,4.4,9.3,4.1,8.9,4.1L8.9,4.1z M8.9,4.1"/></svg></div>

          <div class="h1title bluecolor companyname fontmedium">{{fullname}}</div>

          <div class="h3title graycolor companyslogan" ng-hide="editorEnabledposition">{{position}} <a ng-if="NotShowForJS()" class="cursorpointer" ng-click="enableEditorposition(editableTitleposition)"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

          <div class="h3title graycolor companyslogan" ng-show="editorEnabledposition">

            <input ng-model="editableTitleposition" ng-show="editorEnabledposition">

            <a class="cursorpointer" ng-click="saveeditposition()"><i class="fa fa-check greencolor" aria-hidden="true"></i></a>

            <a class="cursorpointer" ng-click="disableEditorposition()"><i class="fa fa-times redcolor" aria-hidden="true"></i></a>

          </div>

          <div class="h2title bluecolor companyslogan fontlight">{{email}}</div>

          <div ng-if="ShowForJS()" class="socialprofile notuser" ng-repeat="x in socials">

            <a href="{{x.url}}" class="{{x.social.name}}" ng-style="{'background-image':'url({{x.social.logo}})'}">
              <md-tooltip md-direction="top">{{x.social.fa_name}}</md-tooltip>
            </a>

          </div>

          <div ng-if="NotShowForJS()" class="socialprofile meuser" ng-repeat="x in socials">

            <a ng-click="removesocial(x)" class="{{x.social.name}}" ng-style="{'background-image':'url({{x.social.logo}})'}">
              <md-tooltip md-direction="top">{{x.social.fa_name}}</md-tooltip>
            </a>

          </div>

          <div ng-if="NotShowForJS()" class="socialprofile meuser">

            <a data-toggle="modal" data-target="#ShowPopupEditSocial" class="addsocialbtn">
              <md-tooltip md-direction="top">ویرایش / اضافه</md-tooltip>
            </a>

          </div>

          <div id="ShowPopupEditSocial" class="modal modal-md" role="dialog">

            <div class="modal-dialog">

              <div class="modal-content ">

                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                  <h3>ویرایش / اضافه شبکه های اجتماعی</h3>

                </div>

                <div class="modal-body">
                  <form name="editsocialform" novalidate ng-submit="editsocialform.$valid &&SocialAddEdit()" class="jobpostpfilterbox">
                      <strong>لینک صفحه:</strong>
                      <select class="h5title fontlight" ng-model="idsocial">
                          <option ng-repeat="x in socialnameid" value="{{x.value}}">{{x.key}}</option>
                      </select>
                      <br>
                      <br>

                      <strong>لینک صفحه:</strong><input type="text" name="socialgetlink" ng-model="socialgetlink"> <br/>
                      <br>

                      <button type="submit" class="btn bluebtn">ذخیره</button>
                  </form>



                </div>





              </div>

            </div>

          </div>


        </div>

        <div class="col-md-2  col-xs-12 profilestatus">

          <div class="profilestatusprogress">{{ preciseCurrent || current }}%</div>

          <div class="profilestatusgiftone"><i class="fa fa-gift" aria-hidden="true"></i></div>

          <div class="profilestatusgifttwo"><i class="fa fa-gift" aria-hidden="true"></i></div>

          <round-progress max="max" current="current" color="url(#gradient)" bgcolor="#999999" radius="100" stroke="30" rounded="false" clockwise="true" responsive="true" duration="2000" animation="easeInOutQuart" animation-delay="0" on-render="showPreciseCurrent">

            <svg>

      <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">

      <stop offset="5%"  stop-color="#005B97"/>

      <stop offset="95%" stop-color="#29B473"/>

      </linearGradient>

    </svg></round-progress>

          <div class="profilestatustext h4title bluecolor fontmedium">وضعیت پروفایل</div>



        </div>

      </div>



      <div class="col-md-2 col-xs-12 profileimg">

        <div class="profileimgcl">

          <img src="{{logopic}}">

          <a ng-if="NotShowForJS()" data-toggle="modal" data-target="#ShowPopupUploadLogo" class="titleandicon">

            <div class="editlogohover">

              <div class="titleandicon">

                <i class="fa fa-picture-o" aria-hidden="true"></i> <br> تغییر لوگو

              </div>

            </div>

          </a>

        </div>

        <div id="ShowPopupUploadLogo" class="modal modal-md" role="dialog">

          <div class="modal-dialog">

            <div class="modal-content ">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h3>ویرایش لوگو</h3>

              </div>

              <div class="modal-body">

                <strong>آپلود پروفایل:</strong>

                <button ngf-select ng-model="logopicfile" accept="image/*">

           انتخاب عکس</button>

                <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*" class="cropArea">

                  <img-crop area-type="square" image="logopicfile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">

                  </img-crop>

                </div>

              </div>

              <div class="modal-footer">

                <a class="btn btn-primary" ng-click="savelogo(croppedDataUrl, logopicfile.name)">ذخیره</a>

                <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>

              </div>

            </div>

          </div>

        </div>

        <div class="preminfor">

          <a ng-click="showpupedit()" ng-class="{'greencolor': phone ,'graycolor': phone == null }" class="mobile" href="">
            <md-tooltip md-direction="top">{{phone}}</md-tooltip><i class="fa fa-mobile" aria-hidden="true"></i></a>

          <a ng-click="showpupedit()" ng-class="{'greencolor': phonefix ,'graycolor': phonefix == null }" class="phone" href="">
            <md-tooltip md-direction="top">{{phonefix}}</md-tooltip><i class="fa fa-phone-square" aria-hidden="true"></i></a>

          <a ng-click="showpupedit()" ng-class="{'greencolor': address ,'graycolor': address == null }" class="addressloc" href="">
            <md-tooltip md-direction="top">{{address}}</md-tooltip><i class="fa fa-building" aria-hidden="true"></i></a>

          <a ng-click="showpupedit()" ng-class="{'greencolor': email ,'graycolor': email == null }" class="mail" href="">
            <md-tooltip md-direction="top">{{email}}</md-tooltip><i class="fa fa-envelope" aria-hidden="true"></i></a>

        </div>

        <div id="ShowPopupEditTamas" class="modal modal-md" role="dialog">

          <div class="modal-dialog">

            <div class="modal-content ">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h3>ویرایش اطلاعات تماس</h3>

              </div>

              <div class="modal-body">

                <form name="edittamasform" novalidate ng-submit="edittamasform.$valid &&TamasFormJS()">

                  <strong>تلفن ثابت:</strong><input type="text" name="editphonefix" ng-model="editphonefix"> <br/>

                  <strong>آدرس:</strong><input type="text" name="editaddress" ng-model="editaddress"> <br/>

                  <button type="submit" class="btn bluebtn">ذخیره</button>



                </form>



              </div>





            </div>

          </div>

        </div>

      </div>





    </div>





    <div class="col-md-12 abutemejspp">

      <div class="row">

        <div class="col-md-10 col-xs-12" style="

    margin-top: -45px;

">
          <div class="h2title fontmedium bluecolor" style="padding: 5px 0;">درباره من:</div>

          <p class="pdes graycolor" ng-hide="editorEnabledbio">

            {{mybio}} <a ng-if="NotShowForJS()" class="cursorpointer" ng-click="enableEditorbio(editableTitlebio)"><i class="fa fa-pencil" aria-hidden="true"></i></a>

          </p>

          <p class="pdes graycolor" ng-show="editorEnabledbio">

            <textarea rows="4" cols="50" ng-show="editorEnabledbio" ng-model="editableTitlebio" style="width: 100%;resize: none;"> </textarea>



            <a class="cursorpointer" ng-click="saveeditbio()"><i class="fa fa-check greencolor" aria-hidden="true"></i></a>

            <a class="cursorpointer" ng-click="disableEditorbio()"><i class="fa fa-times redcolor" aria-hidden="true"></i></a>

          </p>

        </div>

        <div class="col-md-2 col-xs-12 textleft">

          <button ng-if="NotShowForJS()" type="button" class="btn upgradeprofile greenbtn fontmedium"><i class="fa fa-share-square-o" aria-hidden="true"></i><span>ارتقـای پروفایل</span></button>

          <button type="button" class="btn increasecredit greenbtnreverse fontmedium"><i class="fa fa-download" aria-hidden="true"></i><span>دریافت پروفایل</span></button>

        </div>

      </div>

    </div>



    <div class="clearfix"></div>
    <div id="ShowPopupgotores" class="modal modal-md" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>انتخاب کارگزار</h3>
          </div>
          <div class="modal-body">

            <div class="kargozarentkhabazimg" ng-repeat="x in spresume" style="width: auto;">

              <md-tooltip md-direction="top">

                {{x.fa_name}}

              </md-tooltip>

              <img class="img" ng-class="{active: x == selectedresumesp}" src="{{x.avatar}}" ng-click="selectkargozarresume(x)">

            </div>

          </div>
          <div style="text-align:  center;padding: 15px 0;border-top: 1px solid #b4b4b3;">
                    <button ng-click="gotocreateres()" type="button" class="btn upgradeprofile greenbtn fontmedium"><span>تکمیل رزومه</span></button>
            </div>
        </div>
      </div>
    </div>


    <div class="col-md-12 coompanyservices jobpagetable">

      <div class="h2title fontmedium bluecolor" style="padding: 5px 0 10px;">ارزیابی های انجام شده:

      </div>



      <div class="col-md-12 col-xs-12 assmereq">


        <div class="col-md-12 col-xs-12 row" style="padding: 20px 0 30px;">
          <div class="col-md-12 col-xs-12 khasneagdtitlch h4title fontmedium">ارزیابی کلی:</div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in azryabires">
            <div class="btn testbotto finalbotdetres ">
              <md-tooltip md-direction="top">
                {{x.title}}
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><span>{{x.title | limitTo: 20 }}</span></span> <span class="finalbotdetressath fontlight" ng-if="x.level">{{x.level}}</span>
              </div>
              <div ng-if="x.img" class="finalbotdetresimg"><img class="img" src="{{x.img}}"></div>
            </div>
          </div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-if="NotShowForJS()" ng-click="gotoresu()">
            <div class="btn testbotto finalbotdetres addbtnpgjp">
              <md-tooltip md-direction="top">
                اضافه نمودن رزومه
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><i class="fa fa-plus-circle" aria-hidden="true"></i><span style="padding-right: 20px;">{{addresscotxt | limitTo: 20 }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 row" style="padding: 20px 0 30px;">
          <div class="col-md-12 col-xs-12 khasneagdtitlch h4title fontmedium">ارزیابی شخصیت:</div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in azryabishaks">
            <div class="btn testbotto finalbotdetres">
              <md-tooltip md-direction="top">
                {{x.title}}
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><span>{{x.title | limitTo: 20 }}</span></span>
                <span class="finalbotdetressath fontlight" ng-if="x.level">{{x.level}}</span>
              </div>
              <div ng-if="x.img" class="finalbotdetresimg"><img class="img" src="{{x.img}}"></div>
            </div>
          </div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-if="NotShowForJS()" ng-click="gotoarzshaks()">
            <div class="btn testbotto finalbotdetres addbtnpgjp">
              <md-tooltip md-direction="top">
                اضافه نمودن ارزیابی شخصیت
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><i class="fa fa-plus-circle" aria-hidden="true"></i><span style="padding-right: 20px;">{{addshakscotxt | limitTo: 20 }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 row" style="padding: 20px 0 30px;">
          <div class="col-md-12 col-xs-12 khasneagdtitlch h4title fontmedium">ارزیابی مهارتی:</div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in azryabimahar">
            <div class="btn testbotto finalbotdetres ">
              <md-tooltip md-direction="top">
                {{x.title}}
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><span>{{x.title | limitTo: 20 }}</span></span> <span class="finalbotdetressath fontlight" ng-if="x.level">{{x.level}}</span>
              </div>
              <div ng-if="x.img" class="finalbotdetresimg"><img class="img" src="{{x.img}}"></div>
            </div>
          </div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-if="NotShowForJS()" ng-click="gotoarzshaks()">
            <div class="btn testbotto finalbotdetres addbtnpgjp">
              <md-tooltip md-direction="top">
                اضافه نمودن مهارت
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><i class="fa fa-plus-circle" aria-hidden="true"></i><span style="padding-right: 20px;">{{addmahrscotxt | limitTo: 20 }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 row" style="padding: 20px 0 30px;">
          <div class="col-md-12 col-xs-12 khasneagdtitlch h4title fontmedium">ارزیابی شایستگی:</div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-repeat="x in azryabishayes">
            <div class="btn testbotto finalbotdetres ">
              <md-tooltip md-direction="top">
                {{x.title}}
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><span>{{x.title | limitTo: 20 }}</span></span> <span class="finalbotdetressath fontlight" ng-if="x.level">{{x.level}}</span>
              </div>
              <div ng-if="x.img" class="finalbotdetresimg"><img class="img" src="{{x.img}}"></div>
            </div>
          </div>
          <div class="finaldetwithtestazmonh col-xs-12" ng-if="NotShowForJS()" ng-click="gotoarzshaks()">
            <div class="btn testbotto finalbotdetres addbtnpgjp">
              <md-tooltip md-direction="top">
                اضافه نمودن شایستگی
              </md-tooltip>
              <div class="finalbotdetrestext">
                <span class="fontlight h6title"><i class="fa fa-plus-circle" aria-hidden="true"></i><span style="padding-right: 20px;">{{addshayesscotxt | limitTo: 20 }}</span></span>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>





    <div class="col-md-12" ng-if="NotShowForJS()">

      <div class="notifications graycolor pull-right">

        <h4>اعلانات:</h4>

        <div class="notificationrow graycolor" ng-repeat="x in notifications">

          <div class="col-md-1 notificationicon">

            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>

          </div>

          <div class="col-md-11 notificationcontent">

            <div ng-bind-html="x.title|trustAsHtml"></div>

          </div>

        </div>

      </div>

    </div>



  </div>

  <div class="clearfix bgforjsppb"></div>



  <div class="ourjobpositions sameposi" ng-if="NotShowForJS()">

    <div class="container">

      <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium">موقعیت های مناسب شما:</div>

      <div class="col-md-4 col-xs-12 jobdetailsbox graycolor" ng-repeat="item in data.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

        <div class="jobdetails fontlight">

          <div class="h6title jobdate graycolor">{{item.created_at | jalaliDate:'jDD / jMMMM / jYY' }}</div>

          <div ng-show="pindedplusshow[$index] || item.bookmarked == null  || item.bookmarked == false" ng-hide="pindedplus[$index] || item.bookmarked == true" class="pinjob addjob" ng-click="add(item,$index)">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9.6 9.6" style="enable-background:new 0 0 9.6 9.6;" xml:space="preserve">
                  <path d="M8.9,4.1H5.5V0.7C5.5,0.3,5.2,0,4.8,0C4.4,0,4.1,0.3,4.1,0.7v3.4H0.7C0.3,4.1,0,4.4,0,4.8c0,0.4,0.3,0.7,0.7,0.7h3.4v3.4c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V5.5h3.4c0.4,0,0.7-0.3,0.7-0.7C9.6,4.4,9.3,4.1,8.9,4.1L8.9,4.1z M8.9,4.1"/>
               </svg>
          </div>
          <div ng-show="pindedcheck[$index] || item.bookmarked == true" class="pinjob removejob" ng-hide="pindedcheckhide[$index] || item.bookmarked == null  || item.bookmarked == false" ng-click="remove(item,$index)"><i class="fa fa-times" aria-hidden="true"></i></div>


          <div class="row rowonejob">

            <div class="col-md-4 col-xs-12 centerjobrespon">

              <div class="companylogo col-md-12 col-xs-12">

                <img src="{{item.employer.avatar}}">

                <md-tooltip md-direction="top">

                  {{item.employer.fa_name}}

                </md-tooltip>

              </div>

              <div class="jobrateuser col-md-12 col-xs-12">

                <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>

              </div>

              <div class="jobratesystem col-md-12 col-xs-12">

                <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>

              </div>

            </div>

            <div class="col-md-8 col-xs-12 paddingjobrespon">

              <div class="h2title bluecolor jobname fontmedium">{{item.title}}</div>

              <div class="h5title graycolor joblocations fontlight"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.city}}</div>

              <div class="h4title bluecolor jobfield">{{item.education}}</div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='FULL_TIME'}">

                <div class="fontlight">

                  تمام وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='PART_TIME'}">

                <div class="fontlight">

                  پاره وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KAR_AMUZI'}">

                <div class="fontlight">

                  کارآموزی

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KARVARZI'}">

                <div class="fontlight">

                  کارورزی

                </div>

              </div>

            </div>

          </div>

          <div class="row rowtwojob">

            <div class="col-md-6 requestforcooperationjob">

              <button ng-click="requestjob(item,$index)" ng-show="requestshow[$index] || item.requested == null  || item.requested == false" ng-hide="requestshowshow[$index] || item.requested == true" type="button" class="btn greenbtn fontmedium"><span>درخواست همکاری</span></button>
              <button ng-click="derequestjob(item,$index)" ng-show="derequestshow[$index] || item.requested == true" ng-hide="derequestshowhide[$index] || item.requested == null  || item.requested == false" type="button" class="btn greenbtn dereq fontmedium"><span>لغو درخواست</span></button>

            </div>

            <div class="col-md-6 readmorejob">

              <button ng-click="showajob(item)" type="button" class="btn greenbtnreverse algnbtnmd fontmedium"><span>مطالعه بیشتر </span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>

            </div>

          </div>

        </div>

      </div>

      <div class="col-md-12">

        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

      </div>

    </div>

  </div>

</div>
