
<div ng-controller="acompanypage">

  <div class="container">

    <div class="col-md-12  col-xs-12 serviceprovider" style="

    padding: 15px;

    padding-right: 0;

">



      <div class="col-md-2 col-xs-12 profileimg">

        <div class="profileimgcl">

          <img src="{{avatar}}">

          <a nf-if="ShowForEMP()" data-toggle="modal" data-target="#ShowPopupUploadLogo" class="titleandicon">

            <div class="editlogohover">

              <div class="titleandicon">

                <i class="fa fa-picture-o" aria-hidden="true"></i> <br> تغییر لوگو

              </div>

            </div>

          </a>

        </div>

        <div id="ShowPopupUploadLogo" class="modal modal-md" role="dialog">

          <div class="modal-dialog">

            <div class="modal-content ">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h3>ویرایش لوگو</h3>

              </div>

              <div class="modal-body">

                <strong>آپلود پروفایل:</strong>

                <button ngf-select ng-model="logopicfile" accept="image/*">

           انتخاب عکس</button>

                <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*" class="cropArea">

                  <img-crop area-type="square" image="logopicfile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">

                  </img-crop>

                </div>

              </div>

              <div class="modal-footer">

                <a class="btn btn-primary" ng-click="savelogo(croppedDataUrl, logopicfile.name)">ذخیره</a>

                <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>

              </div>

            </div>

          </div>

        </div>

        <a data-toggle="modal" data-target="#ShowPopupcharticonuserstatus">

          <div class="charticonuserstatus">

            <i class="fa fa-align-right" aria-hidden="true"></i>

            <span>مشاهده جزئیات</span>

          </div>

        </a>

        <div data-toggle="modal" data-target="#ShowPopupcharticonuserstatus" class="jobrateuser col-md-12 col-xs-12">

          <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>

        </div>

        <div data-toggle="modal" data-target="#ShowPopupcharticonuserstatus" class="jobratesystem col-md-12 col-xs-12">

          <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>

        </div>

      </div>

      <div id="ShowPopupcharticonuserstatus" class="modal modal-md" role="dialog">

        <div class="modal-dialog lgdlogmodal">

          <div class="modal-content " style="

    float: right;

    width: 100%;

">

            <div class="modal-header" style="

    border: 0;

    padding-bottom: 0;

"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

              <span class="h2title bluecolor fontmedium">آمار و اطلاعات تفکیکی شرکت ایران خودرو</span>

            </div>

            <div class="modal-body">

              <div class="backgrounde6">

                <div class="clearfix" style="

    padding: 9px 0;

"></div>

                <div class="col-md-6 col-xs-12">

                  <div class="row">

                    <span class="col-md-7 h5title">میانگین امتیازات کاربران:</span>

                    <span class="col-md-3 h5title">4.2 از 5</span>

                    <span class="col-md-2 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange1" ng-model="showonestarrating1" read-only="showonestaroptions1.readOnly" options="showonestaroptions1"></rate-yo></span>

                  </div>

                </div>

                <div class="col-md-6 col-xs-12">

                  <div class="row">

                    <span class="col-md-4 h5title">میانگین امتیازات شما:</span>

                    <span class="col-md-3 h5title">4.2 از 5</span>

                    <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange1" ng-model="showmulstarrating1" read-only="showmulstaroptions1.readOnly" options="showmulstaroptions1"></rate-yo></span>

                  </div>

                </div>

                <div class="clearfix"></div>

                <div class="col-md-6 col-xs-12">

                  <div class="row">

                    <span class="col-md-12 h5title">میانگین امتیازات کارفرمایان:</span>

                  </div>

                </div>

                <div class="col-md-6 col-xs-12">

                  <div class="row">

                    <span class="col-md-4 h5title"></span>

                    <span class="col-md-3 h5title">7.2 از 10 </span>

                    <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange1" ng-model="showmulrectanrating1" read-only="showmulrectanoptions1.readOnly" options="showmulrectanoptions1"></rate-yo>

	</span>

                  </div>

                </div>



                <div class="clearfix"></div>



              </div>

              <div class="col-md-6 col-xs-12 backgroundf2">

                <div class="h5title fontbold darkgraycolor" style="padding: 15px 0;">امتیاز سیستمی</div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-4 h5title">محیط کاری</span>

                  <span class="col-md-3 h5title">7.2 از 10 </span>

                  <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange2" ng-model="showmulrectanrating2" read-only="showmulrectanoptions2.readOnly" options="showmulrectanoptions2"></rate-yo>

	</span>

                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-4 h5title">مدیریت</span>

                  <span class="col-md-3 h5title">7.2 از 10 </span>

                  <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange3" ng-model="showmulrectanrating3" read-only="showmulrectanoptions3.readOnly" options="showmulrectanoptions3"></rate-yo>

	</span>

                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-4 h5title">حقوق و مزایا</span>

                  <span class="col-md-3 h5title">7.2 از 10 </span>

                  <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange4" ng-model="showmulrectanrating4" read-only="showmulrectanoptions4.readOnly" options="showmulrectanoptions4"></rate-yo>

	</span>

                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-4 h5title">امکان رشد</span>

                  <span class="col-md-3 h5title">7.2 از 10 </span>

                  <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange5" ng-model="showmulrectanrating5" read-only="showmulrectanoptions5.readOnly" options="showmulrectanoptions5"></rate-yo>

	</span>

                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-4 h5title">محیط کاری</span>

                  <span class="col-md-3 h5title">7.2 از 10 </span>

                  <span class="col-md-5 h5title">

        <rate-yo on-set="set" on-change="showmulrectanchange6" ng-model="showmulrectanrating6" read-only="showmulrectanoptions6.readOnly" options="showmulrectanoptions6"></rate-yo>

	</span>

                </div>



              </div>



              <div class="col-md-6 col-xs-12">

                <div class="h5title fontbold darkgraycolor" style="padding: 15px 0;">امتیاز کارجویان</div>

                <div class="h5title fontlight darkgraycolor" style="position: absolute;left: 45px;top: 20px;border-bottom: 1px solid #56ace0;">امتیازات شما</div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-3 h5title linehigh15">محیط کاری</span>

                  <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                  <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange2" ng-model="showonestarrating2" read-only="showonestaroptions2.readOnly" options="showonestaroptions2"></rate-yo></span>

                  <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange2" ng-model="showmulstarrating2" read-only="showmulstaroptions2.readOnly" options="showmulstaroptions2"></rate-yo></span>



                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-3 h5title linehigh15">مدیریت</span>

                  <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                  <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange3" ng-model="showonestarrating3" read-only="showonestaroptions3.readOnly" options="showonestaroptions3"></rate-yo></span>

                  <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange3" ng-model="showmulstarrating3" read-only="showmulstaroptions3.readOnly" options="showmulstaroptions3"></rate-yo></span>



                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-3 h5title linehigh15">حقوق و مزایا</span>

                  <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                  <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange4" ng-model="showonestarrating4" read-only="showonestaroptions4.readOnly" options="showonestaroptions4"></rate-yo></span>

                  <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange4" ng-model="showmulstarrating4" read-only="showmulstaroptions4.readOnly" options="showmulstaroptions4"></rate-yo></span>



                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-3 h5title linehigh15">امکان رشد</span>

                  <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                  <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange5" ng-model="showonestarrating5" read-only="showonestaroptions5.readOnly" options="showonestaroptions5"></rate-yo></span>

                  <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange5" ng-model="showmulstarrating5" read-only="showmulstaroptions5.readOnly" options="showmulstaroptions5"></rate-yo></span>



                </div>

                <div class="row" style="margin-bottom: 15px;">

                  <span class="col-md-3 h5title linehigh15">محیط کاری</span>

                  <span class="col-md-3 h5title linehigh15">4.2 از 5</span>

                  <span class="col-md-1 h5title">     <rate-yo class="mstarbb" on-set="set" on-change="showonestarchange6" ng-model="showonestarrating6" read-only="showonestaroptions6.readOnly" options="showonestaroptions6"></rate-yo></span>

                  <span class="col-md-5 h5title">     <rate-yo class="mstarbbblue" on-set="set" on-change="showmulstarchange6" ng-model="showmulstarrating6" read-only="showmulstaroptions6.readOnly" options="showmulstaroptions6"></rate-yo></span>



                </div>



              </div>



            </div>

            <div class="clearfix"></div>



          </div>

        </div>

      </div>

      <div class="col-md-10 nopaddinglr">

        <div class="col-md-9  col-xs-12 userinfor">

          <div class="h1title bluecolor companyname fontmedium">{{fa_name}}</div>

          <span class="h4title graycolor companysaham fontlight" ng-hide="editorEnabledbusiness_type">({{business_type}}) <a ng-if="ShowForEMP()" class="cursorpointer" ng-click="enableEditorbusiness_type(editableTitlebusiness_type)"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>

          <span class="h4title graycolor companysaham fontlight" ng-show="editorEnabledbusiness_type">

  <input ng-model="editableTitlebusiness_type" ng-show="editorEnabledbusiness_type">

  <a class="cursorpointer" ng-click="saveeditbusiness_type()"><i class="fa fa-check greencolor" aria-hidden="true"></i></a>

  <a class="cursorpointer" ng-click="disableEditorbusiness_type()"><i class="fa fa-times redcolor" aria-hidden="true"></i></a>

</span>
          <div class="h4title bluecolor companyslogan fontlight">{{motto}} <a ng-if="ShowForEMP()" class="cursorpointer" ng-click="enableEditormotto(editableTitlemotto)"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>

          <div class="h4title bluecolor companyslogan fontlight" ng-show="editorEnabledmotto">

            <input ng-model="editableTitlemotto" ng-show="editorEnabledmotto">

            <a class="cursorpointer" ng-click="saveeditmotto()"><i class="fa fa-check greencolor" aria-hidden="true"></i></a>

            <a class="cursorpointer" ng-click="disableEditormotto()"><i class="fa fa-times redcolor" aria-hidden="true"></i></a>

          </div>
          <div ng-if="NotShowForEMP()" class="socialprofile notuser" ng-repeat="x in socials">

            <a href="{{x.url}}" class="{{x.social.name}}" ng-style="{'background-image':'url({{x.social.logo}})'}">
              <md-tooltip md-direction="top">{{x.social.fa_name}}</md-tooltip>
            </a>

          </div>

          <div ng-if="ShowForEMP()" class="socialprofile meuser" ng-repeat="x in socials">

            <a ng-click="removesocial(x)" class="{{x.social.name}}" ng-style="{'background-image':'url({{x.social.logo}})'}">
              <md-tooltip md-direction="top">{{x.social.fa_name}}</md-tooltip>
            </a>

          </div>

          <div ng-if="ShowForEMP()" class="socialprofile meuser">

            <a data-toggle="modal" data-target="#ShowPopupEditSocial" class="addsocialbtn">
              <md-tooltip md-direction="top">ویرایش / اضافه</md-tooltip>
            </a>

          </div>
        </div>

        <div id="ShowPopupEditSocial" class="modal modal-md" role="dialog">

          <div class="modal-dialog">

            <div class="modal-content ">

              <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h3>ویرایش / اضافه شبکه های اجتماعی</h3>

              </div>

              <div class="modal-body">
                <form name="editsocialform" novalidate ng-submit="editsocialform.$valid &&SocialAddEdit()" class="jobpostpfilterbox">
                  <strong>نوع شبکه:</strong>
                  <select class="h5title fontlight" ng-model="idsocial">
                <option ng-repeat="x in socialnameid" value="{{x.value}}">{{x.key}}</option>
            </select>
                  <br>
                  <br>

                  <strong>لینک صفحه:</strong><input type="text" name="socialgetlink" ng-model="socialgetlink"> <br/>
                  <br>

                  <button type="submit" class="btn bluebtn">ذخیره</button>
                </form>



              </div>





            </div>

          </div>

        </div>




        <div class="col-md-3 col-xs-12 companygl">

          <button type="button" ng-if="ShowForEMP()"class="btn upgradeprofile greenbtn fontmedium"><span>افزدون به علاقه مندی</span></button>

          <button type="button" ng-click="GalleryEmpClick()" class="btn increasecredit greenbtnreverse fontmedium"><i class="fa fa-picture-o" aria-hidden="true"></i><span>گالری تصاویر</span></button>

          <div id="ShowPopupCrateGallery" class="modal modal-md" role="dialog">

            <div class="modal-dialog">

              <div class="modal-content ">

                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                  <h3>گالری تصاویر</h3>

                </div>

                <div class="modal-body">

                  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" ng-repeat="x in empgallery">
                    <img src="" alt="{{x.title}}">

                  </div>

                  <div class="addimagegallerybody" ng-show="addimagegallerybody">
                    <strong>آپلود پروفایل:</strong>

                    <button ngf-select ng-model="logopicfile" accept="image/*">

               انتخاب عکس</button>

                    <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*" class="cropArea">

                      <img-crop area-type="square" image="logopicfile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">

                      </img-crop>

                    </div>
                    <a class="btn btn-primary" ng-click="savelogo(croppedDataUrl, logopicfile.name)">ذخیره</a>
                  </div>



                </div>

                <div class="modal-footer">


                  <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>

                </div>

              </div>

            </div>

          </div>



          <span class="preminfor">

<a class="credit-card" ng-class="{'greencolor': padash == true ,'graycolor': padash == false }"><md-tooltip md-direction="top">پاداش</md-tooltip><i class="fa fa-credit-card" aria-hidden="true"></i></a>

<a class="gift" ng-class="{'greencolor': advantage == true ,'graycolor': advantage == false }" ><md-tooltip md-direction="top">مزایا</md-tooltip><i class="fa fa-gift" aria-hidden="true"></i></a>

<a class="life-ring" ng-class="{'greencolor': vaam == true ,'graycolor': vaam == false }" ><md-tooltip md-direction="top">وام</md-tooltip><i class="fa fa-life-ring" aria-hidden="true"></i></a>

<a class="fa-shieldic"  ng-class="{'greencolor': assurance == true ,'graycolor': assurance == false }" ><md-tooltip md-direction="top">بیمه</md-tooltip><i class="fa fa-shield" aria-hidden="true"></i></a>

</span>

        </div>

        <div class="col-md-12 col-xs-12 spcontactdetbox nopaddingleft">

          <div class="col-md-12 col-xs-12 h5title fontlight graycolor spcontactdet">

            <div class="col-md-2">

              <p><i class="fa fa-phone-square" aria-hidden="true"></i>{{phone}}</p>

              <p style="margin: 0;"><i class="fa fa-fax" aria-hidden="true"></i> {{fax}}</p>

            </div>

            <div class="col-md-7">

              <p><i class="fa fa-building" aria-hidden="true"></i> {{address}}</p>

              <p style="margin: 0;"><i class="fa fa-industry" aria-hidden="true"></i> {{second_address}}</p>

            </div>

            <div class="col-md-3">

              <p><i class="fa fa-envelope" aria-hidden="true"></i> {{email}}</p>

              <p style="margin: 0;"><i class="fa fa-external-link-square" aria-hidden="true"></i> {{web_site}}</p>

            </div>



          </div>



        </div>

      </div>

    </div>





    <div class="clearfix"></div>

    <div class="col-md-12">

      <div class="row">

        <div class="col-md-9 col-xs-12">

          <div class="h2title fontmedium bluecolor" style="padding: 5px 0;">معرفی شرکت:</div>

          <ul class="companymore">

            <p class="pdes graycolor" ng-hide="editorEnabledbio">

              {{mybio}} <a ng-if="ShowForEMP()" class="cursorpointer" ng-click="enableEditorbio(editableTitlebio)"><i class="fa fa-pencil" aria-hidden="true"></i></a>

            </p>

            <p class="pdes graycolor" ng-show="editorEnabledbio">

              <textarea rows="4" cols="50" ng-show="editorEnabledbio" ng-model="editableTitlebio" style="width: 100%;resize: none;"> </textarea>



              <a class="cursorpointer" ng-click="saveeditbio()"><i class="fa fa-check greencolor" aria-hidden="true"></i></a>

              <a class="cursorpointer" ng-click="disableEditorbio()"><i class="fa fa-times redcolor" aria-hidden="true"></i></a>

            </p>

          </ul>

        </div>

        <div class="col-md-3 col-xs-12">

          <div class="companystatistics">

            <p>نوع صنعت:</p>

            <p>{{industry_type}}</p>

            <p>سال تاسیس:</p>

            <p>{{foundation_year}}</p>

            <p>تعداد کارمندان:</p>

            <p>{{employee_count}}</p>

            <p>محل فعالیت:</p>

            <p>{{city}}</p>

            <!--                             <p>نرخ پذیرش:</p>

                            <p>32 درصد</p> -->
          </div>

        </div>

      </div>

    </div>



    <div class="clearfix"></div>

    <div class="col-md-12 coompanyservices">

      <div class="h2title fontmedium bluecolor" style="padding: 5px 0 10px;">محصولات و خدمات:</div>

      <div class="row">

        <div class="col-md-3 col-xs-6" ng-repeat="x in productsandservices">

          <div ng-if="ShowForEMP()" class="pinjob removejob delicon" ng-click="deleteservice(x)" style="display: inline-block;"><i class="fa fa-trash-o" aria-hidden="true"></i></div>


          <img src="{{x.image_path}}" class="coompanyservice">

          <p>{{x.title}}</p>



        </div>

        <div ng-if="ShowForEMP()" ng-click="ShowCrateService()" class="col-md-3 col-xs-6">
          <img src="https://cdn.pixabay.com/photo/2014/04/02/10/55/plus-304947_1280.png" class="coompanyservice">
          <p>اضافه کردن محصول</p>
        </div>

      </div>

    </div>



    <div id="ShowPopupCreateService" class="modal modal-md" role="dialog">

      <div class="modal-dialog">

        <div class="modal-content ">

          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>اضافه کردن محصول</h3>

          </div>

          <div class="modal-body">

            <strong>آپلود پروفایل:</strong>

            <button ngf-select ng-model="logopicfile" accept="image/*">

       انتخاب عکس</button>

            <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*" class="cropArea">

              <img-crop area-type="square" image="logopicfile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">

              </img-crop>

            </div>

            <br />

            <strong>نام محصول:</strong><input type="text" ng-model="servicename" required>

            <br />

            <strong>نام محصول:</strong><input type="text" ng-model="servicedisc" required>

          </div>

          <div class="modal-footer">

            <a class="btn btn-primary" ng-click="createservice(croppedDataUrl, logopicfile.name)">ذخیره</a>

            <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>

          </div>

        </div>

      </div>

    </div>



    <div class="clearfix"></div>

    <div class="col-md-12 coompanyservices">

      <div class="h2title fontmedium bluecolor" style="padding: 5px 0;">برندهای ما:</div>

      <div class="clearfix"></div>



      <div class="col-md-2 mybrandemp" ng-repeat="x in ourbrands">
        <div ng-if="ShowForEMP()" class="pinjob removejob delicon" ng-click="deletebrand(x)" style="display: inline-block;"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
        <img ng-repeat="x in ourbrands" class="brand-img" src="{{x.image_path}}">
      </div>

      <div ng-if="ShowForEMP()" ng-click="ShowCrateBrand()" class="col-md-2 mybrandemp">
        <img class="brand-img" src="https://cdn.pixabay.com/photo/2014/04/02/10/55/plus-304947_1280.png">
      </div>

    </div>

    <div id="ShowPopupCreateBrand" class="modal modal-md" role="dialog">

      <div class="modal-dialog">

        <div class="modal-content ">

          <div class="modal-header">

            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            <h3>اضافه کردن برند</h3>

          </div>

          <div class="modal-body">

            <strong>آپلود پروفایل:</strong>

            <button ngf-select ng-model="logopicfile" accept="image/*">

       انتخاب عکس</button>

            <div ngf-drop ng-model="logopicfile" ngf-pattern="image/*" class="cropArea">

              <img-crop area-type="square" image="logopicfile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">

              </img-crop>

            </div>

          </div>

          <div class="modal-footer">

            <a class="btn btn-primary" ng-click="createbrand(croppedDataUrl, logopicfile.name)">ذخیره</a>

            <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">بستن</a>

          </div>

        </div>

      </div>

    </div>

    <div class="clearfix"></div>



    <div class="clearfix"></div>
    <!--
<div class="col-md-12 upstreamcompany" ng-repeat="x in companychart" >

                <div class="row">

                    <div class="col-md-2">

                        <div class="h2title fontmedium bluecolor" style="padding: 15px 0 15px;">شرکت بالادستی:</div>

                        <div class="upstream">

                            <img src="{{x.upimg}}" title="" alt="">

                        </div>

                    </div>

                    <div class="col-md-2">

<div class="" style="

    margin-top: 55px;

"></div>                        <div class="upstreamo">

                            <div>

                                <img src="{{x.mainimg}}" title="" alt="">

                            </div>

                        </div>

                    </div>

                    <div class="col-md-8">

                        <div class="h2title fontmedium bluecolor" style="padding: 15px 0 15px;">شرکت های زیرمجموعه:</div>

                        <div class="upstream textright">

                            <img  ng-repeat="x in x.downimg" src="{{x.img}}" title="{{x.name}}" alt=" {{x.name}}">

                        </div>

                    </div>

                </div>

</div>


 -->


    <div class="clearfix"></div>

    <div class="clearfix"></div>





  </div>



  <div class="ourjobpositions">

    <div class="container">
      <div class="col-md-12 col-xs-12 h2title bluecolor fontmedium">موقعیت های شغلی ما:</div>

      <div class="col-md-4 col-xs-12 jobdetailsbox graycolor" ng-repeat="item in jobsdata.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">

        <div class="jobdetails fontlight">

          <div class="h6title jobdate graycolor">{{item.created_at | jalaliDate:'jDD / jMMMM / jYY' }}</div>
          <div ng-show="pindedplusshow[$index] || item.bookmarked == null  || item.bookmarked == false" ng-hide="pindedplus[$index] || item.bookmarked == true" class="pinjob addjob" ng-click="add(item,$index)">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 9.6 9.6" style="enable-background:new 0 0 9.6 9.6;" xml:space="preserve">
                  <path d="M8.9,4.1H5.5V0.7C5.5,0.3,5.2,0,4.8,0C4.4,0,4.1,0.3,4.1,0.7v3.4H0.7C0.3,4.1,0,4.4,0,4.8c0,0.4,0.3,0.7,0.7,0.7h3.4v3.4c0,0.4,0.3,0.7,0.7,0.7c0.4,0,0.7-0.3,0.7-0.7V5.5h3.4c0.4,0,0.7-0.3,0.7-0.7C9.6,4.4,9.3,4.1,8.9,4.1L8.9,4.1z M8.9,4.1"/>
               </svg>
          </div>
          <div ng-show="pindedcheck[$index] || item.bookmarked == true" class="pinjob removejob" ng-hide="pindedcheckhide[$index] || item.bookmarked == null  || item.bookmarked == false" ng-click="remove(item,$index)"><i class="fa fa-times" aria-hidden="true"></i></div>

          <div class="row rowonejob">

            <div class="col-md-4 col-xs-12 centerjobrespon">

              <div class="companylogo col-md-12 col-xs-12">

                <img src="{{item.employer.avatar}}">

                <md-tooltip md-direction="top">

                  {{item.employer.fa_name}}

                </md-tooltip>

              </div>

              <div class="jobrateuser col-md-12 col-xs-12">

                <rate-yo class="mstarbb" on-set="set" on-change="showpagestarchange" ng-model="showpagestarrating" read-only="showpagestaroptions.readOnly" options="showpagestaroptions"></rate-yo>

              </div>

              <div class="jobratesystem col-md-12 col-xs-12">

                <rate-yo on-set="set" on-change="showpagerectanchange" ng-model="showpagerectanrating" read-only="showpagerectanoptions.readOnly" options="showpagerectanoptions"></rate-yo>

              </div>

            </div>

            <div class="col-md-8 col-xs-12 paddingjobrespon">

              <div class="h2title bluecolor jobname fontmedium">{{item.title}}</div>

              <div class="h5title graycolor joblocations fontlight"><i class="fa fa-map-marker" aria-hidden="true"></i>{{item.city}}</div>

              <div class="h4title bluecolor jobfield">{{item.education}}</div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='FULL_TIME'}">

                <div class="fontlight">

                  تمام وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_time=='PART_TIME'}">

                <div class="fontlight">

                  پاره وقت

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KAR_AMUZI'}">

                <div class="fontlight">

                  کارآموزی

                </div>

              </div>

              <div class="col-md-2 h6title typeofcooperation fontlight graycolor" ng-class="{'active' : item.coop_type=='KARVARZI'}">

                <div class="fontlight">

                  کاروندی

                </div>

              </div>

            </div>

          </div>

          <div class="row rowtwojob">

            <div class="col-md-6 requestforcooperationjob">

              <button ng-click="requestjob(item,$index)" ng-show="requestshow[$index] || item.requested == null  || item.requested == false" ng-hide="requestshowshow[$index] || item.requested == true" type="button" class="btn greenbtn fontmedium"><span>درخواست همکاری</span></button>
              <button ng-click="derequestjob(item,$index)" ng-show="derequestshow[$index] || item.requested == true" ng-hide="derequestshowhide[$index] || item.requested == null  || item.requested == false" type="button" class="btn greenbtn dereq fontmedium"><span>لغو درخواست</span></button>

            </div>

            <div class="col-md-6 readmorejob">

              <button ng-click="showajob(item)" type="button" class="btn greenbtnreverse algnbtnmd fontmedium"><span>مطالعه بیشتر </span><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></button>

            </div>

          </div>

        </div>

      </div>




      <div class="col-md-12">

        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

      </div>

    </div>

  </div>

</div>
