				   <div ng-controller="jobsalbum">

    <div class="container">
			 <div class="clearfix"></div>

        <h3 class="col-md-12 col-xs-12  fontmedium bluecolor ">مشاغل پرتقاضا در بازار کار</h3>
            <div class="col-md-3 col-xs-4 jobnameinjalbum" ng-repeat="job in highdemandjobs">
			<i class="fa fa-angle-double-left graycolor" aria-hidden="true"></i>
                <a href="{{job.link}}" class="h4title fontmedium graycolor">{{job.name}}</a>
         </div>  

		 <div class="clearfix"></div>

		 <h3 class="col-md-12 col-xs-12  fontmedium bluecolor ">مشاغل پرطرفدار بین کارجویان</h3>
            <div class="col-md-3  col-xs-4 jobnameinjalbum" ng-repeat="job in popularjobs">
			<i class="fa fa-angle-double-left graycolor" aria-hidden="true"></i>
                <a href="{{job.link}}" class="h4title fontmedium graycolor">{{job.name}}</a>
         </div>
		 
		 
		 <div class="clearfix"></div>
		 <div class="clearfix"></div>

		 <div class="col-md-9 col-xs-12 h1title  fontmedium bluecolor ">دسته بندی مشاغل</div>
				<div class="col-md-3 col-xs-12 searchjobcategory">
<input class="form-control" placeholder="عنوان جستجو" type="text" size="100" ng-model="searchjob.subjobcategories.name"></input>
<i class="form-control-feedback fa fa-search"></i>
</div>

<div class="col-md-12 col-xs-12   jobcategoryparent">
<div class="jobcategory" ng-repeat="x in jobcategories  | filter:searchjob">
<div class="col-md-12 col-xs-12 jobcategoryname fontmedium"   ng-class="{'arrowjobcategory' : x.namecat==detailslogt3.shown}" ng-click="toggleDetails(x.namecat)" style="text-align: right;padding-right: 15px;">
{{x.namecat}}
</div>
		 <div class="col-md-12 col-xs-12 jobcategorybox" ng-show="x.namecat==detailslogt3.shown">
            <div class="col-md-3  col-xs-4 jobnameinjalbum" ng-repeat="job in x.subjobcategories | filter:searchjob.subjobcategories.name">
			<i class="fa fa-angle-double-left graycolor" aria-hidden="true"></i>
                <a href="{{job.link}}" class="h4title fontmedium graycolor">{{job.name}}</a>
         </div>
		 
				</div>
				</div>
				</div>
				
						 <div class="clearfix"></div>
		 <div class="clearfix"></div>


    </div>
    </div>

